<div id="watch8-action-buttons" class="watch-action-buttons clearfix">
    <div id="watch8-secondary-actions" class="watch-secondary-actions yt-uix-button-group" data-button-toggle-group="optional">
    {% from "/common/uix/button.twig" import render as button %}
    {%- for actionButton in info.actionButtons -%}
        {{ button(actionButton) }}
    {%- endfor -%}
    <div class="yt-uix-menu ">
        <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-opacity yt-uix-button-has-icon no-icon-markup pause-resume-autoplay yt-uix-menu-trigger yt-uix-tooltip" type="button" onclick=";return false;" title="More actions" aria-haspopup="true" aria-pressed="false" id="action-panel-overflow-button" role="button" aria-label="Action menu."><span class="yt-uix-button-content">More</span></button>
        <div class="yt-uix-menu-content yt-ui-menu-content yt-uix-menu-content-hidden" role="menu">
            <ul id="action-panel-overflow-menu">
                <li>
                <span class="yt-uix-clickcard" data-card-class=report-card>
                    <button type="button" class="yt-ui-menu-item has-icon action-panel-trigger action-panel-trigger-report report-button yt-uix-clickcard-target"
                        data-orientation="horizontal" data-position="topright">
                    <span class="yt-ui-menu-item-label">Report</span>
                    </button>
                    <div class="signin-clickcard yt-uix-clickcard-content">
                        <h3 class="signin-clickcard-header">Need to report the video?</h3>
                        <div class="signin-clickcard-message">
                            Sign in to report inappropriate content.
                        </div>
                        <a  href="https://accounts.google.com/ServiceLogin?hl=en&amp;service=youtube&amp;uilel=3&amp;continue=https%3A%2F%2Fwww.youtube.com%2Fsignin%3Fnext%3D%252Fwatch%253Fv%253DdQw4w9WgXcQ%26hl%3Den%26feature%3D__FEATURE__%26app%3Ddesktop%26action_handle_signin%3Dtrue&amp;passive=true" class="yt-uix-button  signin-button  yt-uix-button-primary yt-uix-button-size-default"><span class="yt-uix-button-content">Sign in</span></a>
                    </div>
                </span>
                </li>
            </ul>
        </div>
    </div>
    </div>
    <div id="watch8-sentiment-actions">
    <div id="watch7-views-info">
        <div class="watch-view-count{{ yt.page.isLive ? " metadata-updateable-viewership" }}">{{ info.viewCount }}</div>
        {% if info.likeButtonRenderer.sparkbars %}
        <div class="video-extras-sparkbars">
            <div class="video-extras-sparkbar-likes" style="width: {{ info.likeButtonRenderer.sparkbars.likePercent }}%"></div>
            <div class="video-extras-sparkbar-dislikes" style="width: {{ info.likeButtonRenderer.sparkbars.dislikePercent }}%"></div>
        </div>
        {% endif %}
    </div>
    {% set likeButton = info.sentimentActions.likeButton %}
    {% set dislikeButton = info.sentimentActions.dislikeButton %}
    {# TODO: refined clickcards #}
    <span class="like-button-renderer {{ yt.signin.isSignedIn ? "actionable" }}" data-button-toggle-group="optional" {{ yt.signin.isSignedIn ? "data-logged-in=\"1\"" }}>
        {# This isn't iterable oops #}
        {%- if yt.signin.isSignedIn -%}
        <span>
        {%- endif -%}
        {{ button(info.likeButtonRenderer.likeButton) }}
        {%- if yt.signin.isSignedIn -%}
        </span>
        <span>
        {%- endif -%}
        {{ button(info.likeButtonRenderer.activeLikeButton) }}
        {%- if yt.signin.isSignedIn -%}
        </span>
        <span>
        {%- endif -%}
        {{ button(info.likeButtonRenderer.dislikeButton) }}
        {%- if yt.signin.isSignedIn -%}
        </span>
        <span>
        {%- endif -%}
        {{ button(info.likeButtonRenderer.activeDislikeButton) }}
        {%- if yt.signin.isSignedIn -%}
        </span>
        {%- endif -%}
    </span>
    </div>
</div>