<div id="watch8-action-buttons" class="watch-action-buttons clearfix">
    <div id="watch8-secondary-actions" class="watch-secondary-actions yt-uix-button-group" data-button-toggle-group="optional">
    {% from "/common/uix/button.twig" import render as button %}
    {%- for actionButton in info.actionButtons -%}
        {{ button(actionButton) }}
    {%- endfor -%}
    </div>
    <div id="watch8-sentiment-actions">
    <div id="watch7-views-info">
        {% if info.viewCount %}
        <div class="watch-view-count{{ yt.page.isLive ? " metadata-updateable-viewership" }}">{{ info.viewCount }}</div>
        {% endif %}
        {% if info.likeButtonRenderer.sparkbars %}
        <div class="video-extras-sparkbars">
            <div class="video-extras-sparkbar-likes" style="width: {{ info.likeButtonRenderer.sparkbars.likePercent }}%"></div>
            <div class="video-extras-sparkbar-dislikes" style="width: {{ info.likeButtonRenderer.sparkbars.dislikePercent }}%"></div>
        </div>
        {% endif %}
    </div>
    {% set likeButton = info.sentimentActions.likeButton %}
    {% set dislikeButton = info.sentimentActions.dislikeButton %}
    {# TODO: refined clickcards #}
    <span class="like-button-renderer {{ yt.signin.isSignedIn ? "actionable" }}" data-button-toggle-group="optional" {{ yt.signin.isSignedIn ? "data-logged-in=\"1\"" }}>
        {# This isn't iterable oops #}
        {%- if yt.signin.isSignedIn -%}
        <span>
        {%- endif -%}
        {{ button(info.likeButtonRenderer.likeButton) }}
        {%- if yt.signin.isSignedIn -%}
        </span>
        <span>
        {%- endif -%}
        {{ button(info.likeButtonRenderer.activeLikeButton) }}
        {%- if yt.signin.isSignedIn -%}
        </span>
        <span>
        {%- endif -%}
        {{ button(info.likeButtonRenderer.dislikeButton) }}
        {%- if yt.signin.isSignedIn -%}
        </span>
        <span>
        {%- endif -%}
        {{ button(info.likeButtonRenderer.activeDislikeButton) }}
        {%- if yt.signin.isSignedIn -%}
        </span>
        {%- endif -%}
    </span>
    </div>
</div>