<div id="watch-header" class="yt-card yt-card-has-padding">
    <div id="watch7-headline" class="clearfix">
       {% if info.hashtags or info.superTitle %}
          <span class="standalone-collection-badge-renderer-text">
             {% if info.superTitle %}
                {% for link in info.superTitle.items %}
                   <a class="spf-link" href="{{ link.url }}">{{ link.text }}</a>
                {% endfor %}
             {% endif %}
             {% if info.hashtags %}
                {% for hashtag in info.hashtags %}
                   <a href="/results?search_query={{ hashtag }}">#{{ hashtag }}</a>
                {% endfor %}
             {% endif %}
          </span>
       {% endif %}
       <div id="watch-headline-title">
          <h1 class="watch-title-container">
             {% if info.badges[0].metadataBadgeRenderer.icon.iconType == "PRIVACY_UNLISTED" %}
             <span id="watch-privacy-icon" class="yt-uix-tooltip yt-uix-tooltip-reverse unlisted" title="This video is unlisted. Only those with the link can see it." tabindex="0" data-tooltip-text="This video is unlisted. Only those with the link can see it." aria-labelledby="yt-uix-tooltip41-arialabel">
                <span class="privacy-icon yt-sprite"></span>
             </span>
             {% endif %}
             <span id="eow-title" class="watch-title" dir="ltr" title="{{ getText(info.title) }}">
             {% for run in info.title.runs %}
                {% if run.navigationEndpoint %}
                <a {{ getUrl(run)|first == "/" ? 'class="spf-link" ' }}href="{{ getUrl(run) }}">
                {% endif %}
                {{ run.text }}
                {% if run.navigationEndpoint %}
                </a>
                {% endif %}
             {% endfor %}
             </span>
          </h1>
       </div>
    </div>
    {% include '/common/watch/watch7/user_header.twig' %}
    {% include '/common/watch/watch8/action_buttons.twig' %}
</div>
{% include '/common/watch/watch8/action_panels_module.twig' %}