{##
 # Implements the common thumb wrapper.
 #
 # This is responsible for bringing all elements together
 # and forming the reusable component 
 #
 # @author Taniko Yamamoto <kirasicecreamm@gmail.com>
 #}

{##
 # @private   
 #}
{%- macro _abstract(class, data) -%}
    {% from "/common/thumb/abstract_thumb_anchor.twig" import renderDefault as renderThumbnail %}

    {% set thumbnailWidth = data.width %}
    {% set videoData = data.videoData %}
    {% set thumbnailSrc = getThumb(videoData, thumbnailWidth) %}
    {% if videoData.lengthText %}
        {% set lengthText = getText(videoData.lengthText) %}
    {% endif %}

    {# Check if the add to overlay is present. #}
    {% if getWLOverlay(videoData) is not null %}
        {% set containsAddTo = true %}
    {% endif %}
    
    <span class="{{ class }} ux-thumb-wrap {{ containsAddTo ? "contains-addto" }}">
      {{ renderThumbnail({
          src: thumbnailSrc,
          width: thumbnailWidth,
          lengthText: lengthText,
          videoData: videoData
      }) }}
      <span class="thumb-menu dark-overflow-action-menu video-actions">
      </span>


      <button
        class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button-sign-in yt-uix-tooltip"
        type="button" onclick=";return false;" role="button" title="Watch later"
        data-button-menu-id="shared-addto-watch-later-login" data-video-ids="{{ yt.page.videoId }}"><span
          class="yt-uix-button-arrow yt-sprite"></span></button>
    </span>
{%- endmacro -%}

{##
 # Build a thumb wrapper
 #
 # data:
       {
           width,
           videoData
       }
 #}
{%- macro ux_thumb_wrap(data, class = "") -%}
    <div>
        {{ _self._abstract(class, data) }}
    </div>
{%- endmacro -%}