{% import "common/uix/load_more_button.twig" as load_more %}
{{ contentType("application/json") }}
{
    {% if yt.nextContinuation %}
    "load_more_widget_html": {{ load_more.render(yt.nextContinuation, yt.target)|json_encode|raw }},
    {% endif %}
    "content_html": {%- apply json_encode|raw -%}
    {% if yt.page.shelfList %}
        {% import "common/uix/shelf_old.twig" as shelf %}
        {% for shelf in yt.page.shelfList %}
            {{ shelf.compact(shelf) }}
        {% endfor %}
    {% elseif yt.page.lockupList %}
        {% import "common/uix/lockup.twig" as lockup %}
        {% for item in yt.page.lockupList %}
            {% if item.gridVideoRenderer or item.gridPlaylistRenderer %}
                <li class="channels-content-item yt-shelf-grid-item">
                    {{ lockup.grid(item) }}
                </li>
            {% elseif item.videoRenderer or item.playlistRenderer %}
                <li class="expanded-shelf-content-item-wrapper">
                    <div class="expanded-shelf-content-item">
                        {{ lockup.tile(item) }}
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endapply %}
}