{%- from "common/browse/item_section.twig" import render as item_section -%}
{%- import "common/uix/lockup.twig" as lockup -%}
{%- from "common/playlist/pl_video.twig" import render as pl_video -%}
{
    {%- if yt.page.continuation -%}
    {%- import "common/uix/load_more_button.twig" as load_more -%}
    "load_more_widget_html": {{ load_more.render(yt.page.continuation, yt.page.target)|json_encode|raw }},
    {%- endif -%}
    "content_html": {%- apply json_encode|raw -%}
    {%- for item in yt.page.items -%}
    {%- if item.itemSectionRenderer -%}
    <li>
        {{ item_section(item.itemSectionRenderer) }}
    </li>
    {%- elseif item.gridVideoRenderer
            or item.gridPlaylistRenderer
            or item.gridRadioRenderer
            or item.gridChannelRenderer -%}
        <li class="channels-content-item yt-shelf-grid-item">
            {{ lockup.grid(item) }}
        </li>
    {%- elseif item.videoRenderer
            or item.playlistRenderer
            or item.radioRenderer
            or item.channelRenderer -%}
        <li class="expanded-shelf-content-item-wrapper">
            <div class="expanded-shelf-content-item">
                {{ lockup.tile(item) }}
            </div>
        </li>
    {%- elseif item.playlistVideoRenderer -%}
        {{ pl_video(item) }}
    {%- endif -%}
    {%- endfor -%}
    {%- endapply -%},
    "innertube_data": {{ yt.page|json_encode|raw }}
}