{% macro description(data) %}
{%- for snippet in data.runs -%}
{%- if (snippet.navigationEndpoint) -%}
    {%- set href = getUrl(snippet) -%}
    {%- set spf = (href|first == "/") -%}
    {% if snippet.navigationEndpoint.watchEndpoint.videoId == yt.videoId %}
    <a href="#" onclick="yt.www.watch.player.seekTo({{ snippet.navigationEndpoint.watchEndpoint.startTimeSeconds }});return false;">
    {% else %}
    <a href="{{ href }}" class=" {{ spf ? 'spf-link' }} " target="_blank">
    {% endif %}
{%- endif -%}
{{ snippet.text|nl2br }}
{%- if (snippet.navigationEndpoint) -%}
    </a>
{%- endif -%}
{% endfor %}
{% endmacro %}

{% set shouldCollapse = not secondaryInfo.description.runs is empty and not secondaryInfo.defaultExpanded %}
<div id="action-panel-details" class="action-panel-content yt-uix-expander yt-card yt-card-has-padding {{ shouldCollapse ? "yt-uix-expander-collapsed" }}">
    <div id="watch-description" class="yt-uix-button-panel">
        <div id="watch-description-content">
        <div id="watch-description-clip">
            <div id="watch-uploader-info"><strong class="watch-time-text">{{ secondaryInfo.dateText }}</strong></div>
            <div id="watch-description-text" class="">
                <p id="eow-description" class="">
                    {{ _self.description(secondaryInfo.description) }}
                </p>
            </div>
            <div id="watch-description-extras">
                <ul class="watch-extras-section">
                    {% for item in secondaryInfo.metadataRowContainer.items %}
                    {%- if item.metadataRowRenderer -%}
                    {% set item = item.metadataRowRenderer %}
                        <li class="watch-meta-item yt-uix-expander-body">
                            <h4 class="title">{{ getText(item.title) }}</h4>
                            <ul class="content watch-info-tag-list">
                                <li>
                                    {% for runs in item.contents[0].runs %}
                                        {% if runs.navigationEndpoint %}
                                        <a{{ (href|first == "/") ? " class=\"spf-link\"" }} href="{{ runs.navigationEndpoint.urlEndpoint.url }}">
                                        {% endif %}
                                        {{ runs.text }}
                                        {% if runs.navigationEndpoint %}
                                        </a>
                                        {% endif %}
                                    {% endfor %}
                                </li>
                            </ul>
                        </li>
                    {%- endif -%}
                    {% endfor %}
                </ul>
            </div>
        </div>
        </div>
    </div>
    {% if shouldCollapse or not secondaryInfo.description.runs is empty %}
    <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-expander yt-uix-expander-head yt-uix-expander-collapsed-body yt-uix-gen204" type="button" onclick=";return false;" data-gen204="feature=watch-show-more-metadata"><span class="yt-uix-button-content">{{ yt.msgs.showMore }}</span></button>
    <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-expander yt-uix-expander-head yt-uix-expander-body" type="button" onclick=";return false;"><span class="yt-uix-button-content">{{ yt.msgs.showLess }}</span></button>
    {% endif %}
</div>