{% macro description(data) %}
{%- for snippet in data.runs -%}
{%- if (snippet.navigationEndpoint) -%}
    {%- set href = getUrl(snippet) -%}
    {%- set spf = (href|first == "/") -%}
    {% if snippet.navigationEndpoint.watchEndpoint.videoId == yt.videoId %}
    <a href="#" onclick="yt.www.watch.player.seekTo({{ snippet.navigationEndpoint.watchEndpoint.startTimeSeconds }});return false;">
    {% else %}
    <a href="{{ href }}" class=" {{ spf ? 'spf-link' }} " target="_blank">
    {% endif %}
{%- endif -%}
{{ snippet.text|nl2br }}
{%- if (snippet.navigationEndpoint) -%}
    </a>
{%- endif -%}
{% endfor %}
{% endmacro %}

{% set shouldCollapse = not secondaryInfo.description.runs is empty and not secondaryInfo.defaultExpanded %}
<div id="action-panel-details" class="action-panel-content yt-uix-expander yt-card yt-card-has-padding {{ shouldCollapse ? "yt-uix-expander-collapsed" }}">
    <div id="watch-description" class="yt-uix-button-panel">
        <div id="watch-description-content">
        <div id="watch-description-clip">
            {% if secondaryInfo.dateText %}
            <div id="watch-uploader-info"><strong class="watch-time-text">{{ secondaryInfo.dateText }}</strong></div>
            {% endif %}
            <div id="watch-description-text" class="">
                <p id="eow-description" class="">
                    {{ _self.description(secondaryInfo.description) }}
                </p>
            </div>
            <div id="watch-description-extras">
                <ul class="watch-extras-section">
                    {% for item in secondaryInfo.metadataRowContainer.items %}
                        {%- if item.metadataRowRenderer -%}
                            {% set item = item.metadataRowRenderer %}
                            <li class="watch-meta-item yt-uix-expander-body">
                                <h4 class="title">{{ getText(item.title) }}</h4>
                                <ul class="content watch-info-tag-list">
                                    {% for content in item.contents %}
                                        <li>
                                            {% if content.runs %}
                                                {% for run in content.runs %}
                                                    {% if run.navigationEndpoint %}
                                                    {% set href = getUrl(run) %}
                                                        <a{{ (href|first == "/") ? " class=\"spf-link\"" }} href="{{ href }}">
                                                    {% endif %}
                                                            {{ run.text }}
                                                    {% if run.navigationEndpoint %}
                                                        </a>
                                                    {% endif %}
                                                {% endfor %}
                                            {% elseif content.simpleText %}
                                                {% if content.navigationEndpoint %}
                                                    {% set href = getUrl(simpleText) %}
                                                    <a{{ (href|first == "/") ? " class=\"spf-link\"" }} href="{{ href }}">
                                                {% endif %}
                                                        {{ content.simpleText }}
                                                {% if content.navigationEndpoint %}
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {%- elseif item.richMetadataRowRenderer -%}
                            {% set item = item.richMetadataRowRenderer %}
                            <li class="watch-meta-item has-image">
                                {% set url = getUrl(item) %}
                                {% set attr = (href|first == "/") ? 'class="spf-link"' : 'target="_blank"' %}
                                <h4 class="title">{{ getText(item.label) }}</h4>
                                <span class="metadata-row-image">
                                    <a href="{{ url }}" data-url="{{ url }}" {{ attr }}>
                                        <img src="{{ getThumb(item.thumbnail, 55) }}">
                                    </a>
                                </span>
                                <ul class="content watch-info-tag-list">
                                    <li>
                                        <a href="{{ url }}" data-url="{{ url }}" {{ attr }}>
                                            {{ getText(item.title) }}
                                        </a>
                                    </li>
                                    {% if item.subtitle %}
                                    <li>
                                        {{ getText(item.subtitle) }}
                                    </li>
                                    {% endif %}
                                    {% if item.callToAction %}
                                    <li>
                                        <a href="{{ url }}" data-url="{{ url }}" {{ attr }}>
                                            {{ getText(item.callToAction) }}
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </li>
                        {%- endif -%}
                    {% endfor %}
                </ul>
            </div>
        </div>
        </div>
    </div>
    {% if shouldCollapse or not secondaryInfo.description.runs is empty %}
    <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-expander yt-uix-expander-head yt-uix-expander-collapsed-body yt-uix-gen204" type="button" onclick=";return false;" data-gen204="feature=watch-show-more-metadata"><span class="yt-uix-button-content">{{ yt.msgs.showMore }}</span></button>
    <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-expander yt-uix-expander-head yt-uix-expander-body" type="button" onclick=";return false;"><span class="yt-uix-button-content">{{ yt.msgs.showLess }}</span></button>
    {% endif %}
</div>