{% macro render(data) %}
<div class="comments-header-renderer   "

    data-visibility-types="12">
    <h2 class="comment-section-header-renderer" tabindex="0">
        <b>{{ data.title }}</b>{% if data.commentsCountText %} • {{data.commentsCountText}}{% endif %}
    </h2>
    <div class="comment-simplebox-renderer  {{ not yt.signin.isSignedIn ? "" }}">
        <span class="video-thumb comment-author-thumbnail yt-thumb yt-thumb-48">
        <span class="yt-thumb-square">
            <span class="yt-thumb-clip">
                <img alt="{{ data.simpleBoxRenderer.authorThumbnail.accessibility.accessibilityData.label }}" height="48" onload=";window.__ytRIL &amp;&amp; __ytRIL(this)" src="{{ getThumb(data.simpleBoxRenderer.authorThumbnail, 48) }}" width="48" data-ytimg="1" tabindex="0" role="img">
                <span class="vertical-align"></span>
            </span>
        </span>
        </span>
        {% if yt.signin.isSignedIn %}<div id="comment-simplebox-create-comment"></div>{% endif %}
        <div class="comment-simplebox-renderer-collapsed comment-{{ yt.signin.isSignedIn ? "simplebox-trigger" : "section-renderer-redirect" }}" data-target="comment-section-renderer-items" data-simplebox-params="{{ data.createParams }}" data-simplebox-target="{{ yt.signin.isSignedIn ? "/comment_service_ajax?action_create_comment=1" : "https://accounts.google.com/ServiceLogin?service=youtube&passive=true&hl=en&continue=https%3A%2F%2Fwww.youtube.com%2F" }}"{% if yt.signin.isSignedIn %}role="form" aria-haspopup="true" data-simplebox-id="comment-simplebox-create-comment" data-placeholder="{{ data.simpleBoxRenderer.placeholderText }}" data-simplebox-event="commentcreated" data-simplebox-label="Comment" data-simplebox-sessionlink="itct=CAgQ8FsiEwjpsvbIjMTtAhU3yMEKHRZcD6w" data-simplebox-zero-step-params="" data-attachment-editor-trigger=""{% endif %}>
        <div class="comment-simplebox-renderer-collapsed-content">{{ data.simpleBoxRenderer.placeholderText }}</div>
        <div class="comment-simplebox-arrow">
            <div class="arrow-inner"></div>
            <div class="arrow-outer"></div>
        </div>
        </div>
    </div>
    {% if data.sortRenderer %}
    {% set sortRenderer = data.sortRenderer %}
    <div class="yt-uix-menu comment-section-sort-menu">
        <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-default  yt-uix-menu-trigger" type="button" onclick=";return false;" aria-haspopup="true" aria-label="Sort comments" aria-pressed="false" role="button">
            <span class="yt-uix-button-content">{{ sortRenderer.title }}</span>
            <span class="yt-uix-button-arrow yt-sprite"></span>
        </button>
        <div class="yt-uix-menu-content yt-ui-menu-content yt-uix-menu-content-hidden" role="menu">
            <ul>
                {% for item in sortRenderer.items %}
                <li>
                    <button type="button" class="yt-ui-menu-item yt-uix-menu-close-on-select comment-section-sort-menu-item " data-menu_name="{{ item.menuName }}"  data-sessionlink-target="/comment_service_ajax?action_get_comments=1" data-token="{{ item.continuation }}" data-url="/comment_service_ajax?action_get_comments=1">
                    <span class="yt-ui-menu-item-label">{{ item.title }}</span>
                    </button>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    <div class="yt-alert yt-alert-naked yt-alert-success hid zero-step-tooltip">
        <div class="yt-alert-icon">
        <span class="icon master-sprite yt-sprite"></span>
        </div>
        <div class="yt-alert-content" role="alert"></div>
    </div>
</div>
{% endmacro %}