<link itemprop="url" href="https://www.youtube.com/watch?v={{ yt.videoId }}">
<meta itemprop="name" content="{{ getText(info.title) }}">
<meta itemprop="description" content="Rick Astley - Never Gonna Give You Up (Official Music Video) - Listen On Spotify: http://smarturl.it/AstleySpotify Download Rick&#39;s Number 1 album &quot;&quot;50&quot;&quot; - ht...">
<meta itemprop="paid" content="False">
<meta itemprop="channelId" content="UC38IQsAvIsxxjztdMZQtwHA">
<meta itemprop="videoId" content="{{ yt.videoId }}">
<meta itemprop="duration" content="PT3M33S">
<meta itemprop="unlisted" content="False">
<span itemprop="author" itemscope itemtype="http://schema.org/Person">
    <link itemprop="url" href="{{ owner.navigationEndpoint.browseEndpoint.canonicalBaseUrl }}">
</span>
<span itemprop="author" itemscope itemtype="http://schema.org/Person">
    <link itemprop="url" href="https://plus.google.com/118341150529602077100">
</span>
<script type="application/ld+json" >
    {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
        {
            "@type": "ListItem",
            "position": 1,
            "item": {
            "@id": "{{ owner.navigationEndpoint.browseEndpoint.canonicalBaseUrl|json_encode() }}",
            "name": "RickAstleyVEVO"
            }
        }
        ]
    }
</script>
<link itemprop="thumbnailUrl" href="https://i.ytimg.com/vi/{{ yt.videoId }}/maxresdefault.jpg">
<span itemprop="thumbnail" itemscope itemtype="http://schema.org/ImageObject">
    <link itemprop="url" href="https://i.ytimg.com/vi/{{ yt.videoId }}/maxresdefault.jpg">
    <meta itemprop="width" content="1280">
    <meta itemprop="height" content="720">
</span>
<link itemprop="embedURL" href="https://www.youtube.com/embed/{{ yt.videoId }}">
<meta itemprop="playerType" content="HTML5 Flash">
<meta itemprop="width" content="1280">
<meta itemprop="height" content="720">
<meta itemprop="isFamilyFriendly" content="True">
<meta itemprop="regionsAllowed" content="AD,AE,AF,AG,AI,AL,AM,AO,AQ,AR,AS,AT,AU,AW,AX,AZ,BA,BB,BD,BE,BF,BG,BH,BI,BJ,BL,BM,BN,BO,BR,BS,BT,BV,BW,BY,BZ,CA,CC,CD,CF,CG,CH,CI,CK,CL,CM,CN,CO,CR,CU,CV,CX,CY,DJ,DK,DM,DO,DZ,EC,EE,EG,EH,ER,ES,ET,FI,FJ,FK,FM,FO,FR,GA,GB,GD,GE,GF,GG,GH,GI,GL,GM,GN,GP,GQ,GR,GS,GT,GU,GW,GY,HK,HM,HN,HR,HT,HU,ID,IE,IL,IM,IN,IO,IQ,IR,IS,IT,JE,JM,JO,JP,KE,KG,KH,KI,KM,KN,KP,KR,KW,KY,KZ,LA,LB,LC,LI,LK,LR,LS,LT,LU,LV,LY,MA,MC,MD,ME,MF,MG,MH,MK,ML,MM,MN,MO,MP,MQ,MR,MS,MT,MU,MV,MW,MX,MY,MZ,NA,NC,NE,NF,NG,NI,NL,NO,NP,NR,NU,NZ,OM,PA,PE,PF,PG,PH,PK,PL,PM,PN,PR,PS,PT,PW,PY,QA,RE,RO,RS,RU,RW,SA,SB,SC,SD,SE,SG,SH,SI,SJ,SL,SM,SN,SO,SR,ST,SV,SY,SZ,TC,TD,TF,TG,TH,TJ,TK,TL,TM,TN,TO,TR,TT,TV,TW,TZ,UA,UG,UM,US,UY,UZ,VA,VC,VE,VG,VI,VN,VU,WF,WS,YE,YT,ZA,ZM,ZW">
<meta itemprop="interactionCount" content="432071848">
<meta itemprop="datePublished" content="2009-10-24">
<meta itemprop="genre" content="Music">