<div id="player" class="  {{ playerType ? playerType : 'off-screen' }} " role="complementary">
   <div id="theater-background" class="player-height"></div>
   <div id="player-mole-container">
      <div id="player-unavailable" class="{{ yt.playerUnavailable ? "  player-width player-height player-unavailable " : "hid"  }}">
         {% if yt.playerUnavailable %}
            {% include "player/player_unavailable.twig" %}
         {% endif %}
      </div>
      <div id="player-api" class="player-width player-height off-screen-target player-api" tabIndex="-1"></div>
      <script >if (window.ytcsi) {window.ytcsi.tick("cfg", null, '');}</script>
      {#
         Player definition scripts. This is somewhat different to what you'd expect.
         This implements a ytInitialPlayerResponse object, which is compatible with
         Polymer's load methods. This simply allows extensions and userscripts to
         intercept the player response before the player is loaded.   
      #}
      <script>
         ytcfg.set("STS", {{ yt.playerConfig.signatureTimestamp }});
         var ytInitialPlayerResponse = {
            "playerResponse": {{ yt.playerResponse|json_encode|raw }}
         };
      </script>
      <script>{% apply spaceless %}
var ytplayer = ytplayer || {};
ytplayer.config = {
    "args": {
       {%- if yt.playerResponse -%}
         raw_player_response: ytInitialPlayerResponse.playerResponse,
         {% if yt.rawWatchNextResponse %}
         raw_watch_next_response: {{ yt.rawWatchNextResponse|raw }},
         {% endif %}
       {% endif %}
       {%- if yt.page.playlist -%}
         "swf_player_response": "1",
         "videoId": "{{ yt.videoId }}",
         "list": "{{ yt.playlistId }}",
         "external_list": "1",
         "idpj": "-1",
         "no_get_video_log": "0",
         "is_listed": "1",
         "t": "1",
         "plid": "AAVm9hRW-h1RWxWz",
         "ldpj": "-31",
         "ptk": "youtube_multi",
         "pltype": "content",
       {%- endif -%}
       disable_watch_next: true,
        "apiary_host_firstparty": "",
        "fexp": "23708904,23708906,23708910,23710476,23712544,23716256,23721698,23721898,23723588,23723618,23725949,23726564,23729690,23730642,23733473,23733751,23735154,23735395,23736169,23736484,23736955,23737659,23738006,23738944,23739239,23739533,23739764,9405975,9422596,9449243,9470249,9471235,9474241,9476619,9476652,9483924,9485000,9487182",
        "player_error_log_fraction": "1.0",
        "host_language": "en",
        "enablejsapi": "1",
        "c": "WEB",
        "innertube_context_client_version": "2.20210623.00.00",
        "hl": "en_US",
        "fflags": "{% include "player/flags.twig" %}",
        "xhr_apiary_host": "youtubei.youtube.com",
        "gapi_hint_params": "m;\/_\/scs\/abc-static\/_\/js\/k=gapi.gapi.en.fXLlmSb25lg.O\/m=__features__\/rt=j\/d=1\/rs=AHpOoo87O_nfyKCryZ5rvwwhVwktxKhiRA",
        "autoplay": "1",
        "external_play_video": "1",
        "innertube_api_key": "AIzaSyAO_FJ2SlqU8Q4STEHLGCilw_Y9_11qcW8",
        "cver": "2.20210623.00.00",
        "cr": "US",
        "is_html5_mobile_device": false,
        "innertube_api_version": "v1",
        "apiary_host": ""
    },
    "params": {
        "allowfullscreen": "true",
        "allowscriptaccess": "always",
        "bgcolor": "#000000"
    },
    "assets": {
        "css": {{ (yt.playerConfig.baseCssUrl)|json_encode|raw }},
        "js": {{ (yt.playerConfig.baseJsUrl)|json_encode|raw }}
    },
    "html5": true,
    "url": "",
    "sts": {{ yt.playerConfig.signatureTimestamp }},
    "attrs": {
        "id": "movie_player",
        "class": "ytp-embed"
    }
};
{% endapply %}
ytplayer.load = function() {
    yt.player.Application.create("player-api", ytplayer.config);
    ytplayer.config.loaded = true;
};
</script>
      <div id="watch-queue-mole" class="video-mole mole-collapsed hid">
         <div id="watch-queue" class="watch-playlist player-height">
            <div class="main-content">
               <div class="watch-queue-header">
                  <div class="watch-queue-info">
                     <div class="watch-queue-info-icon"><span class="tv-queue-list-icon yt-sprite"></span></div>
                     <h3 class="watch-queue-title">Watch Queue</h3>
                     <h3 class="tv-queue-title">Queue</h3>
                     <span class="tv-queue-details"></span>
                  </div>
                  <div class="watch-queue-control-bar control-bar-button">
                     <div class="watch-queue-mole-info">
                        <div class="watch-queue-control-bar-icon"><span class="watch-queue-icon yt-sprite"></span></div>
                        <div class="watch-queue-title-container"><span class="watch-queue-count"></span><span class="watch-queue-title">Watch Queue</span><span class="tv-queue-title">Queue</span></div>
                     </div>
                     <span class="dark-overflow-action-menu">
                        <button aria-haspopup="true" class="flip control-bar-button yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty" onclick=";return false;" type="button" aria-expanded="false" aria-label="Actions for the queue" >
                           <span class="yt-uix-button-arrow yt-sprite"></span>
                           <ul class="watch-queue-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid" role="menu" aria-haspopup="true">
                              <li role="menuitem"><span data-action="remove-all" onclick=";return false;" class="watch-queue-menu-choice overflow-menu-choice yt-uix-button-menu-item" >Remove all</span></li>
                              <li role="menuitem"><span data-action="disconnect" onclick=";return false;" class="watch-queue-menu-choice overflow-menu-choice yt-uix-button-menu-item" >Disconnect</span></li>
                           </ul>
                        </button>
                     </span>
                     <div class="watch-queue-controls">
                        <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-empty yt-uix-button-has-icon control-bar-button prev-watch-queue-button yt-uix-button-opacity yt-uix-tooltip yt-uix-tooltip" type="button" onclick=";return false;" title="Previous video"><span class="yt-uix-button-icon-wrapper"><span class="yt-uix-button-icon yt-uix-button-icon-watch-queue-prev yt-sprite"></span></span></button>
                        <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-empty yt-uix-button-has-icon control-bar-button play-watch-queue-button yt-uix-button-opacity yt-uix-tooltip yt-uix-tooltip" type="button" onclick=";return false;" title="Play"><span class="yt-uix-button-icon-wrapper"><span class="yt-uix-button-icon yt-uix-button-icon-watch-queue-play yt-sprite"></span></span></button>
                        <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-empty yt-uix-button-has-icon control-bar-button pause-watch-queue-button yt-uix-button-opacity yt-uix-tooltip hid yt-uix-tooltip" type="button" onclick=";return false;" title="Pause"><span class="yt-uix-button-icon-wrapper"><span class="yt-uix-button-icon yt-uix-button-icon-watch-queue-pause yt-sprite"></span></span></button>
                        <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-empty yt-uix-button-has-icon control-bar-button next-watch-queue-button yt-uix-button-opacity yt-uix-tooltip yt-uix-tooltip" type="button" onclick=";return false;" title="Next video"><span class="yt-uix-button-icon-wrapper"><span class="yt-uix-button-icon yt-uix-button-icon-watch-queue-next yt-sprite"></span></span></button>
                     </div>
                  </div>
                  <div class="autoplay-dismiss-bar fade-out"><span class="autoplay-dismiss-title-label">The next video is starting</span><span><button class="yt-uix-button yt-uix-button-size-default autoplay-dismiss-button yt-uix-tooltip" type="button" onclick=";return false;" title="stop"><span class="yt-uix-button-content">stop</span></button></span></div>
               </div>
               <div class="watch-queue-items-container yt-scrollbar-dark yt-scrollbar">
                  <div class="yt-uix-scroller playlist-videos-list">
                     <ol class="watch-queue-items-list" data-scroll-action="yt.www.watchqueue.loadThumbnails">
                        <p class="yt-spinner ">
                           <span title="Loading icon" class="yt-spinner-img  yt-sprite"></span>
                           <span class="yt-spinner-message">
                           Loading...
                           </span>
                        </p>
                     </ol>
                     <div class="autoplay-control-container yt-uix-scroller-scroll-unit hid">
                        <div class="autoplay-control-bar">
                           <label class="autoplay-label" for=autoplay-toggle-id></label>
                           <label class="yt-uix-form-input-checkbox-container yt-uix-form-input-container yt-uix-form-input-paper-toggle-container  ">
                              <input class="yt-uix-form-input-checkbox" type="checkbox" id="autoplay-toggle-id"/>
                              <div class="yt-uix-form-input-paper-toggle-bg yt-uix-form-input-paper-toggle-bar"></div>
                              <div class="yt-uix-form-input-paper-toggle-bg yt-uix-form-input-paper-toggle-button"></div>
                           </label>
                        </div>
                     </div>
                     <div class="up-next-item-container hid"></div>
                  </div>
               </div>
            </div>
            <div class="hid">
               <div id="watch-queue-title-msg">
                  Watch Queue
               </div>
               <div id="tv-queue-title-msg">Queue</div>
               <div id="watch-queue-count-msg">
                  __count__/__total__
               </div>
               <div id="watch-queue-loading-template">
                  <!--
                     <p class="yt-spinner ">
                     <span title="Loading icon" class="yt-spinner-img  yt-sprite"></span>
                     
                     <span class="yt-spinner-message">
                     Loading...
                     </span>
                     </p>
                     
                     -->
               </div>
            </div>
         </div>
      </div>
      <div id="player-playlist" class="  {{ yt.page.playlist ? 'content-alignment  watch-player-playlist' :  'hid' }}  ">
         {%- if yt.page.playlist -%}
            {% include '/common/watch/watch_playlist.twig' %}
         {%- endif -%}
      </div>
   </div>
   <div class="clear"></div>
</div>
<script>
   // Check if the end-user uses age restrict bypass extension
   // If so, the player unavailable message cannot be removed by
   // it by default, so we need to do it ourselves.
   if ("SYARB_CONFIG" in window)
   {
      var a = document.createElement("style");
      a.id = "age-restrict-bypass-fix";
      a.innerHTML = "#player-unavailable { display: none; }";
      document.body.appendChild(a);
   }
</script>