{##
 # Implements an abstract video anchor element.
 #
 # This wraps a thumbnail type in a Sessionlink endpoint
 # anchor.
 #
 # @author Taniko Yamamoto <kirasicecreamm@gmail.com>
 #}

{##
 # @private   
 #}
{%- macro _abstract(type, data) -%}
    {% from "/common/thumb/thumb_types.twig" import renderDefault, renderSimple %}

    {% set thumbnailWidth = data.width %}
    {% set videoData = data.videoData %}
    {% set thumbnailSrc = getThumb(videoData, thumbnailWidth) %}

    <a href="{{ getEndpoint(videoData) }}" class="yt-uix-sessionlink"
        aria-hidden="true" data-sessionlink="{{ videoData.trackingParams }}"
    > 
        {%- if type == "default" -%}
            {{ renderDefault({
                src: thumbnailSrc,
                width: thumbnailWidth,
                lengthText: data.lengthText,
                videoData: videoData
            }) }}
        {%- elseif type == "simple" -%}
            {{ renderSimple({
                src: thumbnailSrc,
                width: thumbnailWidth,
                lengthText: data.lengthText,
                videoData: videoData
            }) }}
        {%- endif -%}
    </a>
{%- endmacro -%}

{##
# Build a simple Thumbnail container
#
# data:
    {
        src,
        width,
        lengthText,
        videoData
    }
#}
{%- macro renderDefault(data) -%}
    {{ _self._abstract("simple", data) }}
{%- endmacro -%}

{##
# Build a default Thumbnail container
#
# data:
    {
        src,
        width,
        lengthText,
        videoData
    }
#}
{%- macro renderDefault(data) -%}
    {{ _self._abstract("default", data) }}
{%- endmacro -%}