{% macro render(data) %}
{% import "common/uix/lockup.twig" as lockup %}
<div class="video-player-view-component branded-page-box">
    <div class="video-content clearfix ">
        <div class="c4-player-container c4-flexible-player-container">
            <div class="c4-flexible-height-setter"></div>
            <div id="upsell-video" class="c4-flexible-player-box" data-video-id="{{ data.videoId }}" data-swf-config="{{ _self.swfConfig(data)|e }}"></div>
        </div>
        <div class="video-detail ">
            <h3 class="title yt-ui-ellipsis yt-ui-ellipsis-2">
                <a class="spf-link" href="{{ getUrl(data.title.runs.0) }}">{{ getText(data.title) }}</a>
            </h3>
            <div class="view-count">
                <span class="count">{{ getText(data.viewCountText) }}</span>
                <span class="content-item-time-created">{{ getText(data.publishedTimeText) }}</span>
            </div>
            <div class="description yt-uix-expander yt-uix-expander-ellipsis yt-ui-ellipsis-10 yt-uix-expander-collapsed">
                <div class="yt-ui-ellipsis yt-ui-ellipsis-10">
                    {% import "common/watch/watch7/action_panel/details.twig" as watch %}
                    {{ watch.description(data.description) }}
                    <a class="yt-uix-expander-head">{{ yt.msgs.showLess }}</a>
                </div>
                <a class="yt-uix-expander-head">{{ getText(data.readMoreText) }}</a>
            </div>
        </div>
        <div class="video-content-info"></div>
    </div>
</div>
{% endmacro %}

{% macro swfConfig(data) %}
{"args":{"c":"WEB","watermark":",https://s.ytimg.com/yts/img/watermark/youtube_watermark-vflHX6b6E.png,https://s.ytimg.com/yts/img/watermark/youtube_hd_watermark-vflAzLcD6.png","loaderUrl":"/channel/{{ yt.ucid }}","length_seconds":"135","title":"{{ getText(data.title) }}","innertube_api_version":"v1","player_error_log_fraction":"1.0","profile_picture":"https://yt3.ggpht.com/a-/AAuE7mAPBVgUYqlLw9SvJyKAVWmgkQ2-KrkgSv4_5A=s88-mo-c-c0xffffffff-rj-k-no","token":"1","ssl":"1","xhr_apiary_host":"youtubei.youtube.com","cr":"GB","apiary_host":"","allow_embed":"1","iv_invideo_url":"https://www.youtube.com/annotations_invideo?cap_hist=1&video_id={{ data.videoId }}&client=1","thumbnail_url":"https://i.ytimg.com/vi/{{ data.videoId }}/default.jpg","apiary_host_firstparty":"","tmi":"1","innertube_api_key":"AIzaSyAO_FJ2SlqU8Q4STEHLGCilw_Y9_11qcW8","fmt_list":"18/640x360,36/320x180,17/176x144","cver":"2.20220303.01.01","itct":"","vss_host":"s.youtube.com","enabled_engage_types":"3,6,4,5,17,1","ldpj":"-13","iv_load_policy":"1","tag_for_child_directed":false,"relative_loudness":"1","host_language":"en","no_get_video_log":"1","hl":"en_US","innertube_context_client_version":"1.20180501","fflags":"{% include "player/flags.twig" %}","t":"1","timestamp":"{{ "now"|date("U") }}","account_playback_token":"QUFFLUhqbUU0RWkzaDUxZFBYNkZ5MlpOYk1rRjFlN29SUXxBQ3Jtc0trQ1pUUkJiTW9DV3J4bkNSTUN4b0ZSUHVBRFhfQjBmUGE5V1JoUFl6VDFlNFZNSVNCZmpzSFJEUHZycFpCa1RNSzJ0OF8xRXM0YzVwVUFiQlVYOEpvYUhLY1dLbC1LS3pSeGtkOTBpbHFvMFV0RWdpTQ==","fexp":"23710476,23721898,23726563,23727194,23733019,23736391,23744176,23751767,23752869,23755886,23755898,23758087,23758152,23760559,23761607,23761855,23762649,23762715,23766074,23772104,23772974,23774273,23778819,23781081,23781140,23781335,23781383,23782999,23783326,23783342,23783454,23784106,23784106,23784572,23784582,23785342,9449243,9471235,9474466,9475648,9485000","ucid":"{{ yt.ucid }}","gapi_hint_params":"m;/_/scs/abc-static/_/js/k=gapi.gapi.en.BstDmEhpa_Q.O/rt=j/d=1/rs=AHpOoo-oqKdOJIcyAi5YyA6pahSkp_ojsw/m=__features__","el":"profilepage","external_play_video":"1","player_response":{{ data.playerResponse|json_encode|raw }},"avg_rating":"4.65843629837","video_id":"{{ data.videoId }}","idpj":"-7","iv3_module":"1","allow_ratings":"1"},"attrs":{"id":"c4-player"},"assets":{"css":"{{ yt.playerConfig.baseCssUrl }}","js":"{{ yt.playerConfig.baseJsUrl }}"},"params":{"allowfullscreen":"true","allowscriptaccess":"always","bgcolor":"#000000"},"sts":{{ yt.playerConfig.signatureTimestamp }},"url":"","html5":true}
{% endmacro %}