{#
   This implements the legacy base template, which YouTube continued to use
   for some older pages after implementing appbar.
#}
{% import 'core/macros.twig' as core %}
{% import "common/alert.twig" as alert %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      {#
         The Rehike debugger uses XHook as a component for debugging network
         requests. Since the XHook script needs to be loaded before any other
         scripts in order to properly hijack XHR, this is injected if the
         debugger is enabled.
      #}
      {% if rehikeDebugger and not rehikeDebugger.condensed %}
         <script>{% include "/rehike/debugger/js/xhook.js" %}</script>
      {% endif %}
      {% include "core/roboto.twig" %}
      <script>{{ include('/core/www-ytcsi.js') }}</script>
      <script >var ytcfg = {d: function() {return (window.yt && yt.config_) || ytcfg.data_ || (ytcfg.data_ = {});},get: function(k, o) {return (k in ytcfg.d()) ? ytcfg.d()[k] : o;},set: function() {var a = arguments;if (a.length > 1) {ytcfg.d()[a[0]] = a[1];} else {for (var k in a[0]) {ytcfg.d()[k] = a[0][k];}}}};</script>  
      <script>ytcfg.set("ROOT_VE_TYPE", 3854);ytcfg.set("EVENT_ID", "caLrWqLbKZD2_AOA-6vIAg");</script>
      <script>{{ include('/core/www-pageframesizing.js.twig') }}</script>
      {{ core.js('scheduler/scheduler') }}
      {{ core.css('www-core') }}
      {%- block head_css  -%}{% endblock %}
      <link rel="stylesheet" href="//s.ytimg.com/yts/cssbin/player-vflk34Vc2/www-player.css" name="player/www-player">
      {{ core.css('www-pageframe') }}
      {{ core.css('www-guide') }}
      <title>{% block title %}YouTube{% endblock %}</title>
      {% include 'core/meta.twig' %}
      {%- if yt.config.appearance.modernLogo -%}
        {% include 'experiment/ringo/ringo.twig' %}
      {% endif %}
      {% include "core/rehike_custom_css.twig" %}
   </head>
   <body id="" class="{%- block body_class -%}  
   {% include "core/body_class.twig" %}
      {% endblock %}" dir="ltr">
      <div id="body-container">
         <form name="logoutForm" method="POST" action="/logout"><input type="hidden" name="action_logout" value="1"></form>
         <!--begin page-->
         <div id="ticker-content">
            {%- if yt.page.ticker -%}
            {{ alert.render(yt.page.ticker) }}
            {%- endif -%}
         </div>
         {% block masthead %}
         <div id="yt-masthead-container" class="clearfix yt-base-gutter">
            {% include 'common/pageframe/masthead.twig' %}     
         </div>
         {% endblock %}
         <div id="alerts" class="{{ not leftAlignPage ? "content-alignment" }}">
            {% block alerts %}{% endblock %}
            {%- for item in yt.page.alerts -%}
            {{ alert.render(item) }}
            {%- endfor -%}
         </div>
         {% block header %}{% endblock %}
         <div id="page-container">
            <div id="page" class="{{ pageType }} {% block page_class %}{% endblock %}">
                {% if guideEnabled %}
                    {%- block guide_container -%}
                        {% include 'common/pageframe/guide.twig' %}
                    {% endblock %}
                {% endif %}
                <div id="content" class="{{ not leftAlignPage ? "content-alignment" }}">
                    {% block content %}{% endblock %}
                </div>
            </div>
         </div>
         {% include 'common/uix/lightbox/template_feed-privacy.twig' %}
         <!--end page-->
      </div>
      <div id="footer-container" class="yt-base-gutter">
         {% include 'common/pageframe/footer.twig' %}
      </div>
      {% if yt.rehikeSecurityNotice %}
         {% from "rehike/security/security_lightbox.twig" import render as security_lightbox %}
         {{ security_lightbox(yt.rehikeSecurityNotice) }}
      {% endif %}
      {#
         YouTube's legacy foot contains scripts.
      #}
      <script>var yterr = yterr || true;</script>
      {{ core.js('www-core/www-core') }}
      {% include 'core/spf_module.twig' %}
      <script>if (window.ytcsi) {window.ytcsi.tick("je", null, '');}</script>  
      {%- block foot_scripts -%}{% endblock %}
      {% include 'core/yt_global_js_config.twig' %}
      {#
         Inject Rebug (if it is enabled)
      #}
      {%- if rehikeDebugger -%}
         {% include "rehike/debugger/main.twig" %}
      {%- endif -%}
   </body>
</html>