{%- macro js(name) -%}
<script src="{{ rehike.resource.jsPath(name) }}" type="text/javascript" name="{{ name }}"></script>
{% endmacro %}

{%- macro css(name) -%}
<link rel="stylesheet" href="{{ rehike.resource.cssPath(name) }}" name="{{ name }}">
{% endmacro %}

{% macro sprite(sprite, alt) %}
<span {{ alt ? ('title="' ~ alt ~ '"')|raw }} class="{{ sprite }} yt-sprite"></span>
{% endmacro %}