{% import '/common/watch/watch7/sidebar/macros.twig' as sidebar %}
{% set autoplay = secondaryResults.compactAutoplayRenderer %}
<div class="autoplay-bar">
    <div class="checkbox-on-off">
        <label for="autoplay-checkbox">{{ autoplay.toggleDesc }}</label>
        <span class="autoplay-hovercard yt-uix-hovercard">
            <span class="autoplay-info-icon yt-uix-button-opacity yt-uix-hovercard-target yt-sprite" data-orientation="vertical" data-position="topright"></span>
            <span class="yt-uix-hovercard-content">
                {{ autoplay.infoText }}
            </span>
        </span>
        <span class="yt-uix-checkbox-on-off ">
            <input id="autoplay-checkbox" class="" type="checkbox" name="" {{ autoplay.checked ? 'checked=""' }}>
            <label for="autoplay-checkbox" id="autoplay-checkbox-label">
                <span class="checked"></span><span class="toggle"></span><span class="unchecked"></span>
            </label>  
        </span>
    </div>
    <h4 class="watch-sidebar-head">
        {{ autoplay.title }}
    </h4>
    <div class="watch-sidebar-body">
        {{ sidebar.video_list(autoplay.contents) }}
    </div>
</div>