{% macro video_list(data, id) %}
<ul {{ id ? ('id="' ~ id ~ '"')|raw }} class="video-list">
    {% for item in data %}
        {{ _self.video_item(item) }}
    {% endfor %}
</ul>
{% endmacro %}

{% macro video_item(renderer) %}
{% if renderer.continuationItemRenderer %}
{% set continuation = renderer.continuationItemRenderer.continuationEndpoint.continuationCommand.token %}
<div id="watch-more-related" class="hid">
    <li id="watch-more-related-loading">{{ yt.msgs.loadingMoreSuggestions }}</li>
</div>
<button id="watch-more-related-button" class="yt-uix-button yt-uix-button-size-default yt-uix-button-expander" onclick=";return false;" data-continuation="{{ continuation }}" data-button-action="yt.www.watch.related.loadMore">
    <span class="yt-uix-button-content">{{ yt.msgs.showMore }}</span>
</button>
{% else %}
{% set data = getLockupInfo(renderer) %}
{% set info = data.info %}
{% set a11yId = generateRid() %}
{% import "common/thumbnail_overlays.twig" as overlays %}
{% from "core/html/img.twig" import img %}
{% from "common/uix/badge_list.twig" import render as badge_list %}
<li class="video-list-item related-list-item {{ data.type == "video" ? "show-video-time" }} related-list-item-compact-{{ data.type }}">
    {# playlist html structure is entirely different #}
    {% if data != null %}
    {% if data.type == "playlist" or data.type == "radio" %}
    <a href="{{ getUrl(info) }}" class="related-playlist yt-pl-thumb-link spf-link {{ data.type == "radio" ? "mix-playlist" }} resumable-list">
        <span class="yt-pl-thumb {{ data.type == "radio" ? "yt-mix-thumb" }}">
            <span class="video-thumb yt-thumb yt-thumb-168">
                <span class="yt-thumb-clip">
                    {{ img({
                        src: getThumb(data.thumbArray, 94),
                        width: 168,
                        height: 94,
                        ytImg: 1,
                        delayLoad: true,
                        onload: ";window.__ytRIL && __ytRIL(this)",
                    }) }}
                    <span class="vertical-align"></span>
                </span>
            </span>
            {{ overlays.playlist(data) }}
        </span>
        <span class="title" dir="ltr" title="{{ getText(info.title) }}">
            {{ getText(info.title) }}
        </span>
        {% set author = getByline(info) %}
        {% if author != null %}
        <span class="stat attribution">
            {{ yt.config.byTextOnByline ? "<span>" ~ yt.msgs.usernamePrepend  ~ "</span>"|raw }}
            <span>{{ getText(author) }}</span>
        </span>
        {% endif %}
    </a>
    {% else %}
    <div class="content-wrapper">
        <a href="{{ getUrl(info) }}" class="content-link spf-link" title="{{ getText(info.title) }}">
            <span dir="ltr" class="title" aria-describedby="description-id-{{ a11yId }}">
                {{ getText(info.title) }}
            </span>
            {% set videoTime = getVideoTime(info) %}
            {% if videoTime != null %}
            <span id="description-id-{{ a11yId }}" class="accessible-description">{{ yt.msgs.durationA11y|format(videoTime) }}</span> {# TODO: i18n #}
            {% endif %}
            {% set author = getByline(info) %}
            {% if author != null %}
            <span class="stat attribution">
                {{ yt.config.byTextOnByline ? "<span>by </span>"|raw }}
                <span>{{ getText(author) }}</span>
            </span>
            {% endif %}
            {% if info.viewCountText %}
            <span class="stat">
                <span class="view-count">{{ getText(info.viewCountText) }}</span>
                {%- if yt.config.watchSidebarDates -%}
                <span class="published-time">{{ getText(info.publishedTimeText) }}</span>
                {%- endif -%}
            </span>
            {% endif %}
            {% if info.badges %}
            {{ badge_list(info.badges) }}
            {% endif %}
        </a>
    </div>
    <div class="thumb-wrapper">
        <a href="{{ getUrl(info) }}" class="thumb-link spf-link">
            <span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related {{ data.type == "video" and yt.config.movingThumbnails ? "yt-uix-mouseover-img-wrap" }}">
                {{ img({
                    src: getThumb(data.thumbArray, 94),
                    width: 168,
                    height: 94,
                    ytImg: 1,
                    delayLoad: true,
                    onload: ";window.__ytRIL && __ytRIL(this)",
                    customAttributes: {
                        "data-mouseover-src": getThumb(info.richThumbnail.movingThumbnailRenderer.movingThumbnailDetails)
                    }
                }) }}
            </span>
        </a>
        {{ overlays.render(data) }}
    </div>
    {% endif %}
</li>
{% endif %}
{% endif %}
{% endmacro %}