{% macro video_list(data, id) %}
<ul {{ id ? ('id="' ~ id ~ '"')|raw }} class="video-list">
    {% for item in data %}
        {{ _self.video_item(item) }}
    {% endfor %}
</ul>
{% endmacro %}

{# TODO: cleanup and generalise #}
{% macro video_item(data) %}
{% if data.compactVideoRenderer %}
{% set data = data.compactVideoRenderer %}
<li class="video-list-item related-list-item  show-video-time related-list-item-compact-video">
    <div class="content-wrapper">
        <a href="/watch?v={{ data.videoId }}" class=" content-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CCwQpDAYAyITCPCb3sSz6toCFcuifgodz50MGCj4HTIHcmVsYXRlZEjEu4GtvZiOhnU"  title="{{ getText(data.title) }}" rel=" spf-prefetch nofollow" data-visibility-tracking="CCwQpDAYAyITCPCb3sSz6toCFcuifgodz50MGCj4HUC59MSzzMLW5XA=" >
        <span dir="ltr" class="title" aria-describedby="description-id-920876">
        {{ getText(data.title) }}
        </span>
        <span class="accessible-description" id="description-id-920876">
        - Duration: {{ getText(data.thumbnailOverlays.0.thumbnailOverlayTimeStatusRenderer.text) }}.
        </span>
        <span class="stat attribution"><span class="" >{{ getText(data.shortBylineText) }}</span></span>
        <span class="stat view-count">{{ getText(data.viewCountText) }}{% if yt.config.showUploadDateOnWatchRecommended %} • {{ getText(data.publishedTimeText) }}{% endif %}</span>
        </a>
    </div>
    <div class="thumb-wrapper">
        <a href="/watch?v={{ data.videoId }}" class=" vve-check thumb-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CCwQpDAYAyITCPCb3sSz6toCFcuifgodz50MGCj4HTIHcmVsYXRlZEjEu4GtvZiOhnU"  tabindex="-1" rel=" spf-prefetch nofollow" data-visibility-tracking="CCwQpDAYAyITCPCb3sSz6toCFcuifgodz50MGCj4HUC59MSzzMLW5XA=" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="{{ data.videoId }}"><img aria-hidden="true" style="top: 0px" width="168" height="94" data-thumb="{{ data.thumbnail.thumbnails.0.url }}" alt="" src="{{ PIXEL }}" ><span class="video-time">{{ getText(data.thumbnailOverlays.0.thumbnailOverlayTimeStatusRenderer.text) }}</span></span></a>
    </div>
</li>
{% elseif data.continuationItemRenderer %}
{% set data = data.continuationItemRenderer %}
<div id="watch-more-related" class="hid">
    <li id="watch-more-related-loading">Loading more suggestions...</li>
</div>
<button id="watch-more-related-button" class="yt-uix-button yt-uix-button-size-default yt-uix-button-expander" onclick=";return false;" data-continuation="{{ data.continuationEndpoint.continuationCommand.token }}" data-button-action="yt.www.watch.related.loadMore">
    <span class="yt-uix-button-content">Show more</span>
</button>
{% endif %}
{% endmacro %}