{% extends "core.twig" %}
{% import 'core/macros.twig' as core %}
{% import 'common/appbar/appbar_nav.twig' as appbar_nav %}

{% set pageType = 'feed' %}
{% set pageName = 'feed' %}

{% set appbarEnabled = true %}
{% set defaultGuideVisibility = true %}
{% set defaultAppbarVisibility = true %}
{% set enableSnapScaling = true %}

{%- block title -%}
Trending - {{ parent() }}
{% endblock %}

{%- block page_class -%}
not-fixed-width-tab-widescreen
{% endblock %}

{% block foot_scripts %}
<script>
    yt.setConfig('ANGULAR_JS', "\/yts\/jslib\/angular.min-vflWkvD5q.js");
yt.setConfig('TRANSLATIONEDITOR_JS', "\/yts\/jsbin\/www-translationeditor-vflugm3V9\/www-translationeditor.js");
yt.setMsg('UNSAVED_CHANGES_WARNING', "Some of the changes you have made to channel settings have not been saved and will be lost if you navigate away from this page.");

  yt.setConfig(
    'JS_PAGE_MODULES', [
        'www/feed',
      'www/ypc_bootstrap'
    ]);




yt.setConfig('DISMISS_THROUGH_IT', true);


    yt.setConfig({
      'GUIDE_SELECTED_ITEM': "0qDduQEMEgpGRXRyZW5kaW5n"
    });

    yt.setConfig({
  'GUIDED_HELP_LOCALE': "en_US",
  'GUIDED_HELP_ENVIRONMENT': "prod"
});

</script>
{% endblock %}

{%- block appbarContent -%}
   {% set appbarContents = {
      'items': {
        0: {
            'title': 'Home',
            'href': '/',
        },
        1: {
            'title': 'Trending',
            'href': '/feed/trending',
            'selected': true
        }
      }
   } %}
   {{ appbar_nav.render(appbarContents) }}
{% endblock %}

{%- block head_css  -%}
    {{ core.css('www-home-c4') }}
{% endblock %}

{% block content %}
<div id="debug" style="display:none">
{{ yt.page.shelvesList|json_encode }}
</div>
    {% embed 'common/channels4/branded_page_v2.twig' %}
    {% import 'common/uix/lockup.twig' as lockup %}
    {% import 'common/core/spinner.twig' as spinner %}
    {% set brandedPageConfig = {
        'baseBoldTitles': true,
        'containerFlexWidth': true,
        'hasTopRow': true,
        'secondaryColumnHidden': true
    } %}
    {% block branded_page_primary_column_content %}
        <div id="browse-items-primary">
            <ol id="section-list-874807" class="section-list">
            {%- for shelf in yt.page.shelvesList -%}
            {#{{ shelf|json_encode }}#}
            {% set shelfRenderer = shelf.itemSectionRenderer.contents.0.shelfRenderer %}
                <li>
                <ol id="item-section-760461" class="item-section">
                    <li>
                        <div class="feed-item-container browse-list-item-container yt-section-hover-container compact-shelf shelf-item branded-page-box vve-check clearfix" data-visibility-tracking="CGYQ3BwYACITCOLXzPvf6toCFRA7fwodgP0KKSiOHg==">
                            <div class="feed-item-dismissable">
                                <div class="shelf-title-table">
                                    <div class="shelf-title-row">
                                        <h2 class="branded-page-module-title shelf-title-cell">
                                            {%- if shelfRenderer.endpoint -%}
                                            <a href="{{ shelfRenderer.endpoint.commandMetadata.webCommandMetadata.url }}" class="branded-page-module-title-link yt-uix-sessionlink      spf-link " data-sessionlink="itct=CGYQ3BwYACITCOLXzPvf6toCFRA7fwodgP0KKSiOHg" >
                                            {% endif %}
                                            {%- if shelfRenderer.thumbnail -%}
                                            <div class="yt-lockup-thumbnail">
                                                <div class="yt-thumb video-thumb">
                                                    <span class="yt-thumb-simple">
                                                    <img height="20" onload=";window.__ytRIL &amp;&amp; __ytRIL(this)" alt="" width="20" data-ytimg="1" data-thumb="{{ shelfRenderer.thumbnail.thumbnails.0.url }}" src="{{ PIXEL }}">
                                                    </span>
                                                </div>
                                            </div>
                                            {% endif %}
                                            <span class="branded-page-module-title-text">{{ getText(shelfRenderer.title) }}</span>
                                            {% if shelfRenderer.endpoint %}
                                            </a>
                                            {% endif %} 
                                            {% if shelfRenderer.badges %}
                                            <span class="shelf-featured-badge">{{ shelfRenderer.badges[0].metadataBadgeRenderer.label }}</span>
                                            {% endif %}
                                        </h2>
                                        <div class="menu-container shelf-title-cell"></div>
                                    </div>
                                </div>
                                        {% if shelfRenderer.content.expandedShelfContentsRenderer.items %}
                                        <div class="expanded-shelf">
                                            <ul class="expanded-shelf-content-list has-multiple-items">
                                            {%- for item in shelfRenderer.content.expandedShelfContentsRenderer.items -%}
                                            <li class="expanded-shelf-content-item-wrapper">
                                                <div class="expanded-shelf-content-item">
                                                        {{ lockup.tile(item) }}
                                                </div>
                                            </li>
                                            {%- endfor -%}
                                            </ul>
                                        </div>
                                        {% elseif shelfRenderer.content.horizontalListRenderer.items %}
                                        <div class="compact-shelf yt-uix-shelfslider yt-uix-shelfslider-at-head">
                                            <div class="yt-uix-shelfslider-body yt-viewport">
                                                <ul class="yt-uix-shelfslider-list">
                                                {%- for item in shelfRenderer.content.horizontalListRenderer.items -%}
                                                    <li class="yt-shelf-grid-item yt-uix-shelfslider-item">
                                                    {{ lockup.grid(item) }}
                                                    </li>
                                                {%- endfor -%}
                                                </ul>
                                            </div>
                                            <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-shelf-slider-pager yt-uix-shelfslider-prev" type="button" onclick=";return false;"><span class="yt-uix-button-content"><span data-tooltip-text="Previous" aria-label="Previous" class="yt-uix-shelfslider-prev-arrow yt-uix-tooltip yt-sprite"></span></span></button><button class="yt-uix-button yt-uix-button-size-default yt-uix-button-shelf-slider-pager yt-uix-shelfslider-next" type="button" onclick=";return false;"><span class="yt-uix-button-content"><span data-tooltip-text="Next" aria-label="Next" class="yt-uix-shelfslider-next-arrow yt-uix-tooltip yt-sprite"></span></span></button>
                                        </div>
                                        {% endif %}
                            </div>
                            <div class="feed-item-dismissal-notices"></div>
                        </div>
                    </li>
                </ol>
                </li>
            {% endfor %}
            </ol>
        </div>
    {% endblock %}
    {% endembed %}
{% endblock %}