{% extends "core.twig" %}
{% import 'core/macros.twig' as core %}
{% import 'common/appbar/appbar_nav.twig' as appbar_nav %}

{% set pageType = 'feed' %}
{% set pageName = 'feed' %}

{% set appbarEnabled = true %}
{% set defaultGuideVisibility = true %}
{% set defaultAppbarVisibility = true %}
{% set enableSnapScaling = true %}

{%- block title -%}
Trending - {{ parent() }}
{% endblock %}

{%- block page_class -%}
not-fixed-width-tab-widescreen
{% endblock %}

{% block foot_scripts %}
<script>
    yt.setConfig('ANGULAR_JS', "\/yts\/jslib\/angular.min-vflWkvD5q.js");
yt.setConfig('TRANSLATIONEDITOR_JS', "\/yts\/jsbin\/www-translationeditor-vflugm3V9\/www-translationeditor.js");
yt.setMsg('UNSAVED_CHANGES_WARNING', "Some of the changes you have made to channel settings have not been saved and will be lost if you navigate away from this page.");

  yt.setConfig(
    'JS_PAGE_MODULES', [
        'www/feed',
      'www/ypc_bootstrap'
    ]);




yt.setConfig('DISMISS_THROUGH_IT', true);


    yt.setConfig({
      'GUIDE_SELECTED_ITEM': "0qDduQEMEgpGRXRyZW5kaW5n"
    });

    yt.setConfig({
  'GUIDED_HELP_LOCALE': "en_US",
  'GUIDED_HELP_ENVIRONMENT': "prod"
});

</script>
{% endblock %}

{%- block appbarContent -%}
   {% set appbarContents = {
      'items': {
        0: {
            'title': 'Home',
            'href': '/',
        },
        1: {
            'title': 'Trending',
            'href': '/feed/trending',
            'selected': true
        }
      }
   } %}
   {{ appbar_nav.render(appbarContents) }}
{% endblock %}

{%- block head_css  -%}
    {{ core.css('www-home-c4') }}
{% endblock %}

{% block content %}
    {% embed 'common/channels4/branded_page_v2.twig' %}
    {% import 'common/uix/lockup.twig' as lockup %}
    {% import 'core/spinner.twig' as spinner %}
    {% set brandedPageConfig = {
        'baseBoldTitles': true,
        'containerFlexWidth': true,
        'hasTopRow': true,
        'secondaryColumnHidden': true
    } %}
    {% block branded_page_primary_column_content %}
        <div id="browse-items-primary">
            <ol id="section-list-874807" class="section-list">
            {% import "common/uix/shelf_old.twig" as shelf %}
            {%- for shelfSlider in yt.page.shelvesList -%}
              {#{{ shelf|json_encode }}#}
              {% set shelfSliderContent = shelfSlider.itemSectionRenderer.contents.0.shelfRenderer %}
              {% if shelfSliderContent.content.expandedShelfContentsRenderer %}
                {{ shelf.expanded(shelfSlider) }}
              {% elseif shelfSliderContent.content.horizontalListRenderer.items %}
                {{ shelf.compact(shelfSlider) }}
              {% endif %}
            {% endfor %}
            </ol>
        </div>
    {% endblock %}
    {% endembed %}
{% endblock %}