{% extends "core.twig" %}
{% import 'core/macros.twig' as core %}
{% import 'common/appbar/appbar_nav.twig' as appbar_nav %}

{% set pageType = 'home' %}
{% set pageName = 'index' %}

{% set appbarEnabled = true %}
{% set defaultGuideVisibility = true %}
{% set defaultAppbarVisibility = true %}
{% set enableSnapScaling = true %}

{% block foot_scripts %}
<script>
    yt.setConfig({
        'MASTHEAD_ENCRYPTED_ID': "EdYBjVl9t7o",
        'MASTHEAD_IS_BRANDED': true
    });

    yt.setConfig('JS_PAGE_MODULES', {{ yt.modularCoreModules|json_encode|raw }});
    yt.setConfig('DISMISS_THROUGH_IT', true);

    yt.setConfig({
        'GUIDE_SELECTED_ITEM': "{{ serialiseEndpoint(yt.currentEndpoint) }}"
    });

    yt.setConfig({
        'GUIDED_HELP_LOCALE': "en_US",
        'GUIDED_HELP_ENVIRONMENT': "prod"
    });
</script>
{% endblock %}

{%- block head_css  -%}
    {{ core.css('www-home-c4') }}
{% endblock %}

{% block header %}
{% endblock %}

{%- block appbarContent -%}
   {% set appbarContents = {
      'items': {
        0: {
            'title': 'Home',
            'href': '/',
            'selected': true
        },
        1: {
            'title': 'Trending',
            'href': '/feed/trending'
        }
      }
   } %}
   {{ appbar_nav.render(appbarContents) }}
{% endblock %}

{% block content %}
    {% embed 'common/channels4/branded_page_v2.twig' %}
    {% import 'common/uix/lockup.twig' as lockup %}
    {% import 'core/spinner.twig' as spinner %}
    {% set brandedPageConfig = {
        'baseBoldTitles': true,
        'containerFlexWidth': true,
        'hasTopRow': true,
        'secondaryColumnHidden': true
    } %}
    {% block branded_page_primary_column_content %}
        <div id="feed" class="">
            <div id="feed-main-what_to_watch" class="individual-feed" data-feed-name="what_to_watch" data-feed-type="main">
                {% set rid = generateRid() %}
                <ol id="section-list-{{ rid }}" class="section-list">
                {% from "common/browse/item_section.twig" import render as item_section %}
                {% import 'common/uix/load_more_button.twig' as load_more %}
                {%- for shelf in yt.page.contents -%}
                <li>
                    {{ item_section(shelf.itemSectionRenderer) }}
                </li>
                {% endfor %}
                </ol>
                {{ load_more.render(yt.page.continuation, "section-list-" ~ rid, true) }}
            </div>
            <div id="feed-error" class="individual-feed  hid">
                <p class="feed-message">
                    We were unable to complete the request, please try again later.
                </p>
            </div>
            <div id="feed-loading-template" class=" hid">
                <div class="feed-message">
                    {{ spinner.render('Loading...') }}
                </div>
            </div>
        </div>
    {% endblock %}
    {% endembed %}
{% endblock %}