{% extends "core.twig" %}
{% import 'core/macros.twig' as core %}
{% import 'common/appbar/appbar_nav.twig' as appbar_nav %}

{% set pageType = 'home' %}
{% set pageName = 'index' %}

{% set appbarEnabled = true %}
{% set defaultGuideVisibility = true %}
{% set defaultAppbarVisibility = true %}
{% set enableSnapScaling = true %}

{% block foot_scripts %}
<script>
    yt.setConfig({
        'MASTHEAD_ENCRYPTED_ID': "EdYBjVl9t7o",
        'MASTHEAD_IS_BRANDED': true
    });

    yt.setConfig('JS_PAGE_MODULES', {{ yt.modularCoreModules|json_encode|raw }});
    yt.setConfig('DISMISS_THROUGH_IT', true);

    yt.setConfig({
        'GUIDE_SELECTED_ITEM': "0qDduQEREg9GRXdoYXRfdG9fd2F0Y2g%3D"
    });

    yt.setConfig({
        'GUIDED_HELP_LOCALE': "en_US",
        'GUIDED_HELP_ENVIRONMENT': "prod"
    });
</script>
{% endblock %}

{%- block head_css  -%}
    {{ core.css('www-home-c4') }}
{% endblock %}

{% block header %}
{% endblock %}

{%- block appbarContent -%}
   {% set appbarContents = {
      'items': {
        0: {
            'title': 'Home',
            'href': '/',
            'selected': true
        },
        1: {
            'title': 'Trending',
            'href': '/feed/trending'
        }
      }
   } %}
   {{ appbar_nav.render(appbarContents) }}
{% endblock %}

{% block content %}
<div id="debug" style="display:none">
{{ yt.response }}
{# {{ yt.page.shelvesList|json_encode }} #}
</div>
    {% embed 'common/channels4/branded_page_v2.twig' %}
    {% import 'common/uix/lockup.twig' as lockup %}
    {% import 'common/core/spinner.twig' as spinner %}
    {% set brandedPageConfig = {
        'baseBoldTitles': true,
        'containerFlexWidth': true,
        'hasTopRow': true,
        'secondaryColumnHidden': true
    } %}
    {% block branded_page_primary_column_content %}
        <div id="feed" class="">
            <div id="feed-main-what_to_watch" class="individual-feed" data-feed-name="what_to_watch" data-feed-type="main">
                <ol id="section-list-874807" class="section-list">
                {% import "common/uix/shelf.twig" as shelf %}
                {%- for compactShelf in yt.page.shelvesList -%}
                {{ shelf.compact(compactShelf) }}
                {# {% set shelfRenderer = shelf.itemSectionRenderer.contents.0.shelfRenderer %}
                    <li>
                    <ol id="item-section-760461" class="item-section">
                        <li>
                            <div class="feed-item-container browse-list-item-container yt-section-hover-container compact-shelf shelf-item branded-page-box vve-check clearfix " data-visibility-tracking="CGYQ3BwYACITCOLXzPvf6toCFRA7fwodgP0KKSiOHg==">
                                <div class="feed-item-dismissable">
                                <div class="shelf-title-table">
                                    <div class="shelf-title-row">
                                        <h2 class="branded-page-module-title shelf-title-cell">
                                        {%- if shelfRenderer.endpoint -%}
                                        <a href="{{ resolveBrowseIdUrl(shelfRenderer.endpoint.browseEndpoint.browseId) }}" class="branded-page-module-title-link yt-uix-sessionlink      spf-link " data-sessionlink="itct=CGYQ3BwYACITCOLXzPvf6toCFRA7fwodgP0KKSiOHg" >
                                        {% endif %}
                                        {%- if shelfRenderer.thumbnail -%}
                                            <div class="yt-lockup-thumbnail">
                                                <div class="yt-thumb video-thumb">
                                                    <span class="yt-thumb-simple">
                                                    <img height="20" onload=";window.__ytRIL &amp;&amp; __ytRIL(this)" alt="" width="20" data-ytimg="1" data-thumb="{{ shelfRenderer.thumbnail.thumbnails.0.url }}" src="{{ PIXEL }}">
                                                    </span>
                                                </div>
                                            </div>
                                            {% endif %}
                                            <span class="branded-page-module-title-text">{{ getText(shelfRenderer.title) }}</span>
                                        {% if shelfRenderer.endpoint %}
                                        </a>
                                        {% endif %}
                                        {%- if shelfRenderer.titleAnnotation -%}
                                        <span class="shelf-annotation shelf-title-annotation">
                                        {{ getText(shelfRenderer.titleAnnotation) }}
                                        </span>
                                        {% endif %}
                                        <a  href="/watch_videos?video_ids=ZUSPD9zOyJs%2C30HOemteiKQ%2CUUkn-enk2RU%2C4nqJiBRNQuw%2CCX11yw6YL1w%2C7bfS6seiLhk%2CJZ2fRE_nkak%2CDSRSgMp5X1w%2C42ZE4DCJkEo%2C23ILq4uxd-w%2Cu0feM_2mLvo%2CtJfDBSWYqU8%2CDkeiKbqa02g%2C_rB36UGoP4Y%2C4k9bXpi1tU4&amp;more_url=&amp;title=Trending&amp;type=0" class="yt-uix-button  shelves-play play-all-icon-btn yt-uix-sessionlink yt-uix-sessionlink yt-uix-button-default yt-uix-button-size-small yt-uix-button-has-icon no-icon-markup" data-sessionlink="itct=CGYQ3BwYACITCOLXzPvf6toCFRA7fwodgP0KKSiOHg"><span class="yt-uix-button-content">Play all</span></a>
                                        </h2>
                                        <div class="menu-container shelf-title-cell">
                                        </div>
                                    </div>
                                </div>
                                <div class="compact-shelf yt-uix-shelfslider yt-uix-shelfslider-at-head">
                                    <div class="yt-uix-shelfslider-body yt-viewport">
                                        <ul class="yt-uix-shelfslider-list">
                                        {%- for item in shelfRenderer.content.horizontalListRenderer.items -%}
                                            <li class="yt-shelf-grid-item yt-uix-shelfslider-item">
                                            {{ lockup.grid(item) }}
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-shelf-slider-pager yt-uix-shelfslider-prev" type="button" onclick=";return false;"><span class="yt-uix-button-content"><span data-tooltip-text="Previous" aria-label="Previous" class="yt-uix-shelfslider-prev-arrow yt-uix-tooltip yt-sprite"></span></span></button><button class="yt-uix-button yt-uix-button-size-default yt-uix-button-shelf-slider-pager yt-uix-shelfslider-next" type="button" onclick=";return false;"><span class="yt-uix-button-content"><span data-tooltip-text="Next" aria-label="Next" class="yt-uix-shelfslider-next-arrow yt-uix-tooltip yt-sprite"></span></span></button>
                                </div>
                                </div>
                                <div class="feed-item-dismissal-notices"></div>
                            </div>
                        </li>
                    </ol>
                    </li> #}
                {% endfor %}
                </ol>
                <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-default load-more-button yt-uix-load-more browse-items-load-more-button scrolldetect yt-uix-sessionlink" type="button" onclick=";return false;" aria-label="Load more
                    " data-sessionlink="itct=CAcQui8iEwji18z73-raAhUQO38KHYD9Cikojh4" data-scrolldetect-offset="600" data-scrolldetect-callback="load-more-auto" data-uix-load-more-target-id="section-list-874807" data-sessionlink-target="/browse_ajax?action_continuation=1&amp;continuation=4qmFsgKDARIPRkV3aGF0X3RvX3dhdGNoGm5DQWg2VEVOcGQwRkJSMVoxUVVGR1ZsVjNRVUpXVmsxQlFWRkNSMUpZWkc5WldGSm1aRWM1Wm1ReVJqQlpNbWRCUVZGQlFVRlJSVUpCUVVGQ1FVRkZRVUZDUVVGSFMwdGlNMTkyWmpaMGIwTSUzREIA&amp;direct_render=1&amp;target_id=section-list-874807" data-uix-load-more-href="/browse_ajax?action_continuation=1&amp;continuation=4qmFsgKDARIPRkV3aGF0X3RvX3dhdGNoGm5DQWg2VEVOcGQwRkJSMVoxUVVGR1ZsVjNRVUpXVmsxQlFWRkNSMUpZWkc5WldGSm1aRWM1Wm1ReVJqQlpNbWRCUVZGQlFVRlJSVUpCUVVGQ1FVRkZRVUZDUVVGSFMwdGlNMTkyWmpaMGIwTSUzREIA&amp;direct_render=1&amp;target_id=section-list-874807"><span class="yt-uix-button-content">  <span class="load-more-loading hid">
                <span class="yt-spinner">
                <span title="Loading icon" class="yt-spinner-img  yt-sprite"></span>
                Loading...
                </span>
                </span>
                <span class="load-more-text">
                Load more
                </span>
                </span></button>
            </div>
            <div id="feed-error" class="individual-feed  hid">
                <p class="feed-message">
                    We were unable to complete the request, please try again later.
                </p>
            </div>
            <div id="feed-loading-template" class=" hid">
                <div class="feed-message">
                    {{ spinner.render('Loading...') }}
                </div>
            </div>
        </div>
    {% endblock %}
    {% endembed %}
{% endblock %}