{% extends "core.twig" %}
{% import 'core/macros.twig' as core %}
{% import 'common/appbar/appbar_nav.twig' as appbar_nav %}
{% import 'common/uix/lockup.twig' as lockup %}
{% import 'common/uix/load_more_button.twig' as load_more %}

{% set pageType = 'home' %}
{% set pageName = 'index' %}

{% set appbarEnabled = true %}
{% set defaultGuideVisibility = true %}
{% set defaultAppbarVisibility = true %}
{% set enableSnapScaling = true %}

{% block foot_scripts %}
<script>
    yt.setConfig({
        'MASTHEAD_ENCRYPTED_ID': "EdYBjVl9t7o",
        'MASTHEAD_IS_BRANDED': true
    });

    yt.setConfig('JS_PAGE_MODULES', {{ yt.modularCoreModules|json_encode|raw }});
    yt.setConfig('DISMISS_THROUGH_IT', true);

    yt.setConfig({
        'GUIDE_SELECTED_ITEM': "0qDduQEREg9GRXdoYXRfdG9fd2F0Y2g%3D"
    });

    yt.setConfig({
        'GUIDED_HELP_LOCALE': "en_US",
        'GUIDED_HELP_ENVIRONMENT': "prod"
    });
</script>
{% endblock %}

{%- block head_css  -%}
    {{ core.css('www-home-c4') }}
{% endblock %}

{%- block appbarContent -%}
   {% set appbarContents = {
      'items': {
        0: {
            'title': 'Home',
            'href': '/',
            'selected': true
        },
        1: {
            'title': 'Trending',
            'href': '/feed/trending'
        }
      }
   } %}
   {{ appbar_nav.render(appbarContents) }}
{% endblock %}

{%- block content -%}
<div class="branded-page-v2-container branded-page-base-bold-titles branded-page-v2-container-flex-width branded-page-v2-has-top-row branded-page-v2-secondary-column-hidden">
    <div class="branded-page-v2-col-container">
        <div class="branded-page-v2-col-container-inner">
            <div class="branded-page-v2-primary-col">
                <div class="yt-card clearfix">
                    <div id="browse-items-primary">
                        <ol id="section-list-69420" class="item-section">
                            <li>
                                <div class="feed-item-container browse-list-item-container yt-section-hover-container compact-shelf shelf-item branded-page-box clearfix">
                                    <div class="feed-item-dismissable">
                                        <div class="shelf-title-table">
                                            <div class="shelf-title-row">
                                                <h2 class="branded-page-module-title shelf-title-cell">
                                                    <span class="branded-page-module-title-text">Home</span>
                                                </h2>
                                                <div class="menu-container shelf-title-cell">
                                                    <div class="yt-uix-menu-container feed-item-action-menu">
                                                        <ul class="yt-uix-menu-top-level-button-container">
                                                            <li class="yt-uix-menu-top-level-button yt-uix-menu-top-level-flow-button">
                                                                <a href="/?flow=1" class="spf-link yt-uix-button {{ yt.flow == "grid" ? "yt-uix-button-blue-text" }} {{ yt.flow != "grid" ? "yt-uix-button-opacity" }} yt-uix-button-size-default yt-uix-button-has-icon yt-uix-tooltip yt-uix-button-empty">
                                                                    <span class="yt-uix-button-icon-wrapper">
                                                                        <span class="yt-uix-button-icon yt-uix-button-icon-view-module yt-sprite"></span>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li class="yt-uix-menu-top-level-button yt-uix-menu-top-level-flow-button">
                                                                <a href="/?flow=2" class="spf-link yt-uix-button {{ yt.flow == "list" ? "yt-uix-button-blue-text" }} {{ yt.flow != "list" ? "yt-uix-button-opacity" }} yt-uix-button-size-default yt-uix-button-has-icon yt-uix-tooltip yt-uix-button-empty">
                                                                    <span class="yt-uix-button-icon-wrapper">
                                                                        <span class="yt-uix-button-icon yt-uix-button-icon-view-list yt-sprite"></span>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="expanded-shelf">
                                            {% if yt.flow == "grid" %}
                                            <ul id="channels-browse-content-grid" class="channels-browse-content-grid branded-page-gutter-padding grid-lockups-container">
                                                {% apply spaceless %}
                                                {% for item in yt.videoList %}
                                                    {% if item.gridVideoRenderer or item.gridPlaylistRenderer %}
                                                        <li class="channels-content-item yt-shelf-grid-item">
                                                            {{ lockup.grid(item) }}
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                                {% endapply %}
                                            </ul>
                                            {% elseif yt.flow == "list" %}
                                            <ul id="home-video-list" class="expanded-shelf-content-list">
                                                {% apply spaceless %}
                                                {% for item in yt.videoList %}
                                                    {% if item.videoRenderer or item.playlistRenderer %}
                                                        <li class="expanded-shelf-content-item-wrapper">
                                                            <div class="expanded-shelf-content-item">
                                                                {{ lockup.tile(item) }}
                                                            </div>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                                {% endapply %}
                                            </ul>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ol>
                        {% set target = yt.flow == "grid" ? "channels-browse-content-grid" : "home-video-list" %}
                        {{ load_more.render(yt.page.continuation, target, true) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%- endblock -%}