{# Render a guide section. #}
{% macro render(section, addSeparator) %}
<li class="guide-section ">
    {# Define the title (if it exists) #}
    {% if section.formattedTitle %}
    {{ _self.title(section.formattedTitle) }}
    {% endif %}
    <ul class="guide-user-links yt-uix-tdl yt-box" role="menu">
        {# Include guide items #}
        {{ _self.item_list(section.items) }}
    </ul>
    {% if addSeparator %}
    <hr class="guide-section-separator">
    {% endif %}
</li>
{% endmacro %}

{# Get the title contents, including links #}
{% macro title(title) %}
<h3>
    {% if title.runs %}
        {%- for run in title.runs -%}
            {% if run.navigationEndpoint %}
            <a href="{{ getUrl(run) }}" class="spf-link " data-ytid="{{ run.navigationEndpoint.browseEndpoint.browseId }}"  data-name="g-personal">{{ run.text }}</a>
            {% else %}
            {{ run.text }}
            {% endif %}
        {%- endfor -%}
    {% elseif title.simpleText %}
        {% if title.navigationEndpoint %}
        <a href="{{ getUrl(title) }}" class="spf-link " data-ytid="{{ title.navigationEndpoint.browseEndpoint.browseId }}"  data-name="g-personal">{{ title.simpleText }}</a>
        {% else %}
        {{ title.simpleText }}
        {% endif %}
    {% endif %}
</h3>
{% endmacro %}

{# Build the section's item list, supporting regular and collapsed entry renderers. #}
{% macro item_list(items) %}
{% from "common/guide/guide_entry.twig" import render as guide_entry %}
{% from "common/guide/guide_collapsible.twig" import render as guide_collapsible %}
{% for item in items %}
    {% if item.guideEntryRenderer %}
        {{ guide_entry(item.guideEntryRenderer) }}
    {% elseif item.guideCollapsibleEntryRenderer %}
        {{ guide_collapsible(item.guideCollapsibleEntryRenderer) }}
    {% endif %}
{% endfor %}
{% endmacro %}