{%- macro render(data) -%}
    {% from "common/browse/shelf.twig" import render as shelf %}
    {% from "common/channels4/video_player_view_component.twig" import render as video_player_view_component %}
    {% import "common/uix/lockup.twig" as lockup %}
    {% set rid = generateRid() %}
    <ol id="item-section-{{ rid }}" class="item-section">
        {%- for item in data.contents -%}
                {%- if item.shelfRenderer -%}
                    {{ shelf(item.shelfRenderer) }}
                {%- elseif item.messageRenderer -%}
                <li>
                    <p class="display-message">
                        {%- set text = item.messageRenderer.subtext.messageSubtextRenderer.text ?? item.messageRenderer.text -%}
                        {%- if text.runs -%}
                            {%- for run in text.runs -%}
                                {%- if run.navigationEndpoint -%}
                                    <a href="{{ getUrl(run) }}">{{ run.text }}</a>
                                {%- else -%}
                                    {{ run.text }}
                                {%- endif -%}
                            {%- endfor -%}
                        {%- elseif text.simpleText -%}
                            {{ text.simpleText }}
                        {%- endif -%}
                    </p>
                </li>
                {%- elseif item.channelVideoPlayerRenderer -%}
                <li>
                    {{ video_player_view_component(item.channelVideoPlayerRenderer) }}
                </li>
                {%- elseif item.channelFeaturedContentRenderer -%}
                <li>
                    <div class="c4-featured-content branded-page-box">
                        <div class="yt-uix-slider yt-section-hover-container" data-disabled-slider-buttons="true">
                            <div class="yt-uix-slider-body">
                                <ul class="yt-uix-slider-list">
                                    {%- for content in item.channelFeaturedContentRenderer.items -%}
                                        {{ lockup.tile(content, 288, 162, {
                                            type: "li",
                                            class: [
                                                "featured-content-item",
                                                "fluid"
                                            ]
                                        }) }}
                                    {%- endfor -%}
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                {%- elseif item.videoRenderer
                        or item.playlistRenderer
                        or item.radioRenderer
                        or item.channelRenderer 
                -%}
                    <li class="feed-item-container yt-section-hover-container browse-list-item-container branded-page-box vve-check ">
                        <div class="feed-item-dismissable ">
                            <div class="feed-item-main feed-item-no-author">
                                <div class="feed-item-main-content">
                                    {{ lockup.tile(item) }}
                                </div>
                            </div>
                        </div>
                        <div class="feed-item-dismissal-notices">
                            <div class="feed-item-dismissal feed-item-dismissal-hide hid">
                                This item has been hidden
                            </div>
                        </div>
                    </li>
            {%- endif %}
        {%- endfor -%}
    </ol>
{%- endmacro -%}