{%- macro render(data) -%}
    <div class="feed-item-container browse-list-item-container yt-section-hover-container compact-shelf shelf-item branded-page-box  clearfix ">
        <div class="feed-item-dismissable">
            {{ _self.title(data) }}
            {%- if data.content.horizontalListRenderer -%}
                {{ _self.compact(data.content.horizontalListRenderer) }}
            {%- elseif data.content.expandedShelfContentsRenderer -%}
                {{ _self.expanded(data.content.expandedShelfContentsRenderer) }}
            {% elseif data.content.gridRenderer %}
                {{ _self.multirow(data.content.gridRenderer) }}
            {%- endif -%}
        </div>
        <div class="feed-item-dismissal-notices"></div>
    </div>
{%- endmacro -%}

{% macro compact(data) %}
    {% import "common/uix/lockup.twig" as lockup %}
    <div class="compact-shelf yt-uix-shelfslider yt-uix-shelfslider-at-head">
        <div class="yt-uix-shelfslider-body yt-viewport">
            <ul class="yt-uix-shelfslider-list">
            {%- for item in data.items -%}
                <li class="yt-shelf-grid-item yt-uix-shelfslider-item {{ item.channelRenderer or item.gridChannelRenderer ? "channels-content-item channel-shelf-item" }}">
                    {{ lockup.grid(item) }}
                </li>
                {% endfor %}
            </ul>
        </div>
        <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-shelf-slider-pager yt-uix-shelfslider-prev" type="button" onclick=";return false;">
            <span class="yt-uix-button-content">
                <span data-tooltip-text="{{ yt.msgs.shelfsliderPrev }}" aria-label="{{ yt.msgs.shelfsliderPrev }}" class="yt-uix-shelfslider-prev-arrow yt-uix-tooltip yt-sprite"></span>
            </span>
        </button>
        <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-shelf-slider-pager yt-uix-shelfslider-next" type="button" onclick=";return false;">
            <span class="yt-uix-button-content">
                <span data-tooltip-text="{{ yt.msgs.shelfsliderNext }}" aria-label="{{ yt.msgs.shelfsliderNext }}" class="yt-uix-shelfslider-next-arrow yt-uix-tooltip yt-sprite"></span>
            </span>
        </button>
    </div>
{% endmacro %}

{% macro expanded(data) %}
    {% import "common/uix/lockup.twig" as lockup %}
    <div class="expanded-shelf">
        <ul class="expanded-shelf-content-list has-multiple-items">
        {%- for item in data.items -%}
            <li class="expanded-shelf-content-item-wrapper">
                <div class="expanded-shelf-content-item">
                        {{ lockup.tile(item) }}
                </div>
            </li>
        {%- endfor -%}
        </ul>
    </div>
{% endmacro %}

{% macro multirow(data) %}
    {% import "common/uix/lockup.twig" as lockup %}
    <div class="multirow-shelf">
        <ul id="grid-{{ generateRid() }}" class="shelf-content">
            {% for item in data.items %}
            <li class="yt-shelf-grid-item">
                {{ lockup.grid(item) }}
            </li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}

{%- macro title(data) -%}
    {%- from "core/html/img.twig" import img -%}
    <h2 class="branded-page-module-title shelf-title-cell">
        {%- if data.endpoint -%}
        <a href="{{ data.endpoint.commandMetadata.webCommandMetadata.url }}" class="branded-page-module-title-link       spf-link ">
        {% endif %}
        {%- if data.thumbnail -%}
        <div class="yt-lockup-thumbnail">
            <div class="yt-thumb video-thumb">
                <span class="yt-thumb-simple">
                    {{img({
                        width: 20,
                        height: 20,
                        onload: ";window.__ytRIL && __ytRIL(this)",
                        delayLoad: true,
                        ytImg: 1,
                        ariaHidden: "false",
                        src: getThumb(data)
                    })}}
                </span>
            </div>
        </div>
        {% endif %}
        <span class="branded-page-module-title-text">{{ getText(data.title) }}</span>
        {% if data.endpoint %}
        </a>
        {% endif %}
        {% if data.badges %}
        <span class="shelf-featured-badge">{{ data.badges[0].metadataBadgeRenderer.label }}</span>
        {% endif %}
        {%- if data.titleAnnotation -%}
        <span class="shelf-annotation shelf-title-annotation">
        {{ getText(data.titleAnnotation) }}
        </span>
        {% endif %}
    </h2>
    {% if data.subtitle %}
    <div class="shelf-description yt-ui-ellipsis yt-ui-ellipsis-2">{{ getText(data.subtitle) }}</div>
    {% endif %}
    <div class="menu-container shelf-title-cell">
        {% if data.menu %}
        <div class="yt-uix-menu-container feed-item-action-menu">
            {% if data.menu.menuRenderer.topLevelButtons %}
            <ul class="yt-uix-menu-top-level-button-container">
                {% from "common/uix/button.twig" import render as button %}
                {% for button in data.menu.menuRenderer.topLevelButtons %}
                {% set btn = button.buttonRenderer %}
                {{ button(btn, (btn.style == "STYLE_OPACITY" and btn.isSelected) ? "blue-text" : null) }}
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endif %}
    </div>
{%- endmacro -%}