{%- macro item(data, iteration) -%}
    {% set href = data.navigationEndpoint.commandMetadata.webCommandMetadata.url %}
    {% set title = getText(data.title) %}
    {% set byline = getText(data.longBylineText) %}
    {% set thumbnail = data.thumbnail.thumbnails.0.url %}
    <li class="yt-uix-scroller-scroll-unit  {{ data.selected ? ' currently-playing' }}" data-video-id="{{ data.videoId }}" data-innertube-clicktracking="{{ data.trackingParams }}" data-index="{{ iteration - 1 }}" data-thumbnail-url="{{ thumbnail }}" data-video-username="{{ byline }}" data-video-title="{{ title }}">
        <span class="index">
        {{ getText(data.indexText) }}
        </span>
        <a href="{{ href }}" class=" spf-link  playlist-video clearfix        spf-link ">
            <span class="video-thumb  yt-thumb yt-thumb-72">
                <span class="yt-thumb-default">
                    <span class="yt-thumb-clip">
                        <img onload=";window.__ytRIL &amp;&amp; __ytRIL(this)" data-thumb="{{ thumbnail }}" alt="" aria-hidden="true" width="72" data-ytimg="1" src="{{ PIXEL }}">
                        <span class="vertical-align"></span>
                    </span>
                </span>
            </span>
            <div class="playlist-video-description">
                <h4 class="yt-ui-ellipsis yt-ui-ellipsis-2">
                    {{ title }}
                </h4>
                <span class="video-uploader-byline">
                <span class="">{{ yt.config.byTextOnByline ? yt.msgs.usernamePrepend }}{{ byline }}</span>
                </span>
            </div>
        </a>
    </li>
{%- endmacro -%}

{%- macro list(contents) -%}
    <ol id="playlist-autoscroll-list" class="playlist-videos-list yt-uix-scroller yt-viewport" data-scroll-action="yt.www.watch.lists.loadThumbnails">
        {%- for video in contents -%}
            {{ _self.item(video.playlistPanelVideoRenderer, loop.index) }}
        {%- endfor -%}
    </ol>
{%- endmacro -%}