{%- macro render(data, styleOverride, id) -%}
    {% set wrapped = _self._buttonWrapper(data, styleOverride, id) %}
    {%- if data.clickcard and not data.manualClickcardWrapper -%}
        {% from "/common/uix/clickcard_wrapper.twig" import render as clickcard %}
        {{ clickcard(data.clickcard, wrapped) }}
    {%- elseif data.menu and not data.manualMenuWrapper -%}
        {% from "/common/uix/menu_wrapper.twig" import render as menu %}
        {{ menu(data.menu, wrapped) }}
    {%- elseif data.videoActionsMenu and not data.manualMenuWrapper -%}
        {% from "/common/uix/video_action_menu_wrapper.twig" import render as video_action_menu %}
        {{ video_action_menu(data.videoActionsMenu, wrapped) }}
    {%- else -%}
        {{ wrapped }}
    {%- endif -%}
{%- endmacro -%}

{%- macro _buttonWrapper(data, styleOverride, id) -%}
    {%- set hasUrl = getUrl(data) != "" -%}
    <{{ hasUrl ? "a" : "button" }} 
        {% if data.href %}
        href="{{ data.href }}"
        {% elseif hasUrl %}
        href="{{ getUrl(data) }}"
        {% endif %}
        class="yt-uix-button 
        yt-uix-button-size-{{ resolveSize(data.size) }} 
        {% if not data.noStyle %}yt-uix-button-{{ styleOverride ?? resolveStyle(data.style) }}{% endif %}
        {% if data.text.runs is empty and not data.text.simpleText and not data.thumb %}
            yt-uix-button-empty
        {% endif %}
        {% if data.icon %}
            yt-uix-button-has-icon 
            {% if not data.icon.iconType or data.icon.noIconMarkupOverride %}
                no-icon-markup 
            {% endif %}
        {% endif %}
        {% if hasUrl %}
            spf-link
        {% endif %}
        {% if data.menu %}
            yt-uix-menu-trigger
        {% elseif data.clickcard %}
            yt-uix-clickcard-target
        {% endif %}
        {% if data.spf %}
            spf-link
        {% endif %}
        {# Render custom classes #}
        {% for class in data.class %}
            {{ class ~ " " }}
        {% endfor %}
        {% if data.tooltip %}
            yt-uix-tooltip 
        {% endif %}" 
        type="button" 
        {% if data.href %}
        onclick=";window.location.href=this.getAttribute('href');return false;"
        {% elseif not hasUrl %}
        onclick=";return false;"
        {% endif %}
        {% if data.tooltip %} 
            title="{{ data.tooltip }}" 
        {% endif %}
        {% for name, value in obj2arr(data.accessibility.accessibilityData) %}
            aria-{{ name }}="{{ value }}" 
        {% endfor %}
        {% if id or data.targetId %}
            id="{{ id ?? data.targetId }}" 
        {% endif %}
        {% for name, value in data.customAttributes %}
            {{ name }}="{{ value }}" 
        {% endfor %}
        {% if data.role %}
            role="{{ data.role }}" 
        {% endif %}
        {% for name, value in data.attributes %}
            data-{{ name }}="{{ value }}" 
        {% endfor %}
        {% if data.accessibilityLabel %}
            aria-label="{{ data.accessibilityLabel }}"
        {% endif %}
        {% if data.isDisabled %}
            disabled=""
        {% endif %}
    >
        {%- if data.icon.iconType -%}
            <span class="yt-uix-button-icon-wrapper">
                <span class="yt-uix-button-icon yt-uix-button-icon-{{ const2class(data.icon.iconType) }} yt-sprite"></span>
            </span>
        {%- endif -%}
        {%- apply spaceless -%}
        {{ (data.text and not data.text is empty) or data.thumb ? _self._buttonContent(data) }}
        {%- endapply -%}
    </{{ hasUrl ? "a" : "button" }}>
{%- endmacro -%}

{%- macro _buttonContent(data) -%}
    {%- from "common/thumb.twig" import render as thumb -%}
    {%- apply spaceless -%}
    <span class="yt-uix-button-content">
    {%- endapply -%}
        {%- if data.thumb -%}
        {{ thumb(data.thumb) }}
        {%- endif -%}
        {%- if data.text.simpleText -%}
        {{ data.text.simpleText }}
        {%- else -%}
        {%- for run in data.text.runs -%}
            {%- if not run.class and not run.accessibilityLabel -%}
                {{ run.text }}
            {%- else -%}
                <span {% if run.class %}class="{{ run.class }}"{% endif %}{% if run.accessibilityLabel %} aria-label="{{ run.accessibilityLabel }}"{% endif %}>
                    {{ run.text }}
                </span>
            {%- endif -%}
        {%- endfor -%}
        {%- endif -%}
        {%- if data.hasArrow -%}
                <span class="yt-uix-button-arrow yt-sprite"></span>
        {%- endif -%}
    {%- apply spaceless -%}
    </span>
    {%- endapply -%}
{%- endmacro -%}