{#
 # Lockup V2
 # A replacement for absolutely abhorrent Lockup V1.
 #
 # @author Aubrey Pankow <aubyomori@gmail.com>
 #}

{% macro main(data, style, thumbX, thumbY) %}
    {% import "common/uix/lockup/thumb.twig" as thumb %}
    {% import "common/uix/subscription_button.twig" as subBtn %}
    {% if data.info %}
        {% set info = data.info %}
        {% if data.type == "channel" %}
            {% set thumbX = thumbY %}
        {% endif %}
        <div class="yt-lockup yt-lockup-{{ style }} yt-lockup-{{ data.type }} clearfix">
            <div class="yt-lockup-debug-data hid">{{ data|json_encode() }}</div>
            <div class="yt-lockup-dismissible {{ style == "tile" ? "yt-uix-tile" }}">
                {{ thumb.render(data, thumbX, thumbY) }}
                <div class="yt-lockup-content">
                    <h3 class="yt-lockup-title {{ info.menu ? "contains-action-menu" }}">
                        <a href="{{ getUrl(info) }}" class="spf-link yt-uix-tile-link yt-ui-ellipsis yt-ui-ellipsis-2" title="{{ getText(info.title) }}">{{ getText(info.title) }}</a>
                    </h3>
                    {% if getByline(info) != null and data.type != "channel" %}
                    {% set byline = getByline(info) %}
                    <div class="yt-lockup-byline">
                        {% if yt.config.byTextOnByline %}by{% endif %}
                        <a href="{{ getUrl(byline.runs[0]) }}" class="spf-link">{{ getText(byline) }}</a>
                        {% if info.ownerBadges != null and getBadge(info.ownerBadges, "BADGE_STYLE_TYPE_VERIFIED") %}
                        <span title="Verified" class="yt-uix-tooltip yt-channel-title-icon-verified yt-sprite"></span>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% if data.type == "playlist" or data.type == "radio" %}
                    {{ _self.playlistMeta(data) }}
                    {% elseif getMeta(info) != false %}
                    <div class="yt-lockup-meta">
                        <ul class="yt-lockup-meta-info">
                            {% for meta in getMeta(info) %}
                            <li>{{ getText(meta) }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% if style == "tile" and getDescSnippet(info) != false %}
                    <div class="yt-lockup-description yt-ui-ellipsis yt-ui-ellipsis-2">
                        {{ getText(getDescSnippet(info))|nl2br }}
                    </div>
                    {% endif %}
                    {% if style == "tile" and data.type == "channel" %}
                    <div class="yt-lockup-badges">
                        <ul class="yt-badge-list">
                            <li class="yt-badge-item">
                                <span class="yt-badge">Channel</span>
                            </li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro playlistMeta(data) %}
{% set info = data.info %}
<ol class="yt-lockup-meta yt-lockup-playlist-items">
    {% for video in info.videos %}
        {% if video.childVideoRenderer %}
            {% set this = video.childVideoRenderer %}
            <li class="yt-lockup-playlist-item clearfix">
                <span class="yt-lockup-playlist-item-length">{{ getVideoTime(this) }}</span>
                <a href="{{ getUrl(this) }}" class="yt-lockup-playlist-item-title spf-link">{{ getText(this.title) }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ol>
<div class="yt-lockup-meta">
    <ul class="yt-lockup-meta-info">
        <li>
            <a href="{{ getUrl(info.viewPlaylistText.runs[0]) }}" class="spf-link">{{ getText(info.viewPlaylistText) }}{% if data.type == "playlist" %} ({{ getText(info.videoCountText) }}){% endif %}</a>
        </li>
    </ul>
</div>
{% endmacro %}

{% macro grid(data, thumbX = 196, thumbY = 110) %}
    {{ _self.main(getLockupInfo(data), "grid", thumbX, thumbY) }}
{% endmacro %}

{% macro tile(data, thumbX = 196, thumbY = 110) %}
    {{ _self.main(getLockupInfo(data), "tile", thumbX, thumbY) }}
{% endmacro %}

{# LEGACY #}
{%- macro title(info, type, overflow = true, class) -%}
<h3 class="yt-lockup-title ">
   <a href="{{ getUrl(info) }} " class=" {% if overflow %}yt-ui-ellipsis yt-ui-ellipsis-2{% endif %} yt-uix-sessionlink  {{ class ?: "" }}    spf-link " data-sessionlink="itct=CHkQlDUYACITCOLXzPvf6toCFRA7fwodgP0KKSiOHjIKZy1oaWdoLXRydloPRkV3aGF0X3RvX3dhdGNo"  title="{{ getText(info.title) }}" aria-describedby="description-id-{{ generateRid }}" dir="ltr">
   {{ getText(info.title) }}{% if info.ownerBadges != null and getBadge(info.ownerBadges, "BADGE_STYLE_TYPE_VERIFIED") and type == "channel" %}    <span title="Verified" class="yt-uix-tooltip yt-channel-title-icon-verified yt-sprite"></span>{% endif %}
   </a>
   {%- if getVideoTime(info) != null -%}
      {{ _self.a11yDesc(getVideoTime(info)) }}
   {% endif %}
</h3>
{%- endmacro -%}

{% macro a11yDesc(lengthText) %}
<span class="accessible-description" id="description-id-{{ generateRid() }}">
    - Duration: {{ lengthText }}.
</span>
{% endmacro %}