{% macro render(data, class) %}
{% from "/common/uix/button.twig" import render as button %}
<span class="{{ class }} yt-uix-button-subscription-container {{ data.showSubscriptionPreferences ? "with-preferences" }}">
    {%- if data.showUnsubConfirmDialog and data.unsubConfirmDialog -%}
        <span class="unsubscribe-confirmation-overlay-container">
            <div class="yt-uix-overlay "  data-overlay-style="primary" data-overlay-shape="tiny">
                {% embed "/common/uix/dialog.twig" %}
                {% block dialog_content %}
                {% from "/common/uix/button.twig" import render as button %}
                <div class="unsubscribe-confirmation-overlay-content-container">
                    <div class="unsubscribe-confirmation-overlay-content">
                        <div class="unsubscribe-confirmation-message">
                            {{ getText(data.unsubConfirmDialog.dialogMessages.0) }}
                        </div>
                    </div>
                    <div class="yt-uix-overlay-actions">
                        {{ button(data.unsubConfirmDialog.cancelButton.buttonRenderer) }}
                        {{ button(data.unsubConfirmDialog.confirmButton.buttonRenderer) }}
                    </div>
                </div>
                {% endblock %}
                {% endembed %}
            </div>
        </span>
    {% endif %}
    {% apply spaceless %}
    {{ button(data.subscriptionButton) }}
    {%- if data.showSubscriptionPreferences -%}
        {{ button(data.subscriptionPreferencesButton) }}
    {% endif %}
    {%- if data.subscriberCountRenderer -%}
        {{ _self.subscriber_count(data.subscriberCountRenderer) }}
    {% endif %} 
    {% endapply %}
    {%- if data.showSubscriptionPreferences -%}
        <span class="subscription-preferences-overlay-container">
            <div class="yt-uix-overlay "  data-overlay-style="primary" data-overlay-shape="tiny">
                {% embed "/common/uix/dialog.twig" %}
                {% import "/core/spinner.twig" as spinner %}
                {% block dialog_content %}
                <div class="subscription-preferences-overlay-content-container">
                    <div class="subscription-preferences-overlay-loading ">
                        {{ spinner.render(yt.msgs.loading) }}
                    </div>
                    <div class="subscription-preferences-overlay-content"></div>
                </div>
                {% endblock %}
                {% endembed %}
            </div>
        </span>
    {% endif %}
</span>
{% endmacro %}

{%- macro subscriber_count(data) -%}
    <span class="yt-subscription-button-subscriber-count-{{ data.branded ? "branded" : "unbranded" }}-{{ data.direction }} yt-subscriber-count"
        title="{{ data.simpleText }}"
        aria-label="{{ data.simpleText }}"
        tabindex="0"
    >
        {{ data.simpleText }}
    </span>
{%- endmacro -%}