{% import "common/uix/lockup.twig" as lockup %}
<li class="branded-page-v2-subnav-container branded-page-gutter-padding clearfix">
    <button aria-expanded="false" class="subnav-flow-menu yt-uix-button yt-uix-button-default yt-uix-button-size-default" onclick=";return false;" type="button" aria-haspopup="true" data-button-menu-indicate-selected="true">
       <span class="yt-uix-button-content">Grid</span><span class="yt-uix-button-arrow yt-sprite"></span>
       <ul class=" yt-uix-button-menu yt-uix-button-menu-default hid" role="menu" aria-haspopup="true">
          <li role="menuitem"><span class=" yt-uix-button-menu-item spf-link" href="{{ yt.baseUrl }}/playlists?flow=list&amp;view=1&amp;sort=lad" onclick=";yt.window.navigate(this.getAttribute('href'));return false;">List</span></li>
       </ul>
    </button>
    <button aria-expanded="false" class="subnav-sort-menu yt-uix-button yt-uix-button-default yt-uix-button-size-default" onclick=";return false;" type="button" aria-haspopup="true" data-button-menu-indicate-selected="true">
       <span class="yt-uix-button-content">Last video added</span><span class="yt-uix-button-arrow yt-sprite"></span>
       <ul class=" yt-uix-button-menu yt-uix-button-menu-default hid" role="menu" aria-haspopup="true">
          <li role="menuitem"><span class=" yt-uix-button-menu-item spf-link" href="{{ yt.baseUrl }}/playlists?flow=grid&amp;view=1&amp;sort=da" onclick=";yt.window.navigate(this.getAttribute('href'));return false;">Date created (oldest)</span></li>
          <li role="menuitem"><span class=" yt-uix-button-menu-item spf-link" href="{{ yt.baseUrl }}/playlists?flow=grid&amp;view=1&amp;sort=dd" onclick=";yt.window.navigate(this.getAttribute('href'));return false;">Date created (newest)</span></li>
       </ul>
    </button>
    <a href="{{ yt.baseUrl }}" class="yt-uix-button sub-menu-back-button yt-uix-sessionlink yt-uix-button-default yt-uix-button-size-default yt-uix-button-has-icon yt-uix-button-empty" data-sessionlink="ei=VsoHWsTQNcSy-wP655j4CQ" aria-label="Back"><span class="yt-uix-button-icon-wrapper"><span class="yt-uix-button-icon yt-uix-button-icon-channel-back yt-sprite"></span></span></a> <span class="branded-page-module-title"> Created playlists </span> 
 </li>
 <li>
    {% if yt.flow == "grid" %}
    <ul id="channels-browse-content-grid" class="channels-browse-content-grid branded-page-gutter-padding grid-lockups-container">
        {% for item in yt.playlistList %}
        <li class="channels-content-item yt-shelf-grid-item">
            {% if item.gridPlaylistRenderer %}
                {{ lockup.grid(item, false) }}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% elseif yt.flow == "list" %}
        {% for item in yt.playlistList %}
        <li class="feed-item-container yt-section-hover-container browse-list-item-container branded-page-box">
            <div class="feed-item-dismissable">
                <div class="feed-item-main feed-item-no-author">
                    <div class="feed-item-main-content">
                        {% if item.gridPlaylistRenderer %}
                            {{ lockup.tile(item, false) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    {% endif %}
        
    <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-default load-more-button yt-uix-load-more browse-items-load-more-button yt-uix-load-more-error" type="button" onclick=";return false;" aria-label="Load more" data-uix-load-more-target-id="channels-browse-content-grid" data-uix-load-more-href="/browse_ajax?action_continuation=1&amp;direct_render=1&amp;continuation=4qmFsgJAEhhVQy1sSEpaUjNHcXhtMjRfVmRfQUo1WXcaJEVnWjJhV1JsYjNNZ0FEZ0JZQUZxQUhvQk1yZ0JBQSUzRCUzRA%253D%253D">
        <span class="yt-uix-button-content">
            <span class="load-more-loading hid" style="display: none;">
                <span class="yt-spinner">
                    <span class="yt-spinner-img  yt-sprite" title="Loading icon"></span>
                    Loading...
                </span>
            </span>
            <span class="load-more-text">
                Load more
            </span>
        </span>
    </button>
</li>