{% extends "core.twig" %}
{% import "core/macros.twig" as core %}

{% set pageType = '' %}
{% set pageName = 'playlist' %}

{% set appbarEnabled = true %}
{% set defaultGuideVisibility = true %}
{% set defaultAppbarVisibility = true %}
{% set enableSnapScaling = true %}

{%- block title -%}
{{ getText(yt.page.header.title) }} - {{ parent() }}
{%- endblock -%}

{% block foot_scripts %}
<script>
    yt.setConfig('ANGULAR_JS', "\/\/s.ytimg.com\/yts\/jslib\/angular.min-vfl8oYsy-.js");
    yt.setConfig('TRANSLATIONEDITOR_JS', "\/\/s.ytimg.com\/yts\/jsbin\/www-translationeditor-vfl6AQtCI\/www-translationeditor.js");
    yt.setMsg('UNSAVED_CHANGES_WARNING', "Some of the changes you have made to channel settings have not been saved and will be lost if you navigate away from this page.");


    yt.setConfig('JS_PAGE_MODULES', ["www\/channels","www\/ypc_bootstrap"]);




    yt.setConfig('CHANNEL_ID', {{ yt.ucid }});


    yt.setConfig('CHANNEL_TAB', "playlist");

    (function() {
        var channelHeaderEl = document.querySelector('.channel-header');
        if (!channelHeaderEl) {
          return;
        }
  
        if (!/channel-header-auto-hide/.test(channelHeaderEl.className)) {
          return;
        }
  
        var brandedPageContainer = document.querySelector('.branded-page-v2-container');
        var originalHeight = brandedPageContainer.clientHeight;
        channelHeaderEl.className = channelHeaderEl.className.replace(/\bhid\b/);
        var height = brandedPageContainer.clientHeight;
        var scrollDistance = height - originalHeight;
  
        document.body.style.minHeight = 0;
  
        var bodyScrollHeight = document.body.scrollHeight;
        var bodyClientHeight = document.body.clientHeight;
        var heightToIncrease = scrollDistance - (bodyScrollHeight - bodyClientHeight);
        if (heightToIncrease > 0) {
          document.body.style.minHeight = bodyScrollHeight + heightToIncrease + 'px';
        }
  
        document.body.scrollTop = document.documentElement.scrollTop = scrollDistance;
      }());


    yt.setConfig('DISMISS_THROUGH_IT', true);


        yt.setConfig({
        'GUIDE_SELECTED_ITEM': "{{ serialiseEndpoint(yt.currentEndpoint) }}"
        });

        yt.setConfig({
    'GUIDED_HELP_LOCALE': "en_US",
    'GUIDED_HELP_ENVIRONMENT': "prod"
    });
</script>
{% endblock %}

{%- block head_css -%}
{{ core.css('www-home-c4') }}
{% endblock %}

{% import 'common/appbar/appbar_nav.twig' as appbar_nav %}
{%- block appbarContent -%}
   {{ appbar_nav.render(yt.appbar.nav) }}
{% endblock %}

{%- block content -%}
    <div id="debug" class="hid">
        {{ yt.page.raw|json_encode|raw }}
    </div>
    {%- embed "common/channels4/branded_page_v2.twig" -%}
        {%- set brandedPageConfig = {
            'baseBoldTitles': true,
            'containerFlexWidth': true,
            'hasTopRow': true,
            'secondaryColumnHidden': yt.page.secondaryContent ? false : true
        } -%}

        {%- block branded_page_top_row -%}
            {% from "/common/channels4/channel_header.twig" import render as channel_header %}
            {% if yt.page.channelHeader %}
            {{ channel_header(yt.page.channelHeader) }}
            {% endif %}
        {% endblock %}

        {%- block branded_page_primary_column_content -%}
            {%- from "core/html/img.twig" import img as img -%}
            {%- from "common/uix/button.twig" import render as button -%}
            {%- if yt.page.header -%}
            {%- set header = yt.page.header -%}
            <div id="pl-header" class="branded-page-box clearfix" data-all-playlists-url="{{ getUrl(header.ownerEndpoint) }}/playlists">
                <div class="pl-header-thumb" style="height: 126px;">
                    <img src="{{ getThumb(header.playlistHeaderBanner.heroPlaylistThumbnailRenderer, 126) }}" height="126px">
                    <a href="{{ getUrl(plh) }}" class="pl-header-play-all-overlay yt-valign spf-link">► {{ getText(header.playlistHeaderBanner.heroPlaylistThumbnailRenderer.thumbnailOverlays.thumbnailOverlayHoverTextRenderer.text) }}</a>
                </div>
                <div class="pl-header-content">
                    <h1 class="pl-header-title" tabindex="0">{{ getText(header.title) }}</h1>
                    <ul class="pl-header-details">
                        <li>
                            <a href="{{ getUrl(header.ownerEndpoint) }}" class="spf-link">
                                {{ getText(header.ownerText) }}
                            </a>
                        </li>
                        {%- if header.numVideosText -%}
                        <li>{{ getText(header.numVideosText) }}</li>
                        {%- endif -%}
                        {%- if header.viewCountText -%}
                        <li>{{ getText(header.viewCountText) }}</li>
                        {%- endif -%}
                        {%- if header.byline[1] -%}
                        <li>{{ getText(header.byline[1].playlistBylineRenderer.text) }}</li>
                        {%- endif -%}
                    </ul>
                    <div class="playlist-actions">
                        {%- if header.playButton.buttonRenderer -%}
                        {{ button({
                            style: "STYLE_DEFAULT",
                            size: "SIZE_DEFAULT",
                            text: header.playButton.buttonRenderer.text,
                            navigationEndpoint: header.playButton.buttonRenderer.navigationEndpoint,
                            icon: true,
                            class: [
                                "playlist-play-all",
                                "play-all-icon-btn"
                            ]
                        }) }}
                        {%- endif -%}
                    </div>
                </div>
            </div>
            {%- endif -%}
            {%- if yt.page.videoList -%}
                {%- import "common/uix/watch_later_button.twig" as wlBtn -%}
                {%- from "common/uix/load_more_button.twig" import render as load_more -%}
                <ul id="browse-items-primary">
                    <li>
                        <div id="pl-video-list" class="pl-video-list">
                            <table id="pl-video-table" class="pl-video-table">
                                <tbody id="pl-load-more-destination">
                                    {%- from "common/playlist/pl_video.twig" import render as pl_video -%}
                                    {%- for video in yt.page.videoList -%}
                                        {{ pl_video(video) }}
                                    {%- endfor -%}
                                </tbody>
                            </table>
                            {%- set last = yt.page.videoList|last -%}
                            {%- if last.continuationItemRenderer -%}
                            {{ load_more(
                                last.continuationItemRenderer.continuationEndpoint.continuationCommand.token,
                                "pl-load-more-destination"
                            ) }}
                            {%- endif -%}
                        </div>
                    </li>
                </ul>
            {%- endif -%}
        {%- endblock -%}
    {%- endembed -%}
{%- endblock -%}