{% extends "core.twig" %}
{% import "core/macros.twig" as core %}

{% set pageType = 'search' %}

{% set appbarEnabled = true %}
{% set defaultGuideVisibility = true %}
{% set defaultAppbarVisibility = false %}
{% set enableSnapScaling = false %}

{%- block title -%}
{{ yt.masthead.searchbox.query }} - {{ parent() }}
{%- endblock -%}

{%- block head_css -%}
{{ core.css("www-results") }}
{{ core.css("www-home-c4") }}
{% endblock %}

{% block content %}
    <div id="debug" class="hid">
        {{ yt.page.header|json_encode() }}
    </div>
    {% embed 'common/channels4/branded_page_v2.twig' %}

    {% set brandedPageConfig = {
        baseBoldTitles: true,
        containerFlexWidth: true
    } %}

    {% block branded_page_primary_column_content %}
    {% import "common/uix/lockup.twig" as lockup %}
    {% import "common/uix/button.twig" as button %}
    {% from "common/results/search_submenu.twig" import render as search_submenu %}
    {% from "common/uix/button.twig" import render as button %}
    <div id="results">
        <ol id="section-list-{{ generateRid() }}" class="section-list">
            {%- if yt.page.content.subMenu -%}
            <li class="branded-page-v2-subnav-container branded-page-gutter-padding">
                {{ search_submenu(yt.page.content.subMenu.searchSubMenuRenderer) }}
            </li>
            {%- endif -%}
            {# We cannot use the item section template because of large search thumbs #}
            {%- for section in yt.page.content.contents -%}
                {%- if section.itemSectionRenderer -%}
                    {%- set this = section.itemSectionRenderer -%}
                    <li>
                        <ol id="item-section-{{ generateRid() }}" class="item-section">
                            {%- if yt.page.content.header.textHeaderRenderer -%}
                            <li class="safety-mode-message">
                                {{ getText(yt.page.content.header.textHeaderRenderer.title) }}
                            </li>
                            {%- endif -%}
                            {%- for item in this.contents -%}
                                {%- if item.videoRenderer
                                    or item.playlistRenderer
                                    or item.radioRenderer
                                    or item.channelRenderer
                                -%}
                                <li>
                                    {{ yt.config.largeSearchThumbs
                                    ? lockup.tile(item, 246, 138)
                                    : lockup.tile(item)
                                    }}
                                </li>
                                {%- elseif item.shelfRenderer -%}
                                {%- set shelf = item.shelfRenderer -%}
                                <li>
                                    <div class="feed-item-container browse-list-item-container yt-section-hover-contaner compact-shelf shelf-item branded-page-box clearfix">
                                        <div class="feed-item-dismissible">
                                            <div class="shelf-title-table">
                                                <div class="shelf-title-row">
                                                    <h2 class="branded-page-module-title shelf-title-cell">{{ getText(shelf.title) }}</h2>
                                                </div>
                                            </div>
                                            <div class="vertical-shelf">
                                                <div class="yt-uix-expander yt-uix-expander-collapsed">
                                                    <ul class="shelf-content">
                                                        {%- set list = shelf.content.verticalListRenderer -%}
                                                        {%- for video in list.items -%}
                                                                                                            {# sic lmao #}
                                                        <li{{ loop.index > list.collapsedItemCount ? ' class="collapsable"'  }}>
                                                            {{ yt.config.largeSearchThumbs
                                                            ? lockup.tile(video, 246, 138)
                                                            : lockup.tile(video)
                                                            }}
                                                        </li>
                                                        {%- endfor -%}
                                                    </ul>
                                                    <div class="yt-uix-expander-head yt-uix-expander-collapsed-body">
                                                        {{ button({
                                                            style: "STYLE_LINK",
                                                            size: "SIZE_DEFAULT",
                                                            icon: true,
                                                            tooltip: yt.msgs.showMore,
                                                            class: ["vertical-shelf-expander"]
                                                        }) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="feed-item-dismissal-notices"></div>
                                    </div>
                                </li>
                                {%- elseif item.horizontalCardListRenderer -%}
                                {%- set list = item.horizontalCardListRenderer -%}
                                <li>
                                    <div class="search-refinements">
                                        <h3>{{ getText(list.header.richListHeaderRenderer.title) }}</h3>
                                        {%- for refinement in list.cards -%}
                                        <div class="search-refinement">
                                            <a href="{{ getUrl(refinement.searchRefinementCardRenderer.searchEndpoint) }}" class="spf-link">{{ getText(refinement.searchRefinementCardRenderer.query) }}</a>
                                        </div>
                                        {%- endfor -%}
                                    </div>
                                </li>
                                {%- elseif item.didYouMeanRenderer -%}
                                {%- set dym = item.didYouMeanRenderer -%}
                                <li class="spell-correction spell-correction-dym">
                                    <span class="spell-correction-corrected">
                                        {{ getText(dym.didYouMean) }}
                                    </span>
                                    <a href="{{ getUrl(dym.correctedQueryEndpoint) }}" class="spell-correction-corrected-query spf-link">
                                        {%- for run in dym.correctedQuery.runs -%}
                                        {{ run.italics ? "<i>" }}{{ run.text }}{{ run.italics ? "</i>" }}
                                        {%- endfor -%}
                                    </a>
                                </li>
                                {%- elseif item.showingResultsForRenderer -%}
                                {%- set srf = item.showingResultsForRenderer -%}
                                <li class="spell-correction">
                                    <span class="spell-correction-corrected">
                                        {{ getText(srf.showingResultsFor) }}
                                    </span>
                                    <a href="{{ getUrl(srf.correctedQueryEndpoint) }}" class="spell-correction-corrected-query spf-link">
                                        {%- for run in srf.correctedQuery.runs -%}
                                        {{ run.italics ? "<i>" }}{{ run.text }}{{ run.italics ? "</i>" }}
                                        {%- endfor -%}
                                    </a>
                                    <span>{{ getText(srf.searchInsteadFor) }}</span>
                                    <a href="{{ getUrl(srf.originalQueryEndpoint) }}" class="spf-link">
                                        {{ getText(srf.originalQuery) }}
                                    </a>
                                </li>
                                {%- endif -%}
                            {%- endfor -%}
                        </ol>
                    </li>
                {%- endif -%}
            {%- endfor -%}
        </ol>
    </div>
    {% if yt.page.paginator %}
        <div class="branded-page-box search-pager  spf-link ">
            {% for btn in yt.page.paginator.items %}
                {{ button.render(btn) }}
            {% endfor %}
        </div>
    {% endif %}
    {% endblock %}
    {% endembed %}
{% endblock %}