{% extends "core.twig" %}
{% import "core/macros.twig" as core %}

{% set pageType = 'search' %}

{% set appbarEnabled = true %}
{% set defaultGuideVisibility = true %}
{% set defaultAppbarVisibility = false %}
{% set enableSnapScaling = false %}

{%- block title -%}
{{ yt.query }} - {{ parent() }}
{%- endblock -%}

{%- block head_css -%}
{{ core.css("www-results") }}
{{ core.css("www-home-c4") }}
{% endblock %}

{% block content %}
    <div id="debug" class="hid">
        {{ yt.page.header|json_encode() }}
    </div>
    {% embed 'common/channels4/branded_page_v2.twig' %}

    {% set brandedPageConfig = {
        baseBoldTitles: true,
        containerFlexWidth: true
    } %}

    {% block branded_page_primary_column_content %}
    {% import "common/uix/lockup.twig" as lockup %}
    {% import "common/uix/button.twig" as button %}
    {% from "common/results/search_submenu.twig" import render as search_submenu %}
    {% from "common/uix/button.twig" import render as button %}
    <div id="results">
        <ol id="section-list-{{ generateRid() }}" class="section-list">
            {%- if yt.page.content.subMenu -%}
            <li class="branded-page-v2-subnav-container branded-page-gutter-padding">
                {{ search_submenu(yt.page.content.subMenu.searchSubMenuRenderer) }}
            </li>
            {%- endif -%}
            {# We cannot use the item section template because of large search thumbs #}
            {%- for section in yt.page.content.contents -%}
                {%- if section.itemSectionRenderer -%}
                    {%- set this = section.itemSectionRenderer -%}
                    <li>
                        <ol id="item-section-{{ generateRid() }}" class="item-section">
                            {%- for item in this.contents -%}
                            <li>
                                {%- if item.videoRenderer
                                    or item.playlistRenderer
                                    or item.radioRenderer
                                    or item.channelRenderer
                                -%}
                                    {{ yt.config.largeSearchThumbs
                                    ? lockup.tile(item, 246, 138)
                                    : lockup.tile(item)
                                    }}
                                {%- elseif item.shelfRenderer -%}
                                {%- set shelf = item.shelfRenderer -%}
                                <div class="feed-item-container browse-list-item-container yt-section-hover-contaner compact-shelf shelf-item branded-page-box clearfix">
                                    <div class="feed-item-dismissible">
                                        <div class="shelf-title-table">
                                            <div class="shelf-title-row">
                                                <h2 class="branded-page-module-title shelf-title-cell">{{ getText(shelf.title) }}</h2>
                                            </div>
                                        </div>
                                        <div class="vertical-shelf">
                                            <div class="yt-uix-expander yt-uix-expander-collapsed">
                                                <ul class="shelf-content">
                                                    {%- set list = shelf.content.verticalListRenderer -%}
                                                    {%- for video in list.items -%}
                                                                                                        {# sic lmao #}
                                                    <li{{ loop.index > list.collapsedItemCount ? ' class="collapsable"'  }}>
                                                        {{ yt.config.largeSearchThumbs
                                                        ? lockup.tile(video, 246, 138)
                                                        : lockup.tile(video)
                                                        }}
                                                    </li>
                                                    {%- endfor -%}
                                                </ul>
                                                <div class="yt-uix-expander-head yt-uix-expander-collapsed-body">
                                                    {{ button({
                                                        style: "STYLE_LINK",
                                                        size: "SIZE_DEFAULT",
                                                        icon: true,
                                                        tooltip: "Show more",
                                                        class: ["vertical-shelf-expander"]
                                                    }) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="feed-item-dismissal-notices"></div>
                                </div>
                                {%- elseif item.horizontalCardListRenderer -%}
                                {%- set list = item.horizontalCardListRenderer -%}
                                <div class="search-refinements">
                                    <h3>{{ getText(list.header.richListHeaderRenderer.title) }}</h3>
                                    {%- for refinement in list.cards -%}
                                    <div class="search-refinement">
                                        <a href="{{ getUrl(refinement.searchRefinementCardRenderer.searchEndpoint) }}" class="spf-link">{{ getText(refinement.searchRefinementCardRenderer.query) }}</a>
                                    </div>
                                    {%- endfor -%}
                                </div>
                                {%- endif -%}
                                {%- endfor -%}
                            </li>
                        </ol>
                    </li>
                {%- endif -%}
            {%- endfor -%}
        </ol>
    </div>
    {% if yt.page.paginator %}
        <div class="branded-page-box search-pager  spf-link ">
            {% for btn in yt.page.paginator.items %}
                {{ button.render(btn) }}
            {% endfor %}
        </div>
    {% endif %}
    {% endblock %}
    {% endembed %}
{% endblock %}