{% extends "core.twig" %}
{% import "core/macros.twig" as core %}

{% set pageType = 'search' %}

{% set appbarEnabled = true %}
{% set defaultGuideVisibility = true %}
{% set defaultAppbarVisibility = false %}
{% set enableSnapScaling = false %}

{%- block title -%}
{{ yt.query }} - {{ parent() }}
{%- endblock -%}

{%- block head_css -%}
{{ core.css('www-results') }}
{% endblock %}

{% block content %}
    <div id="debug" class="hid">
        {{ yt.page.header|json_encode() }}
    </div>
    {% embed 'common/channels4/branded_page_v2.twig' %}

    {% set brandedPageConfig = {
        baseBoldTitles: true,
        containerFlexWidth: true
    } %}

    {% block branded_page_primary_column_content %}
    {% import "common/uix/lockup.twig" as lockup %}
    {% import "common/uix/button.twig" as button %}
    <div id="results">
        <ol id="section-list-{{ generateRid() }}" class="section-list">
            {% if yt.page.header %}
            <li class="branded-page-v2-subnav-container branded-page-gutter-padding">
                <div class="search-header yt-uix-expander yt-uix-expander-collapsed">
                    <div class="filter-top">
                        <div class="filter-bar-container">
                            {%- if yt.page.header.filters -%}
                            <div class="filter-button-container">
                                {{ button.render({
                                    content: {
                                        runs: [
                                            {
                                                text: "Filters"
                                            }
                                        ],
                                        arrow: true
                                    },
                                    size: "small",
                                    style: "default",
                                    accessibilityLabel: "Search filters",
                                    customAttributes: {
                                        "data-button-action": "",
                                        "data-button-menu-id": "some-nonexistent-menu",
                                        "data-button-toggle": "true",
                                    },
                                    class: [
                                        "filter-button",
                                        "yt-uix-expander-head"
                                    ]
                                }) }}
                            </div>
                            {%- endif -%}
                            <div class="filter-crumb-spacer"></div>
                            {%- if yt.page.header.resultCount -%}
                            <p class="num-results first-focus" tabindex="0">{{ yt.page.header.resultCount }}</p>
                            {%- endif -%}
                        </div>
                    </div>
                    {%- if yt.page.header.filters -%}
                    <div id="filter-dropdown" class="yt-uix-expander-body">
                        {%- for group in yt.page.header.filters -%}
                            {%- if group.searchFilterGroupRenderer -%}
                                {% set this = group.searchFilterGroupRenderer %}
                                <div class="filter-col">
                                    <h4 class="filter-col-title">{{ getText(this.title) }}</h4>
                                    <ul>
                                        {%- for item in this.filters -%}
                                        {%- set thisF = item.searchFilterRenderer -%}
                                        <li>
                                            {%- if thisF.status == "FILTER_STATUS_SELECTED" and group.searchFilterGroupRenderer.isSort -%}
                                            <span class="filter filter-selected filter-sort" title="{{ thisF.tooltip }}">
                                                <span class="filter-text" aria-label="{{ thisF.tooltip }}">{{ getText(thisF.label) }}</span>
                                            </span>
                                            {%- elseif thisF.status == "FILTER_STATUS_DISABLED" -%}
                                            <span class="filter filter-disabled" title="{{ thisF.tooltip }}">
                                                <span class="filter-text" aria-label="{{ thisF.tooltip }}">{{ getText(thisF.label) }}</span>
                                            </span>
                                            {%- else -%}
                                            <a href="{{ getUrl(thisF) }}" aria-label="{{ thisF.tooltip }}" class="filter {{ thisF.status == "FILTER_STATUS_SELECTED" ? "filter-selected" }} spf-link">
                                                <span class="filter-text {{ not thisF.status == "FILTER_STATUS_SELECTED" ? "filter-ghost" }}">{{ getText(thisF.label) }}</span>
                                                {%- if thisF.status == "FILTER_STATUS_SELECTED" -%}
                                                <span class="yt-close">×</span>
                                                {%- endif -%}
                                            </a>
                                            {%- endif -%}
                                        </li>
                                        {%- endfor -%}
                                    </ul>
                                </div>
                            {%- endif -%}
                        {%- endfor -%}
                        {%- if yt.page.header.hasSelectedFilter -%}
                        <div class="clear-filters">
                            <a href="/results?search_query={{ yt.query }}" class="filter spf-link">Clear all filters</a>
                        </div>
                        {%- endif -%}
                    </div>
                    {%- endif -%}
                </div>
            </li>
            {% endif %}
            {% if yt.page.results %}
            <li>
                <ol id="item-section-{{ generateRid() }}" class="item-section">
                    {% for result in yt.page.results %}
                    <li>
                        {% if yt.config.largeSearchThumbs %}
                            {% if result.channelRenderer %}
                            {{ lockup.tile(result, 138, 138) }}
                            {% elseif result.videoRenderer  or result.playlistRenderer or result.radioRenderer %}
                            {{ lockup.tile(result, 246, 138) }}
                            {% elseif result.backgroundPromoRenderer %}
                                <p class="display-message">{{ getText(result.backgroundPromoRenderer.title) }}</p>
                            {% endif %}
                        {% elseif result.videoRenderer or result.channelRenderer or result.playlistRenderer or result.radioRenderer %}
                            {{ lockup.tile(result) }}
                        {% elseif result.backgroundPromoRenderer %}
                            <p class="display-message">{{ getText(result.backgroundPromoRenderer.title) }}</p>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ol>
            </li>
            {% endif %}
        </ol>
    </div>
    {% endblock %}
    {% endembed %}
{% endblock %}