{% extends "core.twig" %}

{% set pageType = 'watch' %}

{% set appbarEnabled = true %}
{% set defaultGuideVisibility = yt.config.guideOnWatchPage %}
{% set defaultAppbarVisibility = false %}
{% set enableSnapScaling = true %}

{% set playerType = 'content-alignment       watch-small' %}

{%- block title -%}
{{ yt.page.title ? yt.page.title|raw ~ ' - ' }}{{ parent() }}
{% endblock %}

{%- block page_class -%}
video-{{ yt.videoId }} {{ (yt.theaterMode) ? 'watch-wide watch-stage-mode' }}
{% endblock %}

{% block header %}
{% endblock %}

{%- block appbarContent -%}
{% endblock %}

{% block foot_scripts %}
<script>
    yt.setConfig({
      'VIDEO_ID': "{{ yt.videoId }}",
      {% if yt.playlistId and yt.page.playlist %}
         'LIST_ID': "{{ yt.playlistId }}",
      {% endif %}
      'WAIT_TO_DELAYLOAD_FRAME_CSS': false,
      'IS_UNAVAILABLE_PAGE': false,
      'DROPDOWN_ARROW_URL': "\/yts\/img\/pixel-vfl3z5WfW.gif",
      'AUTONAV_EXTRA_CHECK': false,

      'JS_PAGE_MODULES': [
        'www/watch',
          'www/watch_speedyg',
          'www/watch_autoplayrenderer',
        ''       ],


      'REPORTVIDEO_JS': "\/yts\/jsbin\/www-reportvideo-vflidisXQ\/www-reportvideo.js",
      'REPORTVIDEO_CSS': "\/yts\/cssbin\/www-watch-reportvideo-vflhkISaX.css",


      'TIMING_AFT_KEYS': ['pbp', 'pbs'],
      'YPC_CAN_RATE_VIDEO': true,


        {#
         'RELATED_PLAYER_ARGS': {"rvs":"title=a-ha+-+Take+On+Me+%28Official+Video%29\u0026session_data=itct%3DCBgQvU4YACITCPCb3sSz6toCFcuifgodz50MGCj4HTIJZW5kc2NyZWVuSMS7ga29mI6GdQ%253D%253D\u0026iurlmq=https%3A%2F%2Fi.ytimg.com%2Fvi%2FdjV11Xbc914%2Fhqdefault.jpg%3Fsqp%3D-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE%3D%26rs%3DAOn4CLAIObBK454k6ctzA817tauyW9rHyA\u0026short_view_count_text=630M+views\u0026endscreen_autoplay_session_data=autonav%3D1%26playnext%3D1%26itct%3DCBkQ4ZIBIhMI8JvexLPq2gIVy6J-Ch3PnQwYKPgdMgxyZWxhdGVkLWF1dG9IxLuBrb2YjoZ1\u0026author=RHINO\u0026id=djV11Xbc914\u0026length_seconds=228\u0026iurlhq=https%3A%2F%2Fi.ytimg.com%2Fvi%2FdjV11Xbc914%2Fhqdefault.jpg%3Fsqp%3D-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE%3D%26rs%3DAOn4CLAIObBK454k6ctzA817tauyW9rHyA,session_data=itct%3DCBcQvk4YASITCPCb3sSz6toCFcuifgodz50MGCj4HTIJZW5kc2NyZWVuSMS7ga29mI6GdQ%253D%253D\u0026list=RDdQw4w9WgXcQ\u0026playlist_iurlhq=https%3A%2F%2Fi.ytimg.com%2Fvi%2FdQw4w9WgXcQ%2Fhqdefault.jpg\u0026playlist_length=0\u0026playlist_title=Mix+-+Rick+Astley+-+Never+Gonna+Give+You+Up+%28Video%29\u0026video_id=djV11Xbc914\u0026thumbnail_ids=djV11Xbc914\u0026playlist_iurlmq=https%3A%2F%2Fi.ytimg.com%2Fvi%2FdQw4w9WgXcQ%2Fmqdefault.jpg,title=Rick+Astley+-+Together+Forever+%28Video%29\u0026session_data=itct%3DCBYQvU4YAiITCPCb3sSz6toCFcuifgodz50MGCj4HTIJZW5kc2NyZWVuSMS7ga29mI6GdQ%253D%253D\u0026iurlmq=https%3A%2F%2Fi.ytimg.com%2Fvi%2FyPYZpwSpKmA%2Fhqdefault.jpg%3Fsqp%3D-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE%3D%26rs%3DAOn4CLAkUWeHEvBOX6nimDu8c-pZQqDTRA\u0026short_view_count_text=52M+views\u0026author=RickAstleyVEVO\u0026id=yPYZpwSpKmA\u0026length_seconds=205\u0026iurlhq=https%3A%2F%2Fi.ytimg.com%2Fvi%2FyPYZpwSpKmA%2Fhqdefault.jpg%3Fsqp%3D-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE%3D%26rs%3DAOn4CLAkUWeHEvBOX6nimDu8c-pZQqDTRA,title=Guardians+of+the+Galaxy%3A+Awesome+Mix+Vol.+1+%26+Vol.+2+%28Full+Soundtrack%29\u0026session_data=itct%3DCBUQvU4YAyITCPCb3sSz6toCFcuifgodz50MGCj4HTIJZW5kc2NyZWVuSMS7ga29mI6GdQ%253D%253D\u0026iurlmq=https%3A%2F%2Fi.ytimg.com%2Fvi%2FcMtaFMZxOjk%2Fhqdefault.jpg%3Fsqp%3D-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE%3D%26rs%3DAOn4CLB2tmoSLIa02CgDhpOHsW7cMWlNdw\u0026short_view_count_text=2.4M+views\u0026author=Library+Music\u0026id=cMtaFMZxOjk\u0026length_seconds=5676\u0026iurlhq=https%3A%2F%2Fi.ytimg.com%2Fvi%2FcMtaFMZxOjk%2Fhqdefault.jpg%3Fsqp%3D-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE%3D%26rs%3DAOn4CLB2tmoSLIa02CgDhpOHsW7cMWlNdw,title=Wham%21+-+Wake+Me+Up+Before+You+Go-Go+%28Official+Video%29\u0026session_data=itct%3DCBQQvU4YBCITCPCb3sSz6toCFcuifgodz50MGCj4HTIJZW5kc2NyZWVuSMS7ga29mI6GdQ%253D%253D\u0026iurlmq=https%3A%2F%2Fi.ytimg.com%2Fvi%2FpIgZ7gMze7A%2Fhqdefault.jpg%3Fsqp%3D-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE%3D%26rs%3DAOn4CLAj9KfRoDCT0RNEtMuOIJMN855pHw\u0026short_view_count_text=209M+views\u0026author=WhamVEVO\u0026id=pIgZ7gMze7A\u0026length_seconds=231\u0026iurlhq=https%3A%2F%2Fi.ytimg.com%2Fvi%2FpIgZ7gMze7A%2Fhqdefault.jpg%3Fsqp%3D-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE%3D%26rs%3DAOn4CLAj9KfRoDCT0RNEtMuOIJMN855pHw,session_data=itct%3DCBMQvk4YBSITCPCb3sSz6toCFcuifgodz50MGCj4HTIJZW5kc2NyZWVuSMS7ga29mI6GdQ%253D%253D\u0026list=PLMC9KNkIncKtPzgY-5rmhvj7fax8fdxoj\u0026playlist_iurlhq=https%3A%2F%2Fi.ytimg.com%2Fvi%2FOPf0YbXqDm0%2Fhqdefault.jpg\u0026playlist_length=197\u0026playlist_title=Pop+Music+Playlist%3A+Timeless+Pop+Hits+%28Updated+Weekly+2018%29\u0026video_id=OPf0YbXqDm0\u0026thumbnail_ids=OPf0YbXqDm0\u0026playlist_iurlmq=https%3A%2F%2Fi.ytimg.com%2Fvi%2FOPf0YbXqDm0%2Fmqdefault.jpg,title=Michael+Jackson+-+Smooth+Criminal+%28Single+Version%29+HD\u0026session_data=itct%3DCBIQvU4YBiITCPCb3sSz6toCFcuifgodz50MGCj4HTIJZW5kc2NyZWVuSMS7ga29mI6GdQ%253D%253D\u0026iurlmq=https%3A%2F%2Fi.ytimg.com%2Fvi%2Fq8w1d01Y2vY%2Fhqdefault.jpg%3Fsqp%3D-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE%3D%26rs%3DAOn4CLBSNx-bTKHmJeCVk8dDtsPnldRJwA\u0026short_view_count_text=10M+views\u0026author=moogl3s\u0026id=q8w1d01Y2vY\u0026length_seconds=241\u0026iurlhq=https%3A%2F%2Fi.ytimg.com%2Fvi%2Fq8w1d01Y2vY%2Fhqdefault.jpg%3Fsqp%3D-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE%3D%26rs%3DAOn4CLBSNx-bTKHmJeCVk8dDtsPnldRJwA,title=Vanilla+Ice+-+Ice+Ice+Baby\u0026session_data=itct%3DCBEQvU4YByITCPCb3sSz6toCFcuifgodz50MGCj4HTIJZW5kc2NyZWVuSMS7ga29mI6GdQ%253D%253D\u0026iurlmq=https%3A%2F%2Fi.ytimg.com%2Fvi%2Frog8ou-ZepE%2Fhqdefault.jpg%3Fsqp%3D-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE%3D%26rs%3DAOn4CLA865lpL0-es4QJ8PUN83rPTmmjOQ\u0026short_view_count_text=229M+views\u0026author=vanillaiceVEVO\u0026id=rog8ou-ZepE\u0026length_seconds=241\u0026iurlhq=https%3A%2F%2Fi.ytimg.com%2Fvi%2Frog8ou-ZepE%2Fhqdefault.jpg%3Fsqp%3D-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE%3D%26rs%3DAOn4CLA865lpL0-es4QJ8PUN83rPTmmjOQ,title=Earth%2C+Wind+%26+Fire+-+September\u0026session_data=itct%3DCBAQvU4YCCITCPCb3sSz6toCFcuifgodz50MGCj4HTIJZW5kc2NyZWVuSMS7ga29mI6GdQ%253D%253D\u0026iurlmq=https%3A%2F%2Fi.ytimg.com%2Fvi%2FGs069dndIYk%2Fhqdefault.jpg%3Fsqp%3D-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE%3D%26rs%3DAOn4CLA97cYvlaLdmOWal9wR5H-wipzbTg\u0026short_view_count_text=190M+views\u0026author=EarthWindandFireVEVO\u0026id=Gs069dndIYk\u0026length_seconds=216\u0026iurlhq=https%3A%2F%2Fi.ytimg.com%2Fvi%2FGs069dndIYk%2Fhqdefault.jpg%3Fsqp%3D-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE%3D%26rs%3DAOn4CLA97cYvlaLdmOWal9wR5H-wipzbTg,title=Michael+Jackson+-+Beat+It+%28Official+Video%29\u0026session_data=itct%3DCA8QvU4YCSITCPCb3sSz6toCFcuifgodz50MGCj4HTIJZW5kc2NyZWVuSMS7ga29mI6GdQ%253D%253D\u0026iurlmq=https%3A%2F%2Fi.ytimg.com%2Fvi%2FoRdxUFDoQe0%2Fhqdefault.jpg%3Fsqp%3D-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE%3D%26rs%3DAOn4CLD6PJbqXe4JOhN0WMDFkjGfPtbq-w\u0026short_view_count_text=351M+views\u0026author=michaeljacksonVEVO\u0026id=oRdxUFDoQe0\u0026length_seconds=299\u0026iurlhq=https%3A%2F%2Fi.ytimg.com%2Fvi%2FoRdxUFDoQe0%2Fhqdefault.jpg%3Fsqp%3D-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE%3D%26rs%3DAOn4CLD6PJbqXe4JOhN0WMDFkjGfPtbq-w,title=Greatest+Hits+Of+The+80%27s+-+80s+Music+Hits+-+Best+Songs+of+The+80s\u0026session_data=itct%3DCA4QvU4YCiITCPCb3sSz6toCFcuifgodz50MGCj4HTIJZW5kc2NyZWVuSMS7ga29mI6GdQ%253D%253D\u0026iurlmq=https%3A%2F%2Fi.ytimg.com%2Fvi%2FggALN-UkQ88%2Fhqdefault.jpg%3Fsqp%3D-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE%3D%26rs%3DAOn4CLD5J6D8X5_If_pWa8R27Ovsv9ikrg\u0026short_view_count_text=5.6M+views\u0026author=Time+Music\u0026id=ggALN-UkQ88\u0026length_seconds=9007\u0026iurlhq=https%3A%2F%2Fi.ytimg.com%2Fvi%2FggALN-UkQ88%2Fhqdefault.jpg%3Fsqp%3D-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE%3D%26rs%3DAOn4CLD5J6D8X5_If_pWa8R27Ovsv9ikrg,title=Toto+-+Africa+%28Video%29\u0026session_data=itct%3DCA0QvU4YCyITCPCb3sSz6toCFcuifgodz50MGCj4HTIJZW5kc2NyZWVuSMS7ga29mI6GdQ%253D%253D\u0026iurlmq=https%3A%2F%2Fi.ytimg.com%2Fvi%2FFTQbiNvZqaY%2Fhqdefault.jpg%3Fsqp%3D-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE%3D%26rs%3DAOn4CLALOsCPxqN1IxcZEfZJCu8rqi4tFw\u0026short_view_count_text=310M+views\u0026author=TotoVEVO\u0026id=FTQbiNvZqaY\u0026length_seconds=275\u0026iurlhq=https%3A%2F%2Fi.ytimg.com%2Fvi%2FFTQbiNvZqaY%2Fhqdefault.jpg%3Fsqp%3D-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE%3D%26rs%3DAOn4CLALOsCPxqN1IxcZEfZJCu8rqi4tFw"},
         #}

          'BG_P': "bKC0\/NOxKGI+KHSHYpCbpgrSuGlLA4kdUzK9lA7NaKmFls\/XkEyaOXc+qT1JM4KcCZ8nTnWwipplN9hJuq\/xrAb2pExdzZ1QRxYo2CP\/qDU1K9Y\/biuxqS\/StgNg804OU+omPoLJzZYPC4YWeNyoFjwXty+BjuY2k30E9+0\/VpIJVhcWDgF1GnBgp5eRhhSdxtR7uQEsgfg2XEAKYCrTVTec3RUNyih8SzZ8jtmLrq8Wik5jJHbvcFfUNhn7aFMg5D4+JQ+w4elWvTow7rjeqXef5TFEYzr87uVqlkv2GNhu\/hi2pU4v6VLKY1GJgDTUELf2aGfME9JGC8apW7khT\/uWwKYiG0kh1LghvTPg3484naYdZnl1mEb88BHGdFld7GRtEv5iplFhSFHj1WpMHoFSxuQ6Xx6xo4CC8YRCNr+O86RbpGIuP3S3uzTSmPXJBL1QlGMrTe4dlAPbh5\/tHo4jLADsve+t6WYGd2Fg1OKcJoFJKg\/2U4iB+Kaxe9th4Jry37CBjOG52Pya+JzNUKihoZUdGLHYwR6uwiLU+TKhmX5uU+VdMALZs0f6\/8LfLITelK\/RIjPzD89Ht6H9BUvrdcnwPDYmWv3WhcOTmLlIi+QjRPnRv6U5+2dVChwheyC0AO7p1kCahmN4YzjrgHwoToXPzrVfpZGX25sxtSNcVnc+wRzJWdGy4gOAP7KF4vrRnFpNZ9BB1EaQxPZyvizPOtKIfjWjV8rzA6mlIE1D7Xf1z9i+NeAZCRO5w0\/SIVp0u4tkHdsxeWqFM7kjNxvE74LIpavLhIGWnMAb\/RAIi0trs27ub\/s4jLc3yf7WHvGAgd7V8R+3MuvtRRQf9PpoVKS5bNHz1F4Ie+lNHk6PmN1+6YRYqRa8757rMbWEmEoGwzW1cROYe583HyC3E8K1Zf0D2qRmZMBGm1nr5qgzKKj5TQFSwFhv9J+u9AzV74XEYDXZiUWQtveV1XzeUYCXnuuH1rlYZkS3gELp1eVBnzFhhSMIRfLw\/CiofnM2o7PvctcnkuqZMUyiMIhTVKQl1dpDplZOfWgjFx2Xo9GGFeVmgYB9Yumq9Kzx2Q\/M7XOKHtFxA3uVNmPrskbrq7N74aZuZEMNGyhoPy\/V+is6xekkEqWRDxUhL36i7Za91YWFhhO2EXhUwRawFQekeFODynhsR9zJWLi7Izcbi0LuX2bCfEkH0d0TmUJAXMSQN7zklVeiNCOmSaaY\/qp8wnoPCB6XLNiSG7c9hIsAP+ITQWAo0k\/aafA\/Zv5YpIHaFcYIpW2YRNvLAda7EJPph1T4ua8rKT84w2naEWvGckVY7Kxeq72bx8zZ6n\/zbLMBuZBAu3M+5tKOPxDhe+b6MX2zKLrzRlZYWeoeH612dJRRd0XuFX2iL\/dkqmrX0KrLqQ0znX\/hXyvpVzMYiz44KHf30MR\/ZK4TzhFKVp0QUBuvvuJ9+DKIsIOUmhlhFT3YGnwCu0\/yyCFoSYruXFtyJhUDoKH60vm0IFaDF\/XegNKn5\/2e4ojjI2pxzuaU3ric1bv7j\/fXDKlJY0x+IVFUS3LOQghVXgzWSbNjuv8zkXHICwPxrj40+aoV6VY5+CmPyXEjvnNydp9UTd3y6bZzllOj+z6hSRROP+gp8GJf+YBfmggShkDEqQThAnOUkVfTMxzfFW2GeGLOj5kubPD37wBTiNpMk7mVNm8qHxnC0XrCNlkzwugVL8mxMk2rCXGBEHS02lNoySiEum0RtgvGF3bGUAOOwEZC5mugjfqWi4vmU9FXcjAXF3bnw0Y29JKJbWyHWQtk224kwu76UKuca2ub4ADqnhCEVkwXoN\/YhzoyaSspl0wyeaJvnTB+OVPmNqaI7Xm6kyNdvrVvXozLCSY1PvgBxkqP6n0uGROpaCRRw+c8kx2URgb8ze0WY8wk413tB0qWAtJ3\/EzV2faCbryGmWMU6trTVIFrfY9JQgMEZj\/x8ViRCvajdmt1+byKjuGQwUvKjKdlDf3p833UAMvHNzfr3yfyY3oAM8rW2Gs5N7QIZi3jV7tyxYeCHRDZP865I0RaSnZvcUWogFaPDfnaJ542MdZGp\/7h1M5aATKCyFUUuGrry9ZpsEyTyFAD495pjT0tOUl9Z66zsiWJniruMLZorCpeCWQagP2V3rzQbqcQTwoqClBIn9bJvr54FI7WZoJkeCRS2pGi451Ytlno+H0tuMModViKw5EA+bCTleSDfNiJ2MWZUGgJiN1GMJGlC8TH2W7l3nZRBlPSLVyvacKbBUnyFNB58XTrcApFTMxSFEvgNt4yWqYep3NwnOi47rEFnYB5e\/aLCuIMWNVX7zf8rPOYNVQQsmVjC1jW0WS\/3oN4lvs6I7fkqMCbl5jTTPIuAEtMXiVPH6V8ujIBmEcfJHz7UJwwEnvm7UmVum5LY2LwTe3dSG73UpC8Lr8SJahgqYLf+nuxf3+5roaNTVNMcFIFY+vjABlWbDWB\/hXuhb+LHv2NpECFx2bAkZId9dZb6pAtaDeNLEttrIU8T41FUfa7z7ejG1NIT7ISJtY2F+WdPb6qh6wBLFfvrlZBfNDn1FbTVW5ae3WLsghjW5F7KLqS5+2oIN32Wg+Q4xlpbJ4k\/XkUImcWpLgG66\/Rx4YFmDRa2\/pGNE7WUcDlLMKd8tL+mnPpMRL43SmDmigJx8u5nDu1SRrV1ASm7gCt3natu4d6Htv53\/TiCdxELI6BjtvVqWVEJP+4WrhKgX4BJFdHBIElaK866XbSAbl8pUajzb9\/cKdGVs35Z2xy5ExGSKsWJvHopMsgpv0moHHah3VElZGXuPcKsJ8d59mA1pzfgqniGvIsifXQb89729ls+PGLvGPj5rCVgg6hCZDaHvLi0qH500qoHgzOX5PZ+JjQ+WKR2abcvdvPSNJmwUkuBWcuXQATqkfKO+g1sDND6yEG3bn7MzUkisDz8SeSOnxtZEIb8sdyTf4kZoHH+KBzyFDQonn8PvZnedCWjnyZfl4P0jhorVU\/Lbie5eZ6wyw3Baabc3kg8Kz8EKuLjLenGI6FOkCY9D6XnIYb+S5psyGbPzPOaAP2nsDOImToxQlhRYGplNT8XIM0Tb0x5ZB7j1Xb282qcukSjMBlrYcR7zXJtC5V3R6yD\/71gp+6VYfdVWOvKmKm6fa0rvAzNpAbp4f3URAXIrRp5tp1fXLh95YXnxwDv9ecS6NpbVwGXKRqO2Rps7RlX7+xbAQxJm\/Y5rl4wAvpZrVtd2C5GMuy3S7HRhavj3ruBLm1nYhwmMAP+ok4r3mP+grNz1nj0vrjgIHUx2EgBdARUUlfgp+QLwHGQsVL9sQ13ku\/jzYr2NS2CPYRXwG+mNFRnrREkVBy\/mMfTQy0GPMBn\/qofmSKspJil6WQQeCjRUWsRlNVifY04A+EE7jQFrYhyAeCtOY\/l183eQWC+JY\/9Ss5D2HsTxjm7gP8W0XVCX1aDAEQTU+JEUiQjbGO+oj4NVGtC7IttzWfqDAs7U0Zljp0J3d5hLppm8KIAOwS\/Zg0wHjE3J0UdiVoY1nO8xL7+jATzmM8EvlQP1UAOp9w+7g7lzb7bw6SWaKyw8ZHwesBy5\/1UEjcujFUHM5pNp0qBwa1WVKEhQoFy2+a5YsDvJ\/h1FbyQGeKNz8B+b7jLBiQpqMdInoaVwevdQrHPspYKAI0IlkxG9L0H+NqubVDCUGlBoZrpyk8+vtrfmag0U0MvK9L5N8MaRZeo7P2bVq5eo0kj1CuYFT2t1ygOWgjeh+cjKhmz+2jpl3s1v9DTZ9FUs4JD2oAJZ03ZhUKT7ngU2KlCTAez9j6eC+hqNvy8w9r60HM5+Sg\/POn1EZ63SE2OJbVgy6gTI9e+eKH957J4d4Cyd59IFYoby9LD6C4HUamu4x+wN1fWD3QkfvDn8YgvQ1FcoAVOkkz4L9WP8e++dWEzgHRNggoJBggzSa1TjNVasAzjRTerr2PAKgn3ZkaGux+Z6iMX57UbwkhjddQuAATJVlIo5co+lGWZUECof7gfZJBVv\/qSUG2w6c5Tak6RZVUE6tnC5jqCD7Qe8qlxhm3WIDk05PIK3FaGS5vXqXo9mczFEMjbPBTNeLXGSPq7AjEwxJZ5tt7xBu\/\/JnNgoV8YCo9nRrAfT7EyhrEZSWiO4QFJokZN0mTw+fCp475BQk6LCyHGvEOdcvbErwNAMQpNVJVLhUo5vL4ynnVpRX8CKy0TaEpIksvuBOadBU7xoV5RVuE\/9k7h2hlK9e6osrX1Rr2\/22+0LbfUQsn0LAtMWuw\/7C8kBMos3jegS27F1TXxxrIKG+uKkOr8yHafsgxdQPBanjNwbRfzAZ9jAZm09pXyfD4v78VhRIiT0mFyQcTGglAx9zIneMgqMhi39ZyMpG33cuuui0Nzs2WB6yQ0kjz\/GSlx4JTDeliEch1ZO6hTvWGovbvlDc4nPVjIrHsdQ66xkTjf67h6Qx27pou3ji26StJ173a9FZdnvHANaNtLM7Yr8oAyNMIEiECL2nyhUcStinXaxnftgwMOFObdfdXwvvhmoEkDlvNDUfefrmeS9em1PvwhLU4x99E2COI992wxOHKR8nzjBmXQgs+UX8o9iR4KRLCQkNTGBh4BHtxHTr6d2X0LXUHwMcO1YZkdPkeozdHsiiuthCEeLV8oojIVZEeqnt22inVYmnXXBt6aSKY8odYSOnMMI3Cfai09ARhTI7yJbydR7inCAxYdr2N5HemvhPOyLtUsTu9hFoyyxUh1sShdm1MPmLv9SHL2QN54DNcj+HXlV0uTk24joAY\/InKxVgbv6GRxh3lsIWDVEZ2cG5mNoVcR0JzXaeAw+hATRlitWwmedFGV0jL7iKkfs7H2yCl9KtotcZzrhjsPqeyPUcEICXeIjYnAEDAj6metg\/nIDvHdUQfmQ9hcdT5ebn\/j1l+Pqcr69YmXhCbuhWsP43k+6zu1QXZkvp\/2mOpD3TcPWD77UGvRNUV7IS\/ZN1pDs76yiR78y3MetdXmXplPCTPZm43YzzW2p3vLLH5piJ7jSVddkF4OJhzEIA1XRmAjZhiN9P\/qar1nTZBX\/\/buSM4MLA6amCCbSHJG3cB2Dp3kez0PrEetALMQVIjxTHCJyU3jFi\/BDhWjyuAyIbRFuTdicZePe+R\/xLTsqQAwzOWl1mAsVztX+Akj4mrNrBUciZOBLQQorBZNC46fduizIGBgBrvxlFyLpo8RdipX1UCgf3NVk0MOcm8zTXr27RiaxX3TgE50EHLdU\/GeYteHoMcG0U5LRa4hGG3XsOmrbw0nkpdBh6IU3\/m4QizTQMATRtdtBXosmc7YIIFLuUoHW78dgdVnd+ZXzVU6sAO6gNG2PVEmqfjW0OiETHJ+Fg8w9cDdhumq8fWeDmSdSbGQtzJxDpxDBDjdIzw+J9s3TB3NLcCBl0Ll3fK0De+0OPcxnWipFTbwh3TMXl\/Id2bjoZ7Bgk4Lr4expkuJ0DAYil4oKu8NA3icPcg9TZ9Jwj8yAQzk1\/S3D1p+knKZPWrOR+rAAOFe2t1pEcJAaq2QloYgtBk+2KGOn23O62c6P6spPCSNkUf2zrQKY+dvqYTRSutnpTLE+\/P4W1XKbL9UGzgxAbCzjm\/KY5gd8PHzzDIPA+JzSBSwJZitnxJlMdDOX9810gFO1b1dZRejevI76w4jioYP\/ZgJ8\/esmqOq5GJm3qggqhRT7oaDeLDLISL3pOXHf8J6Yv42fYqiM5KYEuCF33Ms6KUsNrjuhZdpa79s3h0lrRYNBl16ij9cAX1\/6789qk3S7yS2\/lB4pfQOEVXSDKUt\/HExThlvxO8IvJTU5xOGTMo8d4Xkde9Xvic3jR9s8133cUSiht4HN6ER+mXy9+VRVPGAhj6DSit9qeogP4pdXjVYJnU9YN0d0Ne3Z1CTN7iKCWhWjYmf+LHD+Lpf3Kq1fifnp+6O5C755+158\/er5c1o7QtU7XJR8dBMtkcBgue0hSzCSPlfmjOOJPIAcNtNm1GopnmIwPWyy+ItCgIsiLVB40DLxHRN\/cY83DVKoz7XfgcBsXK\/zb2CSibDiWRMnOiJ8BNu+NwDyCXNLJHahBXLM4m5T6384MCKPbkmCOdWLZIZ2A\/z7D1Wu0Ws5YIrABPS8IksdLgashG\/FO2LIFC902Rr0jgZgVnVGQsaQWLalx3ySMNwYO96VP3IkKIFE7Ntheh82Mm42oVCCKyKP4t8y\/PmthJBC+h7mZ6iqAs0I5YrBAWogxPudOn70Hhc\/sDVocLV4MKEApkF2ptlONZTM87VtLZ+fRJ17KLjpGsWr0EylGAPQaIjyaEDCet05Bsrh45ZrhsoXKKErMostymHe+qaIg8mdOyk8QMeZDcz+PMjBNLkg0zNCn6+xpsy5p4UNmiCxZvK7ZLDNSSwkq8N\/HJw6tya2lxoOqoQ==",
          'BG_IU': "\/\/www.google.com\/js\/bg\/1KUtCLBFZQ_JFefvknMO8_wNfNZDIBfWr9x-gjgyf-k.js",


      {% if yt.commentsToken %}
        'COMMENTS_TOKEN': "{{ yt.commentsToken }}",
      {% endif %}
      'GET_PLAYER_EVENT_ID': "23PrWrDCHMvF-gPPu7LAAQ",
      'HL_LOCALE': "en_US",
      'TTS_URL': "",
      'JS_DELAY_LOAD': 0,
      'LIST_AUTO_PLAY_VALUE': 1,
      'SHUFFLE_VALUE': 0,
      'SKIP_RELATED_ADS': false,
      'SKIP_TO_NEXT_VIDEO': false,
      'CONVERSION_CONFIG_DICT': {"baseUrl":"https:\/\/www.youtube.com\/pagead\/viewthroughconversion\/962985656\/","vid":"dQw4w9WgXcQ","focEnabled":true,"uid":"38IQsAvIsxxjztdMZQtwHA","rmktEnabled":true},
      'RESOLUTION_TRACKING_ENABLED': false,
      'WATCH_LEGAL_TEXT_ENABLE_AUTOSCROLL': false,
      'PLAYBACK_ID': "AAVrUziaGLGwlrLT",
      'IS_DISTILLER': true,
      'SHARE_CAPTION': null,
      'SHARE_REFERER': "",
      'PLAYLIST_INDEX': {{ yt.playlistIndex ? yt.playlistIndex : 'null' }}
    });

      yt.pushConfigArray('TIMING_WAIT', 'parn');

    yt.setMsg({
      'EDITOR_AJAX_REQUEST_FAILED': "Something went wrong trying to get data from the server. Try again, or reload the page.",
      'EDITOR_AJAX_REQUEST_503': "This functionality is not available right now. Please try again later.",
      'LOADING': "{{ yt.msgs.loading }}"    });

      yt.setMsg('SPEEDYG_INFO', "Experiencing interruptions?");


   {% if yt.page.isLive %}
      yt.setConfig({
         'LIVESTREAMING_NO_SHARE_TIME': true
      });
      yt.setConfig({
         'LIVESTREAMING_CARDIO_ENABLED': true,
         'LIVESTREAMING_CARDIO_POLLING_INTERVAL': 30000,
         'LIVESTREAMING_CARDIO_CONCURRENTS_METRIC': "viewership" });
      yt.setMsg({
         'LIVE_WATCHING_NOW': {"case1": "1 watching now", "case0": "0 watching now", "other": "# watching now"}
      });
   {% endif %}








      yt.setConfig({
    'GUIDED_HELP_LOCALE': "en_US",
    'GUIDED_HELP_ENVIRONMENT': "prod"
  });

</script>
{#
   Hacky playlists fix

   This exists to eliminate a timing issue with YouTube's JS itself, if the
   player loads too slowly, then it won't get updated according to a watch list change.
#}
{% if yt.page.playlist %}
   <script>
   (function(yt){
      var playerApi = yt.www.getAPI('player-api');

      if (playerApi)
      {
         playerApi.addEventListener('onReady', handlePlayerReady);
      }

      function handlePlayerReady()
      {
         var fakeSchedulerTime = 0;

         if (yt.www.schedulerAvailable)
         {
            yt.www.logSchedulerTime(fakeSchedulerTime);
            yt.www.runScheduler(
               yt.www.bindArgument(yt.www.getSchedulerEvent, "watch-list-change")
            );
         }
         else
         {
            yt.www.fireEvent("watch-list-change");
         }

         playerApi.removeEventListener('onReady', handlePlayerReady);
      }
   })((function(){
      // Create a _yt_www API:
      var a = _yt_www;
      return {
         www: {
            getAPI: a.yn, // Formerly Ci
            schedulerAvailable: a.fi,
            logSchedulerTime: a.ci,
            fireEvent: a.H,
            getSchedulerEvent: a.ri,
            bindArgument: a.Ua,
            runScheduler: a.bi
         }
      };
   })());
   </script>
{% endif %}
{% endblock %}

{%- block content -%}
<div id="placeholder-player">
   <div class="player-api player-width player-height"></div>
</div>
<div id="watch7-container" class="">
   <div id="player-messages"></div>
   <div id="watch7-main-container">
      <div id="watch7-main" class="clearfix">
         <div id="watch7-preview" class="player-width player-height hid">
         </div>
         <div id="watch7-content" class="watch-main-col " itemscope itemid="" itemtype="http://schema.org/VideoObject">
            {% include '/common/watch/watch_metadata.twig' %}
            <div id="watch7-speedyg-area">
               <div class="yt-alert yt-alert-actionable yt-alert-info hid " id="speedyg-template">
                  <div class="yt-alert-icon">
                     <span class="icon master-sprite yt-sprite"></span>
                  </div>
                  <div class="yt-alert-content" role="alert">
                     <div class="yt-alert-message" tabindex="0">
                     </div>
                  </div>
                  <div class="yt-alert-buttons"><a href="https://www.google.com/get/videoqualityreport/?v={{ yt.videoId }}" class="yt-uix-button   yt-uix-sessionlink yt-uix-button-alert-info yt-uix-button-size-small" data-sessionlink="ei=oEbaW5bqB5DkkgbJ1bGQAQ" id="speedyg-link" target="_blank"><span class="yt-uix-button-content">Find out why</span></a><button class="yt-uix-button yt-uix-button-size-default yt-uix-button-close close yt-uix-close" type="button" onclick=";return false;" aria-label="Close" data-close-parent-class="yt-alert"><span class="yt-uix-button-content">Close</span></button></div>
               </div>
            </div>
            {%- for result in yt.page.results -%}
               {%- if result.videoPrimaryInfoRenderer -%}
                  {% set info = result.videoPrimaryInfoRenderer %}
                  {% set owner = info.owner %}
                  {% include '/common/watch/watch8/primary_info_renderer.twig' %}
               {% endif %}
               <div id="promotion-shelf" class="promotion-shelf-slot yt-card yt-card-has-padding hid"></div>
               {%- if result.videoSecondaryInfoRenderer -%}
                  {% set secondaryInfo = result.videoSecondaryInfoRenderer %}
                  {% include '/common/watch/watch7/action_panel/details.twig' %}
               {%- endif -%}
               {%- if result.videoDiscussionRenderer -%}
                  {% include '/common/watch/watch_discussion_module.twig' %}
               {%- endif -%}
               {%- if result.videoDiscussionNotice -%}
                  {% from '/common/watch/watch_discussion_disabled.twig' import watch_discussion_disabled %}
                  {{ watch_discussion_disabled(result.videoDiscussionNotice.message) }}
               {%- endif -%}
            {%- endfor -%}
         </div>
         {% set secondaryResults = yt.page.secondaryResults %}
         {%- if yt.page.results or yt.page.secondaryResults -%}
            {% include '/common/watch/watch7/sidebar/watch_sidebar.twig' %}
         {%- endif -%}
      </div>
   </div>
</div>
{% endblock %}