{% import "common/watch/action_panel/base.twig" as action_panel %}
{%- from "common/uix/button.twig" import render as button -%}
{%- from "core/spinner.twig" import render as spinner -%}
{
    "url_short": "{{ yt.page.shortUrl }}",
    "share_html": {%- apply json_encode|raw -%}
    <div id="debug" class="hid">
        {{ yt.page|json_encode }}
    </div>
    <div class="share-panel">
        <div class="yt-uix-tabs">
            <span class="yt-uix-button-group" data-button-toggle-group="share-panels">
                {%- for tab in yt.page.tabs -%}
                {{ button(tab) }}
                {%- endfor -%}
            </span>
        </div>
        <div class="share-panel-show-loading hid">
            {{ spinner(yt.msgs.loading) }}
        </div>
        <div class="share-panel-services-container">
            <div id="share-services-container" class="clearfix">
                <div class="share-panel-services">
                    <ul class="share-group ytg-box">
                        {%- for service in yt.page.services -%}
                        <li>
                            <button class="yt-uix-tooltip share-service-button share-{{ service.icon }}-icon" title="{{ service.tooltip }}" onclick="yt.window.popup('{{ service.url }}', {width:{{ service.width }},height:{{ service.height }},scrollbars:true});return false;">
                                <span class="share-service-icon share-service-icon-{{ service.icon }} yt-sprite"></span>
                                <span class="share-service-checkmark yt-sprite"></span>
                            </button>
                        </li>
                        {%- endfor -%}
                    </ul>
                </div>
            </div>
            <div class="share-panel-url-container share-panel-reverse">
                <span class="share-panel-url-input-container yt-uix-form-input-container yt-uix-form-input-text-container yt-uix-form-input-non-empty">
                    <input type="text" class="yt-uix-form-input-text share-panel-url" name="share_url" value="{{ yt.page.shortUrl }}" data-video-id="{{ yt.page.videoId }}">
                </span>
            </div>
            <span class="share-panel-start-at-container">
                 <label>
                     <span class="yt-uix-form-input-checkbox-container">
                        <input class="share-panel-start-at" type="checkbox">
                        <span class="yt-uix-form-input-checkbox-element"></span>
                    </span>
                    {{ yt.page.startStr }}
                </label>
                <input type="text" value="0:00" title="Video start time" class="yt-uix-form-input-text share-panel-start-at-time">
            </span>
        </div>
        <div class="share-panel-embed-container hid">
            {{ action_panel.loading() }}
        </div>

        {% if yt.signin.isSignedIn %}
            <div class="share-panel-email-container hid">
                {{ action_panel.loading() }}
            </div>
        {% else %}
            <div class="share-panel-email-container hid" data-disabled="true">
                <strong>
                    <a href="https://accounts.google.com/ServiceLogin?uilel=3\u0026amp;hl=en\u0026amp;passive=true\u0026amp;service=youtube\u0026amp;continue=http%3A%2F%2Fwww.youtube.com%2Fsignin%3Faction_handle_signin%3Dtrue%26app%3Ddesktop%26feature%3Demail%26hl%3Den%26">Sign in</a> now.
                </strong>
            </div>
        {% endif %}


  </div>
    </div>
    {%- endapply -%}
}