{%- from "common/uix/button.twig" import render as button -%}
<div id="footer">
    <div id="footer-main">
        <div id="footer-logo">
            <a href="/" id="footer-logo-link" class="spf-link" title="{{ yt.footer.logoTooltip }}">
                <span class="footer-logo-icon yt-sprite"></span>
            </a>
        </div>
        {%- for btn in yt.footer.buttons -%}
        {{ button(btn) }}
        {%- endfor -%}
    </div>
    <div id="footer-links">
        <ul id="footer-links-primary">
            {% for link in yt.footer.primaryLinks %}
            <li>
                <a href="{{ getUrl(link) }}">{{ getText(link) }}</a>
            </li>
            {% endfor %}
        </ul>
        <ul id="footer-links-secondary">
            {% for link in yt.footer.secondaryLinks %}
            <li>
                <a href="{{ getUrl(link) }}">{{ getText(link) }}</a>
            </li>
            {% endfor %}
            {%- if yt.footer.enableCopyright -%}
            <li>
                <span class="copyright" dir="ltr">{{ yt.footer.copyright }}</span>
            </li>
            {%- endif -%}
        </ul>
    </div>
</div>