<div id="footer">
   <div id="footer-main">
      <div id="footer-logo"><a href="/" id="footer-logo-link" title="YouTube home" data-sessionlink="ei=caLrWqLbKZD2_AOA-6vIAg&amp;ved=CAEQpmEiEwji18z73-raAhUQO38KHYD9Cikojh4" class="yt-uix-sessionlink spf-link"><span class="footer-logo-icon yt-sprite"></span></a></div>
      <ul class="pickers yt-uix-button-group" data-button-toggle-group="optional">
         <li>
            <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-default yt-uix-button-has-icon" type="button" onclick=";return false;" id="yt-picker-language-button" data-picker-key="language" data-button-menu-id="arrow-display" data-button-action="yt.www.picker.load" data-picker-position="footer" data-button-toggle="true"><span class="yt-uix-button-icon-wrapper"><span class="yt-uix-button-icon yt-uix-button-icon-footer-language yt-sprite"></span></span><span class="yt-uix-button-content">  <span class="yt-picker-button-label">
            Language:
            </span>
            English
            </span><span class="yt-uix-button-arrow yt-sprite"></span></button>
         </li>
         <li>
            <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-default" type="button" onclick=";return false;" id="yt-picker-country-button" data-picker-key="country" data-button-menu-id="arrow-display" data-button-action="yt.www.picker.load" data-picker-position="footer" data-button-toggle="true"><span class="yt-uix-button-content">  <span class="yt-picker-button-label">
            Location:
            </span>
            United States
            </span><span class="yt-uix-button-arrow yt-sprite"></span></button>
         </li>
         <li>
            <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-default" type="button" onclick=";return false;" id="yt-picker-safetymode-button" data-picker-key="safetymode" data-button-menu-id="arrow-display" data-button-action="yt.www.picker.load" data-picker-position="footer" data-button-toggle="true"><span class="yt-uix-button-content">  <span class="yt-picker-button-label">
            Restricted Mode:
            </span>
            Off
            </span><span class="yt-uix-button-arrow yt-sprite"></span></button>
         </li>
      </ul>
      <a  href="/feed/history" class="yt-uix-button  footer-history yt-uix-sessionlink yt-uix-button-default yt-uix-button-size-default yt-uix-button-has-icon" data-sessionlink="ei=caLrWqLbKZD2_AOA-6vIAg"><span class="yt-uix-button-icon-wrapper"><span class="yt-uix-button-icon yt-uix-button-icon-footer-history yt-sprite"></span></span><span class="yt-uix-button-content">History</span></a>    <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-default yt-uix-button-has-icon yt-uix-button-reverse yt-google-help-link inq-no-click " type="button" onclick=";return false;" data-ghelp-anchor="google-help" id="google-help" data-ghelp-tracking-param="" data-feedback-product-id="59" data-load-chat-support="true"><span class="yt-uix-button-icon-wrapper"><span class="yt-uix-button-icon yt-uix-button-icon-questionmark yt-sprite"></span></span><span class="yt-uix-button-content">Help
      </span></button>
      <div id="yt-picker-language-footer" class="yt-picker" style="display: none">
         <p class="yt-spinner ">
            <span title="Loading icon" class="yt-spinner-img  yt-sprite"></span>
            <span class="yt-spinner-message">
            Loading...
            </span>
         </p>
      </div>
      <div id="yt-picker-country-footer" class="yt-picker" style="display: none">
         <p class="yt-spinner ">
            <span title="Loading icon" class="yt-spinner-img  yt-sprite"></span>
            <span class="yt-spinner-message">
            Loading...
            </span>
         </p>
      </div>
      <div id="yt-picker-safetymode-footer" class="yt-picker" style="display: none">
         <p class="yt-spinner ">
            <span title="Loading icon" class="yt-spinner-img  yt-sprite"></span>
            <span class="yt-spinner-message">
            Loading...
            </span>
         </p>
      </div>
   </div>
   <div id="footer-links">
      <ul id="footer-links-primary">
         {% if yt.footer.primaryLinks %}
         {% for link in yt.footer.primaryLinks %}
         <li>
            <a href="{{ link.href }}">{{ link.text }}</a>
         </li>
         {% endfor %}
         {% else %}
         {# fallback to hardcoded english links #}
         <li><a href="//www.youtube.com/yt/about/">About</a></li>
         <li><a href="//www.youtube.com/yt/press/">Press</a></li>
         <li><a href="//www.youtube.com/yt/copyright/">Copyright</a></li>
         <li><a href="//www.youtube.com/yt/creators/">Creators</a></li>
         <li><a href="//www.youtube.com/yt/advertise/">Advertise</a></li>
         <li><a href="//www.youtube.com/yt/dev/">Developers</a></li>
         {% endif %}
         {%- if yt.config.versionInFooter -%}
            <li><a href="/rehike/version" target="_blank">Rehike v{{ yt.rehikeVersion.semanticVersion }}{% if yt.rehikeVersion.branch %} [{{ yt.rehikeVersion.branch }}]{% endif %}</a></li>
         {%- endif -%}
      </ul>
      <ul id="footer-links-secondary">
         {% if yt.footer %}
         {% for link in yt.footer.secondaryLinks %}
         <li>
            <a href="{{ link.href }}">{{ link.text }}</a>
         </li>
         {% endfor %}
         {% else %}
         {# fallback to hardcoded english links #}
         <li><a href="/t/terms">Terms</a></li>
         <li><a href="https://www.google.com/intl/en/policies/privacy/">Privacy</a></li>
         <li><a href="//www.youtube.com/yt/policyandsafety/">
            Policy &amp; Safety
            </a>
         </li>
         <li><a href="//support.google.com/youtube/?hl=en" onclick="return yt.www.feedback.start(59);" class="reportbug">Send feedback</a></li>
         <li>
            <a href="/testtube">Test new features</a>
         </li>
         <li>
         {% endif %}
         {% if yt.enableFooterCopyright %}
            <span class="copyright" dir="ltr">&copy; {{ "now"|date("Y") }} Google LLC</span></li>
         {% endif %}
      </ul>
   </div>
</div>