{%- from "common/uix/button.twig" import render as button -%}
{%- if yt.masthead.a11ySkipNav -%}
<button id="a11y-skip-nav" class="skip-nav" data-target-id="content" tabindex="3">{{ yt.masthead.a11ySkipNav }}</button>
{%- endif -%}
<div id="yt-masthead">
    <div class="yt-masthead-logo-container">
        {%- if yt.masthead.guideToggle -%}
        {{ button(yt.masthead.guideToggle) }}
        <div id="appbar-main-guide-notification-container"></div>
        {%- endif -%}
        <span id="yt-masthead-logo-fragment">
            <a href="/" id="logo-container" class="masthead-logo-renderer spf-link" title="{{ yt.masthead.logoTooltip }}">
                <span class="logo masthead-logo-renderer-logo yt-sprite"></span>
                {%- if yt.masthead.countryCode -%}
                <span class="content-region">{{ yt.masthead.countryCode }}</span>
                {%- endif -%}
            </a>
        </span>
    </div>
    {%- if yt.signin.isSignedIn -%}
    <div id="yt-masthead-user" class="yt-uix-clickcard">
    {%- else -%}
    <div id="yt-masthead-signin">
    {%- endif -%}
        {%- for btn in yt.masthead.buttons -%}
        {{ button(btn) }}
        {%- endfor -%}
    </div>
    {%- if yt.masthead.searchbox -%}
        <div id="yt-masthead-content">
            <form action="/results" id="masthead-search" class="search-form consolidated-form" onsubmit="if (document.getElementById('masthead-search-term').value == '') return false;">
                {{ button(yt.masthead.searchbox.button) }}
                <div id="masthead-search-terms" class="masthead-search-terms-border" dir="ltr">
                    <input type="text" id="masthead-search-term" class="search-term masthead-search-renderer-input yt-uix-form-input-bidi" autocomplete="off"
                    {{ yt.masthead.searchbox.autofocus ? "autofocus" }} onkeydown="if (!this.value && (event.keyCode == 40 || event.keyCode == 32 || event.keyCode == 34)) {this.onkeydown = null; this.blur();}"
                    name="search_query" value="{{ yt.masthead.searchbox.query }}" placeholder="{{ yt.masthead.searchbox.placeholder }}" title="{{ yt.masthead.searchbox.placeholder }}"
                    aria-label="{{ yt.masthead.searchbox.placeholder }}" aria-haspopup="false" role="combobox" aria-autocomplete="list" dir="ltr" spellcheck="false" style="outline: currentColor none medium;">
                </div>
            </form>
        </div>
    {%- endif -%}
</div>