{% extends "core.twig" %}
{% import 'core/macros.twig' as core %}
{% import 'common/appbar/appbar_nav.twig' as appbar_nav %}
{% import 'common/uix/lockup.twig' as lockup %}

{% set pageType = 'home' %}
{% set pageName = 'index' %}

{% set appbarEnabled = true %}
{% set defaultGuideVisibility = true %}
{% set defaultAppbarVisibility = true %}
{% set enableSnapScaling = true %}

{% block foot_scripts %}
<script>
    yt.setConfig({
        'MASTHEAD_ENCRYPTED_ID': "EdYBjVl9t7o",
        'MASTHEAD_IS_BRANDED': true
    });

    yt.setConfig('JS_PAGE_MODULES', {{ yt.modularCoreModules|json_encode|raw }});
    yt.setConfig('DISMISS_THROUGH_IT', true);

    yt.setConfig({
        'GUIDE_SELECTED_ITEM': "0qDduQEREg9GRXdoYXRfdG9fd2F0Y2g%3D"
    });

    yt.setConfig({
        'GUIDED_HELP_LOCALE': "en_US",
        'GUIDED_HELP_ENVIRONMENT': "prod"
    });
</script>
{% endblock %}

{%- block head_css  -%}
    {{ core.css('www-home-c4') }}
{% endblock %}

{%- block appbarContent -%}
   {% set appbarContents = {
      'items': {
        0: {
            'title': 'Home',
            'href': '/',
            'selected': true
        },
        1: {
            'title': 'Trending',
            'href': '/feed/trending'
        }
      }
   } %}
   {{ appbar_nav.render(appbarContents) }}
{% endblock %}

{%- block content -%}
<div id="debug" class="hid">
    {{ yt.videoList|json_encode() }}
</div>
<div class="branded-page-v2-container branded-page-base-bold-titles branded-page-v2-container-flex-width branded-page-v2-has-top-row branded-page-v2-secondary-column-hidden">
    <div class="branded-page-v2-col-container">
        <div class="branded-page-v2-col-container-inner">
            <div class="branded-page-v2-primary-col">
                <div class="yt-card clearfix">
                    <div id="" class="branded-page-v2-body branded-page-v2-primary-column-content">
                        <ul id="browse-items-primary">
                            <li>
                                <ul id="channels-browse-content-grid" class="channels-browse-content-grid branded-page-gutter-padding grid-lockups-container">
                                    {% for item in yt.videoList %}
                                    {% if item.richItemRenderer.content.videoRenderer %}
                                    <li class="channels-content-item yt-shelf-grid-item">
                                        {{ lockup.grid(item.richItemRenderer.content) }}
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                            <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-default load-more-button yt-uix-load-more browse-items-load-more-button yt-uix-load-more-error" type="button" onclick=";return false;" aria-label="Load more" data-uix-load-more-target-id="channels-browse-content-grid" data-uix-load-more-href="/browse_ajax?action_continuation=1&amp;direct_render=1&amp;continuation=4qmFsgJAEhhVQy1sSEpaUjNHcXhtMjRfVmRfQUo1WXcaJEVnWjJhV1JsYjNNZ0FEZ0JZQUZxQUhvQk1yZ0JBQSUzRCUzRA%253D%253D">
                                <span class="yt-uix-button-content">
                                    <span class="load-more-loading hid" style="display: none;">
                                        <span class="yt-spinner">
                                            <span class="yt-spinner-img  yt-sprite" title="Loading icon"></span>
                                            Loading...
                                        </span>
                                    </span>
                                    <span class="load-more-text">
                                        Load more
                                    </span>
                                </span>
                            </button>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%- endblock -%}