{% macro render(data) %}
{% from "common/uix/button.twig" import render as button %}
<div class="search-header yt-uix-expander yt-uix-expander-collapsed">
    <div class="filter-top">
        <div class="filter-bar-container">
            {%- if data.button.toggleButtonRenderer -%}
            <div class="filter-button-container">
                {% set btn = data.button.toggleButtonRenderer %}
                {{ button({
                    style: "STYLE_DEFAULT",
                    size: "SIZE_SMALL",
                    accessibility: btn.accessibility,
                    text: btn.defaultText,
                    class: [
                        "filter-button",
                        "yt-uix-expander-head",
                    ],
                    attributes: {
                        "button-menu-id": "some-nonexistent-menu",
                        "button-action": "",
                        "button-toggle": "true"
                    },
                    hasArrow: true
                }) }}
            </div>
            {%- if not data.filterCrumbs is empty -%}
            <ul class="filter-crumb-list">
                {%- for crumb in data.filterCrumbs -%}
                <li class="filter-crumb" title="{{ crumb.tooltip }}">
                    <a href="{{ getUrl(crumb) }}" class="filter spf-link" aria-label="{{ crumb.tooltip }}">
                        <span class="filter-text filter-ghost">{{ getText(crumb.label) }}</span>
                        <span class="yt-close">×</span>
                    </a>
                </li>
                {%- endfor -%}
            </ul>
            {%- else -%}
            <div class="filter-crumb-spacer"></div>
            {%- endif -%}
            {%- endif -%}
            <p class="num-results first-focus" tabindex="0">{{ data.resultCountText }}</p>
        </div>
    </div>
    {%- if data.groups -%}
    <div id="filter-dropdown" class="yt-uix-expander-body">
        {%- for group in data.groups -%}
            {%- if group.searchFilterGroupRenderer -%}
                {%- set this = group.searchFilterGroupRenderer -%}
                <div class="filter-col">
                    <h4 class="filter-col-title">{{ getText(this.title) }}</h4>
                    <ul>
                        {%- for sFilter in this.filters -%}
                            {%- if sFilter.searchFilterRenderer -%}
                                {%- set thisF = sFilter.searchFilterRenderer -%}
                                <li>
                                    {%- if not thisF.status or (thisF.status == "FILTER_STATUS_SELECTED" and thisF.navigationEndpoint) -%}
                                    <a href="{{ getUrl(thisF) }}" class="filter {{ thisF.status == "FILTER_STATUS_SELECTED" ? "filter-selected" }} spf-link" title="{{ thisF.tooltip }}" aria-label="{{ thisF.tooltip }}">
                                        <span class="filter-text filter-ghost">{{ getText(thisF.label) }}</span>
                                        {{ thisF.status ? '<span class="yt-close">×</span>' }}
                                    </a>
                                    {%- elseif thisF.status == "FILTER_STATUS_SELECTED" -%}
                                    <span class="filter filter-selected filter-sort" title="{{ thisF.tooltip }}">
                                        <span class="filter-text" aria-label="{{ thisF.tooltip }}">{{ getText(thisF.label) }}</span>
                                    </span>
                                    {%- elseif thisF.status == "FILTER_STATUS_DISABLED" -%}
                                    <span class="filter filter-disabled" title="{{ thisF.tooltip }}">
                                        <span class="filter-text" aria-label="{{ thisF.tooltip }}">{{ getText(thisF.label) }}</span>
                                    </span>
                                    {%- endif -%}
                                </li>
                            {%- endif -%}
                        {%- endfor -%}
                    </ul>
                </div>
            {%- endif -%}
        {%- endfor -%}
            {%- if data.clearAll -%}
            <div class="clear-filters">
                <a href="{{ getUrl(data.clearAll) }}" class="filter spf-link">{{ getText(data.clearAll) }}</a>
            </div>
            {%- endif -%}
    </div>
    {%- endif -%}
</div>
{% endmacro %}