{% import "core/macros.twig" as core %}
<html>
    <head>
        <title>404 Not Found</title>
        {{ core.css("www-core") }}
        {{ core.css("www-error") }}
        {{ core.css("www-pageframe") }}
        <style name="www-roboto">@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'),local('Roboto-Medium'),url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc9.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto Regular'),local('Roboto-Regular'),url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:italic;font-weight:500;src:local('Roboto Medium Italic'),local('Roboto-MediumItalic'),url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51S7ACc6CsE.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:italic;font-weight:400;src:local('Roboto Italic'),local('Roboto-Italic'),url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xIIzc.ttf)format('truetype');}</style>
        {% if yt.config.useRingoBranding %}
        {% include 'experiment/ringo/ringo.twig' %}
        {% endif %}
    </head>
    <body class="{{ yt.config.useRingoBranding ? "exp-invert-logo" }}">
        <div id="error-page">
            <div id="error-page-content">
                <img src="/yts/img/ringo/img/image-hh-404-vflP3hqNT.png" alt="" id="error-page-hh-illustration">
                <p>This page isn't available. Sorry about that.</p>
                <p>Try searching for something else.</p>
                <div id="yt-masthead">
                    <a href="/" class="masthead-logo-renderer       spf-link "  id="logo-container" title="YouTube Home">  <span title="YouTube Home" class="logo masthead-logo-renderer-logo yt-sprite"></span></a>
                    <form id="masthead-search" class="search-form consolidated-form" action="/results" onsubmit="if (document.getElementById('masthead-search-term').value == '') return false;" data-clicktracking="CAIQ7VAiEwji18z73-raAhUQO38KHYD9Cikojh4">
                        <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-default search-btn-component search-button" type="submit" onclick="if (document.getElementById('masthead-search-term').value == '') return false; document.getElementById('masthead-search').submit(); return false;;return true;" tabindex="2" id="search-btn" dir="ltr"><span class="yt-uix-button-content">Search</span></button>
                        <div id="masthead-search-terms" class="masthead-search-terms-border " dir="ltr"><input id="masthead-search-term" autocomplete="off" onkeydown="if (!this.value &amp;&amp; (event.keyCode == 40 || event.keyCode == 32 || event.keyCode == 34)) {this.onkeydown = null; this.blur();}" class="search-term masthead-search-renderer-input yt-uix-form-input-bidi" name="search_query" value="" type="text" tabindex="1" placeholder="Search" title="Search" aria-label="Search" spellcheck="false" style="outline: currentcolor none medium;"></div>
                     <div class="gsfi" style="background: transparent none repeat scroll 0% 0%; color: rgb(0, 0, 0); padding: 0px; position: absolute; white-space: pre; visibility: hidden;"></div></form>
                </div>
            </div>
            <span id="error-page-vertical-align"></span>
        </div>
        {{ core.js("www-notfound/www-notfound") }}
        <script>
            yt.setConfig({'SBOX_JS_URL': "{{ jsPath("www-searchbox/www-searchbox", ytConstants) }}",'SBOX_SETTINGS': {"REQUEST_DOMAIN": "us", "REQUEST_LANGUAGE": "en", "HAS_ON_SCREEN_KEYBOARD": false},'SBOX_LABELS': {"SUGGESTION_DISMISS_LABEL": "Dismiss", "SUGGESTION_DISMISSED_LABEL": "Suggestion dismissed"}});
            yt.www.notfound.init();
          </script>
    </body>
</html>