{% extends "core.twig" %}

{%- block title -%}
Rehike Version - {{ parent() }}
{%- endblock -%}

{%- block body_class -%}
{{ parent() }} rehike rehike-version-page
{%- endblock -%}

{%- block content -%}
	{# Early stylesheet #}
	<style>
		body.rehike-version-page
		{
			min-width: 850px;
		}
		
		.rehike-version-page .yt-base-gutter
		{
			min-width: 790px;
		}
	
		#rehike-version .header
		{
			border-bottom: 1px solid #e2e2e2;
			padding: 12px;
			height: 30px;
		}
		
		#rehike-version .header-left
		{
			float: left;
		}
		
		#rehike-version .header-left .header-text
		{
			margin-top: 3px;
		}
		
		#rehike-version .header-right
		{
			float: right;
		}
		
		#rehike-version-content
		{
			padding: 12px;
		}
		
		#rehike-brand-header
		{
			margin-bottom: 16px;
		}
		
		.rehike-brand-text, .rehike-brand-nightly
		{
			color: #333;
			font-weight: 500;
			font-size: 32px;
		}
		
		.rehike-brand-nightly
		{
			color: #62287b;
			font-weight: 700;
			transition: ease-in color 100ms;
		}

		.rehike-brand-nightly:hover
		{
			color: #7c339b;
		}
		
		.rehike-version-logo-content
		{
			display: inline-block;
			vertical-align: middle;
			margin-left: 20px;
			font-size: 32px;
		}
		
		.rehike-version-text
		{
			color: #565656;
			font-size: 16px;
		}
		
		.rehike-version-notice
		{
			border-top: 1px solid #e2e2e2;
			text-align: center;
			margin-top: 12px;
			padding-top: 12px;
		}
		
		.rehike-version-notice > *
		{
			margin: 0 auto;
		}
		
		.rehike-version-notice:first-child
		{
			margin-top: 0;
			padding-top: 0;
			border-top: none;
		}
		
		.rehike-version-notice .notice-header
		{
			width: 700px;
			font-size: 26px;
			color: #000;
			margin-bottom: 6px;
		}
		
		.rehike-version-notice .notice-description
		{
			display: block;
			width: 600px;
			font-size: 16px;
			color: #666;
		}
		
		#rehike-info-nightly
		{
			margin-top: 0px;
			border-top: 1px solid #e2e2e2;
			padding-top: 6px;
		}
		
		#rehike-info-nightly .commit-head
		{
			margin-top: 6px;
			line-height: 20px;
			/* temporary */
			margin-left: 60px;
		}

		#rehike-info-nightly .commit-name
		{
			color: #000;
		}

		#rehike-info-nightly .commit-branch
		{
			color: #111;
			font-weight: 500;
		}

		#rehike-info-nightly .commit-branch::after
		{
			content: "•";
			margin: 0px 4px;
			font-weight: 500;
			color: #000;
		}

		#rehike-info-nightly .commit-button
		{
			height: 20px;
			margin-top: 4px;
		}

		#rehike-version .commit-hash
		{
			font-family: monospace;
			background: #eee;
			border: 1px solid #ddd;
			padding: 1px 2px;
			display: inline;
		}
		
		#rehike-version .commit-name
		{
			font-size: 18px;
		}
		
		#rehike-version .commit-time
		{
			display: block;
			color: #333;
		}
		
		.rehike-version-mini-logo
		{
			background: url(/rehike/static/version/logo_small_grey.png);
			width: 89px;
			height: 30px;
		}
		
		.rehike-version-logo
		{
			background: url(/rehike/static/version/logo.png);
			width: 156px;
			height: 179px;
			vertical-align: middle;
			margin-left: 16px;
		}

		.branch-icon
		{
			background: url(/rehike/static/version/branch_icon.png);
			width: 42px;
			height: 38px;
			position: absolute;
			margin-top: 8px;
			margin-left: 5px;
		}
	</style>
    {% set page = yt.page %}
    <div id="rehike-version" class="yt-card">
        <div class="header">
            <span class="header-left">
                <h1 class="header-text">{{ page.headingText }}</h1>
            </span>
            <span class="header-right">
                <span class="rehike-version-mini-logo yt-sprite"></span>
            </span>
        </div>
        <div id="rehike-version-content">
			{%- if page.brandName -%}
				<div id="rehike-brand-header">
					{% apply spaceless %}
					<span class="rehike-version-logo yt-sprite"></span>
					<span class="rehike-version-logo-content">
						<span class="rehike-brand-text">{{ page.brandName }}</span>
					{% endapply %}
						{% if page.nightlyNotice %}
							<span class="rehike-brand-nightly yt-uix-tooltip" title="{{ page.nightlyNotice.tooltip }}"> {{ page.nightlyNotice.text }}</span>
						{% endif %}
						<div class="rehike-version-text">{{ page.version }}</div>
					</span>
				</div>
			{%- endif -%}
            {%- if page.nightlyInfo -%}
                {% set info = page.nightlyInfo %}
                <div id="rehike-info-nightly">
                    <h1>{{ info.headingText }}</h1>
					<div class="branch-icon yt-sprite"></div>
                    <div class="commit-head">
						{% apply spaceless %}
                        <h3 class="commit-name">{{ info.commitName }}</h3>
						<span class="commit-branch">{{ info.branch }}</span>
						<span class="commit-hash yt-uix-tooltip" title="{{ info.fullCommitHash }}" data-full-hash="{{ info.fullCommitHash }}" data-tooltip-show-delay="600">{{ info.commitHash }}</span>
                        <span class="commit-time">{{ info.commitDateTime }}</span>
						{% if info.ghButton %}
							<a href="{{ info.ghButton.endpoint }}" target="_blank" class="commit-button yt-uix-button yt-uix-button-default">{{ info.ghButton.label }}</a>
						{% endif %}
						{% endapply %}
                    </div>
                </div>
            {%- endif -%}
			{%- if page.failedNotice -%}
                {{ _self.notice(page.failedNotice, "rehike-version-failed-notice") }}
            {%- endif -%}
            {%- if page.nonGitNotice -%}
                {{ _self.notice(page.nonGitNotice, "rehike-version-non-git-notice") }}
            {%- endif -%}
        </div>
    </div>
{%- endblock -%}

{%- macro notice(data, id) -%}
	<div {% if id %} id="{{ id }}" {% endif %}
	     class="rehike-version-notice"
    >
		<div class="notice-header">{{ data.text }}</div>
		{%- if data.description -%}
			<span class="notice-description">{{ data.description }}</span>
		{%- endif -%}
	</div>
{%- endmacro -%}