{% extends "core.twig" %}

{% set appbarEnabled = true %}
{% set defaultGuideVisibility = false %}
{% set defaultAppbarVisibility = false %}
{% set enableSnapScaling = true %}
{% set flexWidthSnapDisabled = true %}

{% block head_css %}
{% import 'core/macros.twig' as core %}
{{ core.css("www-account-settings") }}
{{ core.css("www-creatorpage") }}
<link rel="stylesheet" href="{{ rehike.resource.resolveVersioned("rehike/css/www-rehike-panel.css") }}">
<link rel="stylesheet" href="{{ rehike.resource.resolveVersioned("rehike/css/www-rehike-config.css") }}">
{% endblock %}

{% block content %}
{% embed "rehike/panel/base.twig" %}

{% block creator_page_content_class %}account-settings-container{% endblock %}

{% macro checkbox_renderer(this) %}
    <label>
        <span class="rehike-config-option rehike-config-option-bool yt-uix-form-input-checkbox-container {{ this.checked ? "checked" }}" data-cfg-name="{{ this.name }}" data-original-value="{{ this.checked ? 'true' : 'false' }}">
            {# Weird display bug occurs here #}
            <input type="checkbox" class="yt-uix-form-input-checkbox setting-checkbox"{{ this.checked ? ' checked="checked"' }}>
            <span class="yt-uix-form-input-checkbox-element"></span>
        </span>
        {{ this.title }}
        {% if this.subtitle %}
        <p class="setting-reminder">
            {{ this.subtitle }}
        </p>
        {% endif %}
    </label>
{% endmacro %}

{% macro select_renderer(this) %}
    {{ this.label }}
    <span class="rehike-config-option rehike-config-option-enum yt-uix-form-input-select" data-cfg-name="{{ this.name }}" data-original-value="{{ this.selectedValue }}">
        <span class="yt-uix-form-input-select-content">
            <span class="yt-uix-form-input-select-arrow yt-sprite"></span>
            <span class="yt-uix-form-input-select-value"></span>
        </span>
        <select class="yt-uix-form-input-select-element setting-dropdown-list" aria-label="{{ this.label }}">
            {% for value in this.values %}
            <option value="{{ value.value }}"{{ value.selected ? ' selected=""' }}>{{ value.text }}</option>
            {% endfor %}
        </select>
    </span>
{% endmacro %}

{% macro textbox_renderer(this) %}
    <label>
        {{ this.label }}
        <span class="{{ [
                'rehike-config-option',
                'rehike-config-option-string',
                'yt-uix-form-input-text-container',
            ]|join(' ') }}" data-cfg-name="{{ this.name }}"
            data-original-value="{{ this.value }}">
            <input class="yt-uix-form-input-text" 
                type="text"
                placeholder="{{ this.defaultValue }}"
                value="{{ this.value }}">
        </span>
        {% if this.subtitle %}
            <p class="setting-reminder">
                {{ this.subtitle }}
            </p>
        {% endif %}
    </label>
{% endmacro %}

{% macro try_render_associative_prop(option) %}
    {% if option.checkboxRenderer %}
        {{ _self.checkbox_renderer(option.checkboxRenderer) }}
    {% elseif option.selectRenderer %}
        {{ _self.select_renderer(option.selectRenderer) }}
    {% elseif option.textboxRenderer %}
        {{ _self.textbox_renderer(option.textboxRenderer) }}
    {% elseif option.dependentPropertyRenderer %}
        {% set this = option.dependentPropertyRenderer %}
        <div class="dependent-property" data-condition="{{ this.condition }}">
            {{ _self.try_render_associative_prop(this.content) }}
        </div>
    {% endif %}
{% endmacro %}

{% macro render_inner() %}
<form id="rehike-config-form" onsubmit="event.preventDefault();return!1">
    <div class="account-content">
        <script>
            window._rehikeFullConfig = {{ rehike.config|json_encode|raw }};
        </script>
        <div class="account-section rehike-config-options-container">
            {% for option in yt.page.content.contents %}
            <div class="account-section-setting">
                {% if option.propertyGroupRenderer %}
                    <div class="property-group">
                        {% for option in option.propertyGroupRenderer.contents %}
                            <div class="property-group-setting">
                                {{ _self.try_render_associative_prop(option) }}
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ _self.try_render_associative_prop(option) }}
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <hr class="yt-horizontal-rule">
        <div class="account-footer">
            {% from "common/uix/button.twig" import render as button %}
            {{ button(yt.page.content.saveButton, null, "rehike-config-save-button") }}
        </div>
    </div>
</form>
{% endmacro %}

{% macro render_scripts() %}
<script type="text/javascript" src="{{ rehike.resource.resolveVersioned("rehike/js/www-rehike-config.js") }}"></script>
<script>
    rehike.config.init();
</script>
{% endmacro %}

{% block creator_page_content %}
    {% from "rehike/panel/content.twig" import render as panel_content %}
    {{ panel_content({
        title: yt.page.content.title,
        inner_content: _self.render_inner(),
        footer_content: _self.render_scripts()
    }) }}
{% endblock %}

{% endembed %}
{% endblock %}