{% macro render(nav) %}
<div id="appbar-nav" class="appbar-content-hidable">
   {% if nav.owner %}
   <a href="{{ nav.owner.href }}">
      <img class="appbar-nav-avatar" src="{{ nav.owner.thumbnail }}" title="{{ nav.owner.title }}" alt="{{ nav.owner.title }}" height="23" width="23">
   </a>
   {% endif %}
   <ul class="appbar-nav-menu">
      {%- for item in nav.items -%}
         <li>
         {%- if item.selected or item.status == 2 -%}
            <h2 class="epic-nav-item-heading" aria-selected="true">
               {{ item.title }}
            </h2>
         {% else %}
            <a href="{{ item.href }}" class="yt-uix-button {{ item.status == 1 ? "partially-selected" }} spf-link  yt-uix-button-epic-nav-item yt-uix-button-size-default"  aria-selected="false">
               <span class="yt-uix-button-content">{{ item.title }}</span>
            </a>
         {% endif %}
         </li>
      {% endfor %}
   </ul>
</div>
{% endmacro %}