{% macro notification_item(data) %}
{% if data.notificationRenderer %}
{% set this = data.notificationRenderer %}
{% from "core/html/img.twig" import img %}
{% import "common/uix/button.twig" as button %}
<li>
    <div class="feed-item-container yt-lockup yt-lockup-tile yt-lockup-notification yt-uix-tile  clearfix yt-uix-post-anchor yt-uix-post-anchor" data-post-action="/service_ajax?name=recordNotificationInteractionsEndpoint" data-post-data="{{ this.recordClickEndpoint.recordNotificationInteractionsEndpoint.serializedInteractionsRequest }}">
        <div class="feed-item-dismissible">
            <div class="notification-avatar">
                {% if not this.read %}<div class="unread-dot"></div>{% endif %}
                <div class="yt-thumb video-thumb">
                    <span class="yt-thumb-simple">
                        {{ img({
                            src: getThumb(this, 40),
                            width: 40,
                            height: 40,
                            onload: ";window.__ytRIL && __ytRIL(this)",
                            ytImg: 1
                        }) }}
                    </span>
                </div>
            </div>
            <div class="yt-lockup-content">
                <h3 class="yt-lockup-title">
                    <a class="yt-uix-tile-link yt-ui-ellipsis yt-ui-ellipsis-6  spf-link " href="{{ this.navigationEndpoint.getCommentsFromInboxCommand ? "/watch?v=" ~ this.navigationEndpoint.getCommentsFromInboxCommand.videoId ~ "&lc=" ~ this.navigationEndpoint.getCommentsFromInboxCommand.linkedCommentId : getUrl(this) }}" title="{{ getText(this.shortMessage) }}">{{ getText(this.shortMessage) }}</a>
                    <span class="accessible-description" id="description-id-{{ random(10000, 99999) }}"> - Notification</span>
                </h3>
                <ul class="yt-lockup-byline">
                    <li>{{ getText(this.sentTimeText) }}</li>
                </ul>
            </div>
            {% if this.videoThumbnail %}
            <div class="notification-thumb">
                <div class="yt-thumb video-thumb">
                    <span class="yt-thumb-simple">
                        {{ img({
                            src: getThumb(this.videoThumbnail, 54),
                            width: 72,
                            height: 54,
                            onload: ";window.__ytRIL && __ytRIL(this)",
                            ytImg: 1
                        }) }}
                    </span>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</li>
{% endif %}
{% endmacro %}